﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    ViewBag.Title = "Shopping Bag";
    ViewBag.description = "Rogan’s Shoes Shopping Bag";
}
<div class="main-wrapper">
    <div class="container">
        <div>
            <div class="col-xs-12 nopadding shopping-cart">
                <div id="divShoppingCart">
                    @Html.Partial("_shoppingCart", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&v=3&libraries=geometry" type="text/javascript"></script>

<script>
    $(document).ready(function () {
            $("input[data-pickup='pickup']:checked").each(function () {
                var productid = $(this).attr('name');
                var sku = $(this).attr('data-sku');
                InStorePickUp.prototype.GetStockForSelectedStoreCart(sku, productid);
        });
        
        @*$("input[data-ship='ship']:checked").each(function () {
            if ('@insufficientQuantity' == 'True') {              
           $(".checkout").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
                $("#paypal-express-checkout").addClass('disable-anchor');
                var productid = $(this).attr('name');
                $("#avl_quantity_error_msg_" + productid).val("Exceeding available quantity");
       }
           
        });*@
        });
</script>

