﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<div class="container-fluid">
    <div class="row">
        <div class="col p-0 home-slider">
            <!--Home Page Slider Widget-->
            <z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col advertisement-banner">
            <!--Advertisement Banner Widget-->
            <z-widget>@Html.WidgetPartial("OfferBanner", "AdvertisementBanner", "110", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>

<div class="container-fluid featured-products">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col featured-products-block">
                    <h3 class="product-list-title key-FeaturedProductTitle">@Html.RenderMessage("FeaturedProductTitle")</h3>
                    <z-widget>@Html.WidgetPartial("ProductList", "Featured Products", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId) </z-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col p-0">
            <!--BestSelling Widget-->
            <h3 class="product-list-title key-FeaturedProductTitle">@Html.RenderMessage("FeaturedDepartmentsTitle")</h3>
            <z-widget>@Html.WidgetPartial("CategoryList", "Category List", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>