﻿@using Znode.Engine.WebStore.ViewModels
@model EmailAFriendViewModel
@{
    Layout = null;
}
<div id="modelEmailToFriend" class="modal fade" role="dialog">
    <div class="compare-product-popup">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                    <h4 class="modal-title">@Admin_Resources.EmailAFriend</h4>
                </div>
                @using (Ajax.BeginForm("SendMailToFriend", "Product", new AjaxOptions { OnBegin = "Product.prototype.EmailToFriendBegin();", OnSuccess = "Product.prototype.EmailToFriendSuccess();", OnFailure = "Product.prototype.EmailToFriendFailure();", HttpMethod = "Post" }))
                {
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.YourMailId, new { @class = "", @required = "required" })
                                <label alt="@WebStore_Resources.LabelSenderMailId" placeholder="@WebStore_Resources.LabelSenderMailId"></label>
                                @Html.HiddenFor(model => model.ProductName)
                                @Html.ValidationMessageFor(model => model.YourMailId)
                            </div>

                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.FriendMailId, new { @class = "", @required = "required" })
                                <label alt="@WebStore_Resources.LabelRecieverMailId" placeholder="@WebStore_Resources.LabelRecieverMailId"></label>
                                @Html.ValidationMessageFor(model => model.FriendMailId)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button id="btnSendMail" class="btn btn-primary pull-right" type="submit">Send Mail</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {        
        $.validator.unobtrusive.parse($("#btnSendMail").closest("form"));
    });
</script>