﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    bool addToCartDisabled = Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string PDPDesignView = Attributes.ValueFromSelectValue(Model?.Attributes, "PDPDesignTemplate");
    string FitGuideLink = Model.Attributes?.Value("FitGuideLink");
    Model.ConfigurableData.Custom1 = FitGuideLink;
    string IsProductShipOnly = Model.Attributes.FirstOrDefault(y => y.AttributeCode == "IsAvailableOnlineOnly")?.AttributeValues;
    <!--Start Pickup store-->
    if (Model.Custom1 != null && Model.Custom1.ToString() != "")
    {
        Model.CartParameter.Add("Custom1", Model.Custom1.ToString());
        Model.CartParameter.Add("Custom2", Model.Custom2.ToString());
        Model.CartParameter.Add("Custom3", Model.Custom3.ToString());
    }
    else
    {
        Model.CartParameter.Add("Custom1", "");
        Model.CartParameter.Add("Custom2", "");
        Model.CartParameter.Add("Custom3", "");
    }
    Model.CartParameter.Add("Custom5", IsProductShipOnly);
    <!--End Pickup store-->
    string ipAddress = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
    if (string.IsNullOrEmpty(ipAddress))
    {
        ipAddress = Request.ServerVariables["REMOTE_ADDR"];
    }
    ViewBag.IPAddress = ipAddress;
    string res = "https://ipinfo.io/" + ipAddress + "/json";

}
<input type="hidden" id="hdnIPAddress" value="@res" />

@if (Model.IsConfigurable)
{
    Model.ConfigurableData.Custom5 = Model.Custom5;
    Model.ConfigurableData.Custom4 = Model.Custom4;
    if (PDPDesignView == "Swatch View" || PDPDesignView == null)
    {
        @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
    }
    else
    {
        @Html.Partial("_ConfigurableAttributeDDL", Model.ConfigurableData)
    }
}
@{
    @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)

    <!--Start Pickup store-->
    <input type="hidden" id="SelectedWarehouseId">
    <input type="hidden" id="SelectedWarehouseName">
    <input type="hidden" id="SelectedWarehouseAddress">
    @Html.Hidden("IsProductShipOnly", IsProductShipOnly)
    <div class="col-lg-12 nopadding border-top-pdp">
        <div class="col-lg-12 col-xs-12 nopadding  margin-bottom">
            @if (IsProductShipOnly == "true")
            {
                @Html.RenderMessage("OnlineExclusiveImage")
            }
        </div>
        <div class="col-xs-12 nopadding styled-input margin-bottom-5">
            @if (IsProductShipOnly == "false" || IsProductShipOnly == null)
            {
                <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="RemoveStoreDetails();" />
                <label class="set-radio-btn" for="Ship" title="SHIP">SHIP</label>
                <br />
                if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                {
                    <input type="radio" id="Pickup" name="radio123" value="2" onclick="AssignStoreDetails('@Model.Custom1','@Model.Custom2','@Model.Custom3');" />
                    <label class="set-radio-btn" for="Pickup" title="PICK UP IN STORE (FREE)">PICK UP IN STORE (FREE)</label>
                }
                else
                {
                    <input type="radio" id="Pickup" name="radio123" value="2" data-toggle="modal" data-target="#searchstore" />
                    <label class="set-radio-btn" for="Pickup" title="PICK UP IN STORE (FREE)">PICK UP IN STORE (FREE)</label>
                }

                <div id="defaultstorename">
                    @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                    {

                        <label class='storename'>@Model.Custom2.ToString()</label><span class='select-store'><a style='text-decoration: underline;' data-toggle='modal' data-target='#searchstore' href='#' title="Change Store">Change Store</a></span>
                    }
                </div>
            }
            else
            {
                <div class="col-xs-12 nopadding GreyOut margin-top">
                    <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="RemoveStoreDetails();" />
                    <label class="set-radio-btn" for="Ship" style="cursor: not-allowed;" title="SHIP">SHIP</label>
                    <br />
                    <input type="radio" id="Pickup" name="radio123" value="2" onclick="" disabled />
                    <label class="set-radio-btn" for="Pickup" style="cursor: not-allowed;" title="PICK UP IN STORE (Not Available)">PICK UP IN STORE (Not Available)</label>
                </div>
            }
        </div>
    </div>
    <br />
    <div id="searchstore" hidden="hidden" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:#F7F7F7">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">&times;  </button>
                    <button id="search" class="btn btn-location text-uppercase" onclick="GetLocation('pdp');" title="@WebStore_Resources.ButtonUseMyCurrentLocation"><i class="fa fa-map-marker"></i> @WebStore_Resources.ButtonUseMyCurrentLocation</button>
                </div>
                <div class="modal-body">
                    <div id="storedetails" hidden="hidden"></div>
                </div>
                <div class="modal-footer" style="border-top: none;"></div>
            </div>
        </div>
    </div>
    <!--End Pickup store-->

    <div class="col-xs-12 nopadding your-pricing margin-top">
        <div class="col-xs-6 nopadding padding-top-10 hidden-lg hidden-md visible-xs">
            @if (!IsCallForPricing && !isGroupProduct)
            {
                <div class="PriceContent pull-left">
                    <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                </div>
            }
            @if (IsCallForPricing)
            {
                <div class="PriceContent pull-left"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
            }
        </div>
        <div class="col-lg-3 col-xs-6 nopadding margin-bottom">
            <div class="form-group">
                <div class="col-xs-12 nopadding product-details-qty text-center" id="product-details-quantity">
                    <input type="text" maxlength="3" data-test-selector="txtQuantity" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" title="Quantity" class="quantity" @(addToCartDisabled ? "disabled" : "") id="Quantity" style="margin-top:0px;">
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12 nopadding">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-12 col-md-12 AddToCartButton margin-minus-10">
                    @if (Request.Browser.IsMobileDevice)
                    {
                        if (PDPDesignView == "Swatch View" || PDPDesignView == null)
                        {
                            @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile", "Product.prototype.ValidateSwatch(this,event)", disable, "RedirectToCart()")
                        }
                        else
                        {
                            @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile", "Product.prototype.Validate(this,event)", disable, "RedirectToCart()")
                        }
                    }
                    else
                    {
                        //Desktop view
                        if (PDPDesignView == "Swatch View" || PDPDesignView == null)
                        {
                            @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile", "Product.prototype.ValidateSwatch(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
                        }
                        else
                        {
                            @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile", "Product.prototype.Validate(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
                        }
                    }

                </div>
            </div>
        </div>
        <div class="col-xs-12 nopadding">
            @{
                string InventoryMessage = Model.InventoryMessage == "Out of stock" ? Model.InventoryMessage : "";

            }
            <div data-test-selector="lblQuantityErrMsg" id="quantity-error-msg" class="error-msg">@InventoryMessage</div>
        </div>
        
    </div>
    @Html.Hidden("WebstoreURL", @ZnodeWebstoreSettings.ZnodeWebStoreUri);
}

<script src="~/Views/Themes/RogansShoes/Scripts/lib/PickUpInStore.js" async></script>
