﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel

@{
    Model.Attributes = Model.Attributes.OrderBy(x => x.DisplayOrder).ToList();
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }

    var productsVariants = Model.Attributes.Where(x => x.IsConfigurable).ToList();
    string productType = Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool imageIsComparable = (Model.Attributes.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.ProductImage)?.IsComparable).GetValueOrDefault();
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    bool isPersonalisable = Model.Attributes.Where(x => x.IsPersonalizable == true).Select(x => x.IsPersonalizable).FirstOrDefault();
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    Model.CartParameter.Add("IsRedirectToCart", "False");
}

<div class="col-xs-12 nopadding product-item CompareProductWrapper">
    <a href="" class="Button Remove" alt="remove" onclick="Category.prototype.RemoveProduct('@Model.PublishProductId')" title="@WebStore_Resources.LinkTextRemove" data-productid="@Model.PublishProductId">Remove</a>
    <div class="minheightcompare">
        @*@if (imageIsComparable)
        {*@ 
        <div class="col-xs-12 nopadding">
            <img src="@Model.ImageThumbNailPath" alt="@Attributes.Value(Model.Attributes, "ImageAltText")" class="img-responsive" />
        </div>
        @*}*@
        <div class="form-group">
            <!--Rating-->
            <div class="col-xs-12 nopadding product-details">
                <div class="StarRating pull-left">
                    <span class="RatingImage">
                        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile" class="star-@Model.Rating" title="Star Rating for @Model.Name">Star</a>
                    </span>
                </div>
            </div>
            <!--Product Name-->
            <div class="col-xs-12 nopadding caompareproname">
                @if (string.IsNullOrEmpty(Model.Name))
            {
                    @Html.Label("-")
                }
                else
                {
                    @WebUtility.HtmlDecode(Model.Name)
                }
            </div>

            <!--Price call-->
            <div class="col-xs-12 nopadding">
                @if (!IsCallForPricing)
            {

                    <div class="Price">
                        @if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                {
                            <span class="RedPrice">@Model.GroupProductPriceMessage</span>
                        }
                        else
                        {
                            if (!Equals(Model.SalesPrice, null))
                            {
                                <span class="RedPrice">
                                    @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                </span>
                                if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                {
                                    
                                }
                            }
                            else
                            {
                                if (Model.PromotionalPrice > 0)
                                {
                                    <span class="RedPrice">
                                        @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                    </span>
                                }
                                else
                                {
                                    <span class="RedPrice">
                                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                    </span>
                                }
                            }
                        }
                    </div>
                }

            </div>

            <!--Varients-->

            @if (Equals(productType, ZnodeConstant.ConfigurableProduct))
            {
                if (productsVariants?.Count > 0)
                {
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelVariants)
                        </div>
                        <div class="col-xs-12 nopadding product-rating">
                            <ul class="product-variants">
                                @foreach (var item in productsVariants)
                                {
                                    if (item?.ConfigurableAttribute?.Count > 0)
                                    {
                                        <li>
                                            <span>@item.AttributeName:&nbsp;</span>
                                            <span>@string.Join(", ", item.ConfigurableAttribute.Select(x => x.AttributeValue))</span>
                                        </li>

                                    }

                                }
                            </ul>
                          
                        </div>
                    </div>
                }
            }

        </div>



        @{
            Model.Attributes.RemoveAll(x => x.IsComparable == false || x.AttributeTypeName == ZnodeConstant.Link || x.AttributeCode == ZnodeConstant.ProductImage || string.IsNullOrEmpty(x.AttributeValues));
        }
        <div class="col-xs-12 nopadding text-justify hidden">
            @foreach (var attribute in Model.Attributes)
            {
                if (string.Equals(attribute.AttributeName, "Product Specification", StringComparison.InvariantCultureIgnoreCase))
                {
                    <div class="col-xs-12 nopadding">
                        @Html.Label(attribute.AttributeName)
                    </div>
                    if (attribute.AttributeTypeName == "Yes/No")
                    {
                        if (attribute.AttributeValues == "true")
                        {
                            <div class="col-xs-12 nopadding">
                                <i class='zf-active'></i>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12 nopadding">
                                <i class='zf-inactive'></i>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding">
                            <p>@Html.Raw(attribute.AttributeValues)</p>
                        </div>
                    }
                }
            }
        </div>
    </div>


    <div class="col-xs-12 nopadding margin-top text-center">
        @if (IsCallForPricing)
        {
            <div class="price margin-bottom error-msg text-center"><strong>@callForPricingMessage</strong></div>
        }
        else if (Equals(productType, ZnodeConstant.GroupedProduct) || Equals(productType, ZnodeConstant.ConfigurableProduct))
        {
            <button type="button" class="btn btn-primary margin-bottom margin-top" onclick="javascript: location.href = '@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())'" id="Model.PublishProductId"> @WebStore_Resources.ButtonViewDetails</button>
        }
        else if (isPersonalisable)
        {
            <button type="button" class="btn btn-primary margin-bottom margin-top" onclick="javascript: location.href = '@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())'" id="Model.PublishProductId"> @WebStore_Resources.ButtonViewDetails</button>
        }
        else if (!Model.ShowAddToCart)
        {
            <div class="status-outofstock margin-bottom error-msg text-center"><strong>@Model.InventoryMessage</strong></div>
        }
        else
        {
            @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCart", Model.CartParameter, "btn-text-full btn-bg-primary pull-right margin-bottom", "Product.prototype.GetProductOutOfStockDetails(this, event)", disable)
        }
    </div>

</div>

