﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.ViewModels
@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomeField)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string IsMappedPrice = Model.Attributes?.Value("IsMappedPrice");
    bool bvalue = (IsMappedPrice == "true" ? true : false);
}

<div class="col-lg-12 nopadding-mobile margin-top hidden-xs">
    <h1 class="ProductTitle product-name">@Html.RenderBlock(Model.Name)</h1>
</div>
<div class="col-xs-12 nopadding margin-top-bottom-mobile hidden-lg hidden-md visible-xs">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
    }
    @if (!IsCallForPricing && !isGroupProduct)
    {
        if (bvalue == true)
        {
            <div class="PriceContent">
                <span class="Price pull-left">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
            </div>
        }
        else
        {
            <div class="PriceContent">
                <span class="SalePrice pull-left">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
            </div>
        }
    }
    @if (IsCallForPricing)
            {
        <div class="PriceContent pull-left"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
    }
</div>
<div class="col-xs-12 nopadding-mobile">
    <div class="product-number-details">
        <div class="product-rating">
            <spn href="#panel-2" onclick="scroll_to_div('panel-2')" style="cursor:default;">
                @Html.Partial("_StarRating", Model.Rating, new ViewDataDictionary { { "StarRatingTitle", @WebUtility.HtmlDecode(Model.Name) } })
                @{
                    int totalreviews = 0;
                    totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
                    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
                }
            </spn>
            <span href="#panel-2" onclick="scroll_to_div('panel-2')" style="cursor:default;">@ratingText &nbsp;</span>
            <a href="/Product/writereview?id=@productId&path=@Model.ImageSmallPath" title="@WebStore_Resources.LinkTextReadReviews">@WebStore_Resources.LinkTextReadReviews</a>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-md-12 nopadding margin-bottom">
                <div class="col-lg-6 col-sm-4 col-md-4 col-xs-12 hidden-xs" style="display: inline-flex;">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive margin-right-5 hvr-pulse" />
                    }
                @if (!IsCallForPricing && !isGroupProduct)
                {
                    if (bvalue == true)
                    {
                            <div class="PriceContent">
                                <span class="Price">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                            </div>
                        }
                        else
                        {
                            <div class="PriceContent">
                                <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                            </div>
                        }
                    }
                    @if (IsCallForPricing)
            {
                        <div class="PriceContent"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
                    }
                    
                </div>
                <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12 text-right">
                    <div class="ProductNumbStock">
                        @Html.Hidden("sku", Model.SKU)
                        @if (!string.IsNullOrEmpty(Model.SKU))
            {
                            <span>@WebStore_Resources.LabelProductItem: #</span>
                            string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                string instockmessage = !string.IsNullOrEmpty(Model.InStockMessage) ? Model.InStockMessage : "In Stock";
                string outstockmessage = !string.IsNullOrEmpty(Model.OutOfStockMessage) ? Model.OutOfStockMessage : "Out of Stock";
                            @Html.RenderBlock(Model.SKU)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
