﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    Model.CartParameter.Add("IsRedirectToCart", "False");
}
<div class="col-xs-12 ProductAttributes product-info">
    <div class="OrderingOptions">
        <div class="col-xs-12 product-price nopadding">
            @if (isGroupProduct && !IsCallForPricing)
            {
                <h2>
                    <span id="groupproductmessage"></span>
                </h2>
            }
        </div>
        <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
        <div class="col-xs-12 nopadding">
            @{
                if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
                {
                    Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
                }
            }
        </div>

        <div class="col-xs-12 nopadding product-variations" id="scrollReview">
            <div class="col-xs-12 product-customize nopadding">
                <div class="col-xs-12 nopadding">
                    @if (PersonliseValues?.Count > 0)
                    {
                        Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
                        PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                        Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                    }
                </div>
                <div class="col-xs-12 tier-price">
                    @if (Model.TierPriceList?.Count > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tier Quantity</th>
                                    <th>Price/Item</th>
                                    <th>You Save</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TierPriceList)
                                {
                                    <tr>
                                        <td>@Convert.ToDouble(item.Quantity)</td>
                                        <td>@Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode) </td>
                                        @* Calculates the % savings on tier pricing *@
                                        <td>
                                            @if (Model.ProductPrice != null)
                                            {
                                                <span>@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="col-xs-12 addons-attributs">
                    @if (isGroupProduct)
                    {
                        var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                        <div id="groupProductList">
                            @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing });}
                        </div>
                        @Html.HiddenFor(m => m.ShowAddToCart)
                                }
                                else
                                {
                                    <div class="col-xs-12 nopadding-mobile" id="dynamic-product-variations">
                                        @Html.Partial("_ProductAttributes")
                                    </div>
                                }
                    <div class="col-xs-12" id="dynamic-product-addons">
                        @Html.Partial("_AddOns")
                    </div>
                    <div class="col-xs-12 shipping-details">
                        @Html.RenderMessage("DetailPageOneLineText")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



