﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@using System.Configuration
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }
    // Nivi code image changes start
    string PDPVideoURL = "";
    PDPVideoURL = Model.Attributes?.Value("VideoURL");
    if (PDPVideoURL != null)
    {
        PDPVideoURL = Model.Attributes?.Value("VideoURL");
    }
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "", BaseGalleryImage1 = "", BaseGalleryImage2 = "", BaseGalleryImage3 = "",
        BaseGalleryImage4 = "", BaseGalleryZoomImage1 = "", BaseGalleryZoomImage2 = "", BaseGalleryZoomImage3 = "",
        BaseGalleryZoomImage4 = "";
    string BaseGalleryAttImage1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage1"));
    string BaseGalleryAttImage2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"));
    string BaseGalleryAttImage3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage3"));
    string BaseGalleryAttImage4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage4"));
    string BaseGalleryAltAttText1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText1"));
    string BaseGalleryAltAttText2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText2"));
    string BaseGalleryAltAttText3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText3"));
    string BaseGalleryAltAttText4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText4"));
    Boolean IsAvailableGallery1 =false; Boolean IsAvailableGallery2 = false;
    Boolean IsAvailableGallery3 = false;Boolean IsAvailableGallery4 = false;
    if (Convert.ToString(Model.Attributes?.Value("BaseImage")) != null)
    {
        BaseImage = BaseImagePath + @"t_1000/" + Convert.ToString(Model.Attributes?.Value("BaseImage"));
    }
    if (BaseGalleryAttImage1 != null || Convert.ToString(BaseGalleryAttImage1) != string.Empty)
    {
        BaseGalleryImage1 = BaseImagePath + @"t_170/" + BaseGalleryAttImage1;
        BaseGalleryZoomImage1 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage1;
        IsAvailableGallery1 = true;
    }
    if (BaseGalleryAttImage2 != null)
    {
        BaseGalleryImage2 = BaseImagePath + @"t_170/" + BaseGalleryAttImage2;
        BaseGalleryZoomImage2 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage2;
        IsAvailableGallery2 = true;
    }
    if (BaseGalleryAttImage3 != null)
    {
        BaseGalleryImage3 = BaseImagePath + @"t_170/" + BaseGalleryAttImage3;
        BaseGalleryZoomImage3 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage3;
        IsAvailableGallery3 = true;
    }
    if (BaseGalleryAttImage4 != null)
    {
        BaseGalleryImage4 = BaseImagePath + @"t_170/" + BaseGalleryAttImage4;
        BaseGalleryZoomImage4 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage4;
        IsAvailableGallery4 = true;
    }
    // Nivi code image changes end
}

<style>
    #owl-demoImage .item img {
        display: block;
        width: 100%;
        height: auto;
        border: none;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-prev {
        left: -2rem;
    }
    .owl-next {
        right: -2rem;
    }
    .font-sizehome {
        opacity: 1;
    }
</style>
<div class="col-xs-12 nopadding simpleLens-gallery-container">
    <div class="col-lg-2 col-md-12 col-sm-2 col-xs-12 item nopadding order2" id="slider-thumbs" style="overflow:auto;">
        <div class="col-xs-12 nopadding product-altimages">
            <!--New Code For Image Gallary-->
            <div id="alt-images" class="owl-carousel owl-theme owl-themepdp">
                <!--Gallary Image Call-->
                @if(IsAvailableGallery1){
                <div class="item" id="image-1" onclick="setVisibility('VideoURL', 'none');" ;><a onclick="ChangeImage('@BaseGalleryZoomImage1')" href="#"><img src="" data-src=@BaseGalleryImage1 class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1"></a></div>
                }
                @if(IsAvailableGallery2){
                <div class="item" id="image-2" onclick="setVisibility('VideoURL', 'none');" ;><a onclick="ChangeImage('@BaseGalleryZoomImage2')" href="#"><img src="" data-src=@BaseGalleryImage2 class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText2" title="@BaseGalleryAltAttText2"></a></div>
                }
                @if(IsAvailableGallery3){
                <div class="item" id="image-3" onclick="setVisibility('VideoURL', 'none');" ;><a onclick="ChangeImage('@BaseGalleryZoomImage3')" href="#"><img src="" data-src=@BaseGalleryImage3 class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText3" title="@BaseGalleryAltAttText3"></a></div>
                }
                @if(IsAvailableGallery4){
                <div class="item" id="image-4" onclick="setVisibility('VideoURL', 'none');" ;><a onclick="ChangeImage('@BaseGalleryZoomImage4')" href="#"><img src="" data-src=@BaseGalleryImage4 class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText4" title="@BaseGalleryAltAttText4"></a></div>
                }
                <!-- Code by Nivi for VideoURL-->
                <div class="hidden-lg hidden-md visible-xs">
                    @if (PDPVideoURL != null)
                    {
                        <div class="item1">
                            <div class="VideoURL text-center">
                                <center><iframe class="YouTubeFrame" src="@PDPVideoURL"></iframe></center>
                            </div>
                        </div>
                    }
                </div>
                <div class="hidden-xs">
                    @if (PDPVideoURL != null)
                    {
                        <div class="item1">
                            <a href="#" class="thumbnail liVideoHide" onclick="setVisibility('VideoURL', 'inline');" ;>
                                <img src="~/Views/Themes/RogansShoes/Images/videoicon.jpg" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-lg-10 col-md-12 col-xs-12 image-view nopadding-right hidden-xs order1 nopadding-potrait">
        <div class="col-xs-12 nopadding" id="slider">
            <!-- Right side slider -->
            <div>
                <div class="col-sm-12 mobile-no-padding nopadding" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <!-- Image Call-->
                        <div class="active item" id="ImageZoom" data-slide-number="0" data-toggle="modal" data-target="#myModal">
                            <div class="simpleLens-container">
                                @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                                {
                                    @*<img src="~/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />*@
                                }
                                <div class="simpleLens-big-image-container image-view">

                                    <div class=" ex1 abc" id="image-1">
                                        <a href="@BaseImage" class="easyzoom-img">
                                            <img id="product-image" src="@BaseImage" class="imgfixed b-lazy" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Video Call-->
                        <div class="VideoURL text-center">
                            <center><iframe width="100%" height="400" class="YouTubeFrame" src="@PDPVideoURL"></iframe></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Image Modal View*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close closeset" type="button" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                <div>
                    <div id="owl-demoImage">
                        @if (IsAvailableGallery1)
                        {
                            <div class="item"><img src="" data-src="@BaseGalleryZoomImage1" class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1"></div>
                        }
                        @if (IsAvailableGallery2)
                        {
                            <div class="item"><img src="" data-src="@BaseGalleryZoomImage2" class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1"></div>
                        }
                        @if (IsAvailableGallery3)
                        {
                            <div class="item"><img src="" data-src="@BaseGalleryZoomImage3" class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1"></div>
                        }
                        @if (IsAvailableGallery4)
                        {
                            <div class="item"><img src="" data-src="@BaseGalleryZoomImage4" class="img-responsive b-lazy thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1"></div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Nivi Code Video URL call-->
<script language="JavaScript" async>
    function setVisibility(id, visibility) { $(".simpleLens-container").show(); $(".VideoURL").hide() }
    $(".liVideoHide").click(function () { $(".VideoURL").show(); $(".simpleLens-container").hide() })
</script>

<script async>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({ loop: !0, margin: 10, navigation: !1, itemsCustom: [[0, 1], [320, 1], [480, 1], [600, 1], [768, 6], [992, 5], [1200, 6]], responsive: { 0: { items: 1 }, 600: { items: 3 }, 1000: { items: 5 } } })
        $("#owl-demoImage").owlCarousel({
            autoPlay: !1, navigation: !0, items: 1, itemsDesktop: [1199, 1], itemsDesktopSmall: [979, 1], nav: true, navigationText: [
        "<i class='fa fa-arrow-circle-left font-sizehome'></i>",
            "<i class='fa fa-arrow-circle-right font-sizehome'></i>"
                    ]})
    })
</script>



