﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities

@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomeField)?. OrderBy(x => x.DisplayOrder)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    string specification = Model.Attributes?.Value("ProductSpecification");
    string specification1 = specification?.Replace("UPC</td><td class=\"whitebg\">", "UPC</td><td class=\"whitebg\"><span class=\"more\">");
}

<div class="col-xs-12 nopadding Tabs margin-top" id="product-content">
    <div class="TabSection ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul id="myTab" class="tabStructure ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top active"><a href="#panel-1" data-toggle="tab" onclick="scroll_to_div('panel-1')" class="tabs" title="@WebStore_Resources.TextProductDetails">@WebStore_Resources.TextProductDetails</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#panel-2" data-toggle="tab" onclick="scroll_to_div('panel-2')" id="tab-reviews" class="tabs reviews" title="@WebStore_Resources.TextCustomerReviews">@WebStore_Resources.TextCustomerReviews</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#panel-3" data-toggle="tab" class="tabs"></a></li>
            @if (CustomeFields?.Count > 0)
            {
                <li class="ui-state-default ui-corner-top"><a href="#panel-5" data-toggle="tab" id="tab-youtbevideos" class="tabs" title="@WebStore_Resources.TitleAdditionalInformation">@WebStore_Resources.TitleAdditionalInformation</a></li>
            }
            <span class="hidden-xs pdpshoping">@Html.RenderMessage("SecureShoppingMsg")</span>
        </ul>
        <div id="myTabContent" class="tab-content scroll-default ProductPanel">
            <!--Panels 1-->
            <div class="tab-pane fade in active" id="panel-1">
                <div class="col-lg-12 col-xs-12 nopadding margin-bottom">
                    <div class="col-lg-6 col-xs-12 nopadding-left nopadding-mobile text-justify">
                        <div id="product-longdetail-container">
                            @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("LongDescription")))
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 padding-left-70 nopadding-mobile">
                        <div id="product-specification-container" class="ProductComparisonTableData CommonTable">
                            @Html.RenderBlock(@WebUtility.HtmlDecode(specification1))
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12 nopadding" id="panel-2">
                    <div class="col-xs-12 nopadding">
                        <h1>@WebStore_Resources.TextCustomerReviews</h1>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <a href="/Product/writereview?id=@productId&name=@Model.Name&path=@Model.ImageSmallPath" id="button-writeReview" title="@WebStore_Resources.LinkTextWriteReview">@WebStore_Resources.LinkTextWriteReview</a>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div id="product-review-container">
                            @Html.Partial("_ProductReviews", Model.ProductReviews)
                        </div>
                    </div>
                </div>
            </div>
            @if (CustomeFields?.Count > 0)
            {
                <div class="tab-pane fade" id="panel-5">
                    <div id="product-youtubevideo-container" class="col-xs-12 col-sm-6 nopadding">
                        @{
                            foreach (var item in CustomeFields)
                            {
                                <div class="product-brand">
                                    <label>@Html.RenderBlock(item.AttributeName) : </label>
                                    @Html.RenderBlock(item.AttributeValues)
                                </div>
                            }
                        }

                    </div>
                </div>
                            }
        </div>
    </div>
</div>


<script async>
    var html = $('.more').html();
    var html1;
    $(document).ready(function () {

        var showChar = 35;
        var dots = "...";
        var moretext = "Show more >";
        var lesstext = "Show less";
        var content = $('.more').html();

        if (content.length > showChar) {

            var c = content.substr(0, showChar);

            var h = content.substr(showChar, content.length - showChar);

            html = c + '<span class="moreellipses" id="moreellipses1">' + dots + '&nbsp;</span></span>&nbsp;&nbsp;<a class="morelink" onclick="MoreLink();">' + moretext + '</a></span>';
            html1 = c + h + '<span class="moreellipses" id="moreellipses2"> &nbsp;</span></span>&nbsp;&nbsp; <a class="lesslink" onclick="Lesslink();" >' + lesstext + '</a></span > ';

            $('.more').html(html);
        }

    });

    function MoreLink(event) {
        $(".more").html('');
        $(".more").html(html1);
        $('.morelink').unbind('click');
        $('.morelink').bind('click', 'MoreLink');

        $('.lesslink').unbind('click');
        $('.lesslink').bind('click', 'Lesslink');

    }
    function Lesslink(event) {
        $(".more").html(html);
        $('.morelink').unbind('click');
        $('.morelink').bind('click', 'MoreLink');

        $('.lesslink').unbind('click');
        $('.lesslink').bind('click', 'Lesslink');
    }
    var tap = true;
    $('.morelink').on('click touchstart', function (e) {

        MoreLink();
        tap = true;

    });
</script>