﻿
// Znode SVG Icon Font.

@font-face {
  font-family:$znode-icon-font;
  src:  url('../../fonts/B2B.eot?pa46i9');
  src:  url('../../fonts/B2B.eot?pa46i9#iefix') format('embedded-opentype'),
    url('../../fonts/B2B.ttf?pa46i9') format('truetype'),
    url('../../fonts/B2B.woff?pa46i9') format('woff'),
    url('../../fonts/B2B.svg?pa46i9#znode-web-store') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon{color:$base-tertiary-light;font-size:$base-font-size + 2;
    &:hover{color:$base-primary-light;}
}

.secondary-icon{
    &:before{color:$white;background-color:$base-primary;padding:15px;font-size:$base-font-size + 4;}
    &:hover:before{background-color:$base-primary-light;cursor:pointer;}
}

.profile-icon:before{@include icon($profile-icon);}
.cart-icon:before{@include icon($cart-icon);}
.left-icon:before{@include icon($left-icon);}
.up-icon:before,.zf-up:before{@include icon($up-icon);}
.down-icon:before,.zf-down:before{@include icon($down-icon);}
.right-icon:before{@include icon($right-icon);}
.location-icon:before{@include icon($location-icon);}
.grid-icon:before{@include icon($grid-icon);}
.list-icon:before{@include icon($list-icon);}
.search-icon:before,.zf-search:before{@include icon($search-icon);}
.hamburger-icon:before{@include icon($hamburger-icon);}
.close-icon:before,.zf-close:before,.inactive-icon:before{@include icon($close-icon);}
.close-circle-icon:before{@include icon($close-circle-icon);}
.star-full-icon:before{@include icon($star-full-icon);}
.star-empty-icon:before{@include icon($star-empty-icon);}
.star-half-icon:before{@include icon($star-half-icon);}
.home-icon:before{@include icon($home-icon);}
.heart-icon:before{@include icon($heart-icon);}
.stop-icon:before{@include icon($stop-icon);}
.active-icon:before{@include icon($active-icon);}
.edit-icon:before{@include icon($edit-icon);}
.delete-icon:before{@include icon($delete-icon);}
.view-icon:before,.zf-view:before{@include icon($view-icon);}
.refresh-icon:before,.zf-refresh:before{@include icon($refresh-icon);}
.settings-icon:before,.zf-manage:before,.z-setting:before{@include icon($settings-icon);}
.clock-icon:before{@include icon($clock-icon);}
.sort-icon:before,.zf-sortable:before{@include icon($sort-icon);}
.last-icon:before,.zf-last:before{@include icon($last-icon);}
.first-icon:before,.zf-backward:before{@include icon($first-icon);}
.next-icon:before,.zf-forward:before{@include icon($next-icon);}
.previous-icon:before,.zf-first:before{@include icon($previous-icon);}
.envelop-icon:before{@include icon($envelop-icon)}