﻿@model Znode.Engine.WebStore.ViewModels.WidgetProductListViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}

@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {
        <div class="col-xs-12 nopadding cms-icon-container">
            <img src="@_fileLocation/Images/product-list.png" alt="New Product" class="img-responsive cms-img-icon" />
        </div>
    }
}

@if (!Equals(Model?.Products, null))
{
    string _id = string.Empty;
    if (Model.Products.Count > 0 && Model.DisplayName == "NewArrival")
    {

        <h3 class="media-heading margin-bottom-40" data-test-selector="lblNewArrivalHeading"><span>@Html.RenderMessage(WebStoreConstants.NewArrival) <div class="Subtitle">@Html.RenderMessage("ShopAllNewArival")</div></span></h3>
        _id = $"Product_List_Widget{1}";
    }
    else if (Model.Products.Count > 0 && Model.DisplayName == "HomePageSpecial")
    {
        <h3 class="media-heading margin-bottom-40" data-test-selector="lblBestSellerTitle">@Html.RenderMessage("test2")</h3>
        <h3 class="media-heading margin-bottom-40" data-test-selector="lblBestSellerTitle"><span>@Html.RenderMessage(WebStoreConstants.BestSellersTitle)</span></h3>
        _id = $"Product_List_Widget{2}";
    }
    _id = string.IsNullOrEmpty(_id) ? "Product_List_Widget" : _id;
    bool navigationFlag = Model.Products.Count > 6 ? true : false;
    <div class="owl-carousel Product_List_Widget" id="@_id">
        @{
            if (Model.Products.Count > 0)
            {
                foreach (var p in Model.Products)
                {
                    if (!string.IsNullOrEmpty(p.ProductViewModel?.Name))
                    {
                        @Html.Partial("_ProductTitleHome", p)
                    }
                }
            }
        }
    </div>


    <script>
                $("#@_id").owlCarousel({
                    autoPlay: false,
                    navigation: @navigationFlag.ToString().ToLower(),
                    items: 6,
                    margin: 10,
                    nav: true,
                    itemsCustom: [
                      [0, 1],
                      [320, 1],
                      [480, 2],
                      [600, 2],
                      [768, 3],
                      [992, 4],
                      [1200, 6]
                    ],
                    navigationText: [
                      "<i class='fa fa-arrow-circle-left font-sizehome'></i>",
                      "<i class='fa fa-arrow-circle-right font-sizehome'></i>"
                    ]
                });
    </script>
}

<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
</script>
