﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model WishListListViewModel

<div id="layout-account-wishlist" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LinkTextWishlist</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>

                <div class="col-xs-12 col-sm-9 col-lg-10 wishlist-container right-container">
                    <h3 class="section-header">
                        @Html.RenderBlock(string.Format(WebStore_Resources.SubTextWishlistCount, (!Equals(Model.WishList, null) ? Model.WishList.Count : 0)))
                    </h3>
                    @if (!Equals(Model.WishList, null))
                    {
                        <p id="subTextWishList" class="margin-bottom">
                            @WebStore_Resources.SubTextWishList
                        </p>
                        <div class="col-xs-12  nopadding table-responsive">
                            <table class="table">
                                <tbody>
                                    @foreach (var item in Model.WishList)
                                    {
                                        string UOM = Attributes.ValueFromSelectValue(item?.Product?.Attributes, "UOM");
                                        if (item.Product != null)
                                        {
                                            string productType = item.Product?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
                                            string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
                                            bool CallForPricing = Convert.ToBoolean(item.Product.Attributes?.Value(ZnodeConstant.CallForPricing));
                                            ProductPromotionViewModel promotionCallForPricing = item.Product?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
                                            if (HelperUtility.IsNotNull(promotionCallForPricing))
                                            {
                                                CallForPricing = true;
                                                callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
                                            }

                                            string disable = CallForPricing || !item.Product.ShowAddToCart ? "disabled" : "";
                                            <tr class="wishlist-item">
                                                <td class="wishlist-item-detail">
                                                    @if (Convert.ToBoolean(item.Product?.Attributes?.Value("IsActive")))
                                                    {
                                                        <a href="@Url.GetProductUrl(item.Product.SEOUrl, item.Product.PublishProductId.ToString())">
                                                            <div class="col-xs-4 col-sm-2 wishlist-item-image">
                                                                @{
                                                                    string imageSrc = string.IsNullOrEmpty(item.Product.ImageSmallPath) ? "/no-image.png" : item.Product.ImageSmallPath;
                                                                }
                                                                <img id="@item.Product.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" />
                                                            </div>

                                                            <div class="col-xs-12 col-sm-10 nopadding">
                                                                <div class="wishlist-item-title">@WebUtility.HtmlDecode(@item.Product.Name)</div>
                                                                <div class="wishlist-item-date">@WebStore_Resources.ColumnTextAdded @item.WishListAddedDate.ToDateTimeFormat()</div>
                                                            </div>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/ErrorPage/PageNotFound">
                                                            <div class="col-xs-2 wishlist-item-image">
                                                                @{
                                                                    string imageSrc = string.IsNullOrEmpty(item.Product.ImageSmallPath) ? "/no-image.png" : item.Product.ImageSmallPath;
                                                                }
                                                                <img id="@item.Product.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" />
                                                            </div>

                                                            <div class="col-xs-10 nopadding">
                                                                <div class="wishlist-item-title">@WebUtility.HtmlDecode(@item.Product.Name)</div>
                                                                <div class="wishlist-item-date">@WebStore_Resources.ColumnTextAdded @item.WishListAddedDate.ToDateTimeFormat()</div>
                                                            </div>
                                                        </a>
                                                    }

                                                </td>
                                                <td class="wishlist-item-price">
                                                    @if (CallForPricing)
                                                    {
                                                        <label>@callForPricingMessage</label>
                                                    }
                                                    else if ((!Equals(item.Product.ProductType, ZnodeConstant.GroupedProduct)) && !Equals(item.Product.ProductType, ZnodeConstant.ConfigurableProduct) && HelperUtility.IsNull(item.Product.ProductPrice))
                                                    {
                                                        <label>@WebStore_Resources.ErrorPriceNotAssociate</label>
                                                    }

                                                    else
                                                    {
                                                        if (!Equals(item.Product.ProductType, ZnodeConstant.GroupedProduct))
                                                        {
                                                            if (HelperUtility.IsNotNull(item.Product.SalesPrice))
                                                            {
                                                                <label>@Helper.FormatPriceWithCurrency(item.Product.SalesPrice, item.Product.CultureCode, UOM)</label>
                                                                if (item.Product.SalesPrice != item.Product.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                                                {
                                                                    <span class="cut-price">
                                                                        @Helper.FormatPriceWithCurrency(item.Product.RetailPrice, item.Product.CultureCode, UOM)
                                                                    </span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (item.Product.PromotionalPrice > 0)
                                                                {
                                                                    @Helper.FormatPriceWithCurrency(item.Product.PromotionalPrice, item.Product.CultureCode, UOM)
                                                                    <span class="cut-price">
                                                                        @Helper.FormatPriceWithCurrency(item.Product.RetailPrice, item.Product.CultureCode, UOM)
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>
                                                                        @Helper.FormatPriceWithCurrency(item.Product.RetailPrice, item.Product.CultureCode, UOM)
                                                                    </span>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td class="wishlist-item-tocart">
                                                    @if (Equals(productType, ZnodeConstant.GroupedProduct) || Equals(productType, ZnodeConstant.ConfigurableProduct) && Convert.ToBoolean(item.Product?.Attributes?.Value("IsActive")))
                                                    {
                                                        <button type="button" class="btn-card btn-add-cart btn-bg-primary hvr-shadow" onclick="javascript: location.href = '@Url.GetProductUrl(item.Product.SEOUrl, item.Product.PublishProductId.ToString())'" id="Model.PublishProductId"><i class='zf-view-details'></i>@WebStore_Resources.ButtonViewDetails</button>
                                                    }
                                                    else if (item.Product.Attributes.Where(x => x.IsPersonalizable == true).Any())
                                                    {
                                                        <button type="button" class="btn-card btn-add-cart btn-bg-primary hvr-shadow" onclick="javascript: location.href = '@Url.GetProductUrl(item.Product.SEOUrl, item.Product.PublishProductId.ToString())'" id="Model.PublishProductId"><i class='zf-view-details'></i>@WebStore_Resources.ButtonViewDetails</button>
                                                    }
                                                    else if (CallForPricing)
                                                    {
                                                        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", item.Product.CartParameter, "btn-card btn-bg-primary", "Product.prototype.GetProductOutOfStockDetails(this, event)", "disabled")
                                                    }
                                                    else if (Convert.ToBoolean(item.Product?.Attributes?.Value("IsActive")))
                                                    {
                                                        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", item.Product.CartParameter, "btn-card btn-bg-primary", "Product.prototype.GetProductOutOfStockDetails(this, event)", "")
                                                    }

                                                    else
                                                    {
                                                        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", item.Product.CartParameter, "btn-card btn-bg-primary", "Product.prototype.GetProductOutOfStockDetails(this, event)", "disabled")
                                                    }
                                                    <span id="wishlist-error-msg"></span>
                                                </td>

                                                <td class="wishlist-item-remove">
                                                    <a href="#" data-id="@item.UserWishListId" title="@WebStore_Resources.LinkTextRemove"><i class="zf-close"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    <p id="noWishList" @(!Equals(Model.WishList, null) ? "style=display:none" : "") class="text-center">
                        @WebStore_Resources.ErrorNoWishlist
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>