﻿//  Used on Category List page, Product list page and PDP page.
.b2b-instore-pickup{background-color:$base-primary-light;color:$white;font-size:$base-font-size + 6;
    a{padding-left:25px;font-size:$base-font-size;color:$white;}
}
//  Used on Category List page, Product list page and PDP page.
.b2b-breadcrumbs{padding:10px 0;color:$base-tertiary-light;text-transform:uppercase;letter-spacing:1.25px;
    a{color:$base-tertiary-light;
        &.home-icon{font-size:$base-font-size + 6;}
        &:hover{color:$base-primary-light;}
    }
}

.b2b-category-list,.b2b-products-list,.b2b-cart-page,.b2b-brand-list,.b2b-checkout-page,.b2b-product-view-details,.b2b-thanks-page,.b2b-quote-page,.b2b-quick-order-page{box-shadow:$dividing-shadow;}

@include screensize(x-small){
    #layout-category .advertisement-banner .owl-item{padding:35px 10px;}
}

@include screensize(xl-small){
}

@include screensize(small){
    #layout-category .advertisement-banner .owl-item{padding:10px;}
}
