﻿.single-page-checkout{
    .shipping-address .b2b-block{display:flex;flex-wrap:wrap;align-content:flex-start;
        .block-title{width:100%;}
        .address-change{text-align:right;float:none;order:3;width:100%;padding:0 20px 20px;align-self:flex-end;}
    }
    .b2b-block .block-title{padding:20px;}
    .cart-total .form-group{margin-bottom:15px;}
    .b2b-cart .b2b-cart-row .b2b-col-width input{border:none;pointer-events:none;background:transparent;}
    .credit-card-container{
        .nopadding{padding:0;}
        .styled-input{margin-bottom:15px;
            label{margin-bottom:5px;}
        }
        .form-control{margin:5px 0 0 0 !important;}
        .form-group{margin-bottom:15px;}
        .nav-tabs{padding:15px 0;
            li a{background-color:#f5eded;color:$base-primary;border-color:#f5eded #f5eded transparent;padding:15px;}
            li a.active{background-color:$base-primary;color:$white;}
        }
        .tab-content{padding:20px 0 0 0;display:block;}
        .section-heading{font-size:$base-font-size + 3;border-bottom:1px solid $border-default;font-weight:600;color:#6a6367;padding-bottom:10px; display:none;}
        .save-cart{margin:0;
            label{width:100%;
                &:before{margin-top:10px !important;}
                &:after{margin-top:14px !important;}
            }
            ul{padding:0;
                img{float:left !important;margin-left:25px;}
            }
        } 
    }
}
.b2b-checkout-address-popup{
    .edit-address-form{padding:0 1px;
        .col-lg-6{max-width:100%;flex:0 0 100%;}
    }
}

@include screensize(small){
    .credit-card-container ul > .save-cart{width:50%;max-width:50%;}
}
@include screensize(medium){
    .credit-card-container ul > .save-cart{width:25%;max-width:25%;}
}