﻿@using Znode.Engine.WebStore.ViewModels
@model AccountViewModel
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
    var displayMode = Model.RoleName == "Administrator" ? null : new { disabled = "disabled" };
}

<div id="layout-account-editaddress" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LinkTextAccountInformation</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 dashboard-content right-container">
                    <form method="POST" action="/User/AccountInformation" class="form">
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12 nopadding edit-address-form">
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-xs-12 col-sm-11 nopadding">
                                    <h3 class="section-header">@WebStore_Resources.ColumnContactInformation</h3>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.LabelFor(model => model.AccountId)
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.AccountId, new { @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.LabelFor(model => model.ExternalId)
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.ExternalId, new { @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.LabelFor(model => model.PhoneNumber)
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.LabelFor(model => model.Name)
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.Name, new { @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-sm-offset-1">
                                    <h3 class="section-header">@Admin_Resources.LabelAddress</h3>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.LabelFor(model => model.Address.DisplayName)
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(m => m.Address.DisplayName, displayMode)
                                            <p class="sub">@WebStore_Resources.HintTextDisplayName</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-label">
                                                @Html.LabelFor(m => m.Address.Address1, new { @class = "required" })
                                            </div>
                                            <div class="control-md">
                                                @Html.TextBoxFor(model => model.Address.Address1, displayMode)
                                                @Html.ValidationMessageFor(model => model.Address.Address1)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-label">
                                                @Html.LabelFor(m => m.Address.Address2)
                                            </div>
                                            <div class="control-md">
                                                @Html.TextBoxFor(model => model.Address.Address2, displayMode)
                                                @Html.ValidationMessageFor(model => model.Address.Address2)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-label">
                                                @Html.LabelFor(m => m.Address.CityName, new { @class = "required" })
                                            </div>
                                            <div class="control-md">
                                                @Html.TextBoxFor(model => model.Address.CityName, displayMode)
                                                @Html.ValidationMessageFor(model => model.Address.CityName)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-label">
                                                @Html.LabelFor(m => m.Address.StateName, new { @class = "required" })
                                            </div>
                                            <div class="control-md">
                                                @Html.TextBoxFor(model => model.Address.StateName, displayMode)
                                                @Html.ValidationMessageFor(model => model.Address.StateName)
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.HiddenFor(m => m.Address.AddressId)
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-label">
                                                @Html.LabelFor(m => m.Address.PostalCode, new { @class = "required" })
                                            </div>
                                            <div class="control-md">
                                                @Html.TextBoxFor(model => model.Address.PostalCode, displayMode)
                                                @Html.ValidationMessageFor(model => model.Address.PostalCode)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-label">
                                                @Html.LabelFor(model => model.Address.CountryName, new { @class = "required" })
                                            </div>
                                            <div class="control-md">
                                                @if (Model.RoleName == "Administrator")
                                                {
                                                    @Html.DropDownListFor(model => model.Address.CountryName, Model.CountryList)
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.Address.CountryName, displayMode)
                                                }
                                                @Html.ValidationMessageFor(m => m.Address.CountryName)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="billingPhoneNo">
                                        <div class="form-group">
                                            <div class="col-sm-12 nopadding">
                                                <div class="control-label">
                                                    @Html.LabelFor(m => m.Address.PhoneNumber, new { @class = "required" })
                                                </div>
                                                <div class="control-md">
                                                    @Html.TextBoxFor(model => model.Address.PhoneNumber, displayMode)
                                                    @Html.ValidationMessageFor(model => model.Address.PhoneNumber)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.AccountId)
                        @Html.HiddenFor(m => m.Name)
                        @Html.HiddenFor(m => m.Address.AddressId)
                        @Html.HiddenFor(m => m.Address.FirstName)
                        @Html.HiddenFor(m => m.Address.LastName)
                        @Html.HiddenFor(m => m.Address.AccountAddressId)
                        @Html.HiddenFor(m => m.Address.IsDefaultBilling)
                        @Html.HiddenFor(m => m.Address.IsDefaultShipping)
                        @Html.HiddenFor(m => m.Address.Mobilenumber)
                        @Html.HiddenFor(m => m.Address.AlternateMobileNumber)
                        @Html.HiddenFor(m => m.Address.FaxNumber)

                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="pull-right">
                                @if (Model.RoleName == "Administrator")
                                {
                                    <button type="submit" class="btn-text red">@WebStore_Resources.ButtonSaveChanges</button>
                                }
                                <a href="Dashboard" class="btn-text grey">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
