﻿@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{


    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<div class="main-wrapper">
    <div class="container">
        <div class="row register-container">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.TextResetPassword</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <p>@WebStore_Resources.SubTextResetPassword</p>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class = "control-label required">@WebStore_Resources.LabelUsername</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-login-user login-icon"></i>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.Label(WebStore_Resources.EmailAddress, new { @class = "control-label required" })
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-envelope login-icon"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button type="submit" class="btn-text red">@WebStore_Resources.ButtonSubmitRequest</button>
                            <button type="button" class="btn-text grey" onclick="javascript: location.href = '/User/Login';">@WebStore_Resources.ButtonCancel</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>