﻿@model Znode.Engine.WebStore.ViewModels.WidgetTextViewModel
@if (!Equals(Model, null))
{
    <div id="layout-contentpage">
        @{
            <div class="container">
                <div class="row contain-pages">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">@Model.PageTitle</h1>
                    </div>
                    <div class="col-xs-12 nopadding">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.Text))
                    </div>
                </div>
            </div>
        }
    </div>
  }
