﻿@using Znode.Engine.WebStore.Agents
@using ZNode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="news-letter">
        <div class="container">
            <div class="row news-letter-container">
                <div class="col-xs-12 col-sm-6 nopadding newsletter-container">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>

                <div class="col-xs-12 col-sm-6 nopadding follow-us">
                    <div class="pull-right">
                        @Html.RenderMessage(WebStoreConstants.FooterShareUsText)
                        <!--Socal Media Widget-->
                        <z-widget>@Html.WidgetPartial("LinkPanel", "SocialMedia", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-information">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 footer-shop">
                    <div class="header-footer">
                        <h3>@WebStore_Resources.LabelShop</h3>
                    </div>
                    @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId() }); }
                </div>
                <div class="col-sm-3 footer-shop">
                    <!--Footer Helps Widget-->
                    <div class="header-footer">
                        <h3>@WebStore_Resources.LabelHelp</h3>
                    </div>

                    <div class="footer-help-section-link">
                        <z-widget>@Html.WidgetPartial("LinkPanel", "HelpSection", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>

                </div>
                <div class="col-sm-3 footer-shop">
                    <!--Store Info Widget-->
                    <div class="header-footer">
                        <h3>@WebStore_Resources.TitleStoreInfo</h3>
                    </div>

                    <div class="footer-help-section-link">
                        <z-widget>@Html.WidgetPartial("LinkPanel", "StoreInfo", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>

                </div>
                <div class="col-sm-3 footer-shop">
                    <!--Customer Support Widget-->
                    <z-widget>@Html.WidgetPartial("CustomerSupport", "CustomerSupport", "109", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 nopadding footer-copyright-text">
                    <p>@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                </div>
                <div class="col-xs-12 col-sm-5 nopadding footer-copyright-links">
                    <!--Payment Getway Widget-->
                    <z-widget>@Html.WidgetPartial("LinkPanel", "PaymentGateway", "223", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top"><i class="zf-up"></i></a>
<script>
    $(function () {
        $(".footer-help-section-link ul li a").prepend('<i class="zf-caret-right"></i>');
        $(".footer-help-section-link a").removeAttr("target");

        // Back to top scrolling
        $('.back-to-top').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });        
        $(document).scroll(function () {
            if ($(this).scrollTop() > 100) {                
                $('.back-to-top').css("opacity", "0.5");
            } else {
                $('.back-to-top').css("opacity", "0");
            }

        });
    });
</script>