﻿@using Znode.Engine.WebStore.Agents
@using ZNode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="container-fluid">
    <div class="row header-local-container">
        <div class="container">
            <div class="row">
                <!--Locales Widget-->
                <z-widget>@Html.WidgetPartial("Locales", "Locales", "123", "PortalMapping", 4)</z-widget>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-3 nopadding">
            <a href="/" class="header-logo">
                @{
                    if (string.IsNullOrEmpty(logo))
                    {
                        <h1>@title</h1>
                    }
                    else
                    {
                        <img src="@logo" alt="@title" class="img-responsive" />
                    }
                }
            </a>
        </div>
        <div class="header-link-contain nopadding">
            <div class="col-xs-12 col-sm-7 col-sm-offset-2 col-md-offset-1 col-md-4 nopadding">
                <!--Search Widget-->
                <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-5 header-link nopadding pull-right">
                <ul>
                    <li>
                        @Html.Action("LoginStatus", "User", true)
                    </li>

                    <li class="quick-order-li">
                        <!--Quick Order Widget-->
                        <z-widget>@Html.WidgetPartial("QuickOrder", "QuickOrder", "123", "PortalMapping", 4)</z-widget>
                    </li>
                    <li>
                        @Html.CartCount(@Html.RenderMessage("MessageConfig"))
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header-nav-container">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--Navigation Widget-->
            <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
        </div>
    </div>
</div>

