﻿@model Znode.Engine.WebStore.ViewModels.WidgetProductListViewModel

@if (!Equals(Model?.Products, null))
{
    if (Model.Products.Count > 0 && Model.DisplayName == "NewArrival")
    {
    <h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.NewArrival)</h3>
    }
    else if (Model.Products.Count > 0 && Model.DisplayName == "HomePageSpecial")
    {
    <h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.BestSellersTitle)</h3>
    }

    <div class="owl-carousel Product_List_Widget">
        @{
            if (Model.Products.Count > 0)
            {
                foreach (var p in Model.Products)
                {
                    if (!string.IsNullOrEmpty(p.ProductViewModel?.Name))
                    {
            @Html.Partial("_ProductTitleHome", p)
                    }
                }
            }
        }
    </div>
            }

<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
</script>
