﻿@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel
@using ZNode.Libraries.ECommerce.Utilities
@{
    string _displayAddress = string.IsNullOrEmpty(Model.PostalCode) ? "display:none;" : "display:block;";
    string _linkText = string.IsNullOrEmpty(Model.PostalCode) ? "Add New Address" : "Change Address";
    string addressType = this.ViewData.ContainsKey("addressType") ? this.ViewData["addressType"].ToString() : string.Empty;
    string _mode = Convert.ToString(Request.QueryString["mode"]);
}

<div class="col-xs-12 nopadding address-block">
    <div style="@_displayAddress">
        <p class="address-name">@Model.FirstName @Model.LastName</p>
        <p class="address-street">@Model.Address1<br />@Model.Address2</p>
        <p class="address-citystate">@Model.CityName, @Model.StateName, @Model.CountryName @Model.PostalCode</p>
        <p class="address-phonenumber">Ph: @Model.PhoneNumber</p>
        @if (Equals(addressType, "shipping"))
        {
            <p class="address-emailaddress">Email: @Model.EmailAddress</p>
        }
    </div>
    <div class="address-change">
        @Ajax.ActionLink(_linkText, "ChangeAddress", "Checkout", new { AddressId = Model.AddressId, OtherAddressId = Model.OtherAddressId, type = addressType, mode = _mode },
         new AjaxOptions
         {
             UpdateTargetId = "address-popup-content",
             InsertionMode = InsertionMode.Replace,
             OnBegin = "$('.address-popup').modal('hide');",
             OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');$('#IsDefaultShipping').rules('remove');$('#IsDefaultBilling').rules('remove'); ",
             HttpMethod = "GET"
         }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup", @data_addressId = Model.AddressId, @class = "pull-right " })
    </div>
    @Html.HiddenFor(x => x.AddressId)
    @Html.HiddenFor(x => x.AddressCount)
    @Html.HiddenFor(x => x.RoleName)
    @Html.HiddenFor(x => x.OtherAddressId)
    @Html.Hidden("addressType", addressType)
</div>
<script>
    $(document).ready(function () {
        Checkout.prototype.HideChangeAddressLink()
    });
</script>
