﻿@using ZNode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.CheckoutViewModel
@{
    string _display = Convert.ToString(Request.QueryString["mode"]) == "guest" ? Model.UserId < 1 ? "display:block;" : "display:none;" : "display:none;";
}

<div id="divSinglePageCheckout" class="main-wrapper">
    <div class="container">
        <div class="row single-page-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.TitleSinglePageCheckoutProcess</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-md-4 nopadding shipping-address">
                    <div class="col-xs-12 nopadding">
                        @{ Html.RenderAction("AccountAddress", "Checkout");}
                        <div style="@_display">
                            @Ajax.ActionLink("Existing Customer Login", "Login", "User", null,
                            new AjaxOptions
                            {
                                UpdateTargetId = "address-popup-content",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                OnBegin = "$('.address-popup').modal('hide');",
                                OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                            }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                        <div style="@_display">
                            @Ajax.ActionLink("Create an account for later use", "Signup", "User", null,
                                   new AjaxOptions
                                   {
                                       UpdateTargetId = "address-popup-content",
                                       InsertionMode = InsertionMode.Replace,
                                       HttpMethod = "GET",
                                       OnBegin = "$('.address-popup').modal('hide');",
                                       OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                                   }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 nopadding">
                    <div class="col-xs-12 col-sm-6 shipping-method">
                        @{ Html.RenderAction("ShippingOptions", "Checkout");}
                    </div>

                    @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.DNRA.ToString(), StringComparison.CurrentCultureIgnoreCase) ||
(string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZNodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase)) ||
(string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal <= Model.BudgetAmount) && !string.Equals(Model.OrderStatus, ZNodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)
|| string.Equals(Model.OrderStatus, ZNodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase)) || string.Equals(Model.RoleName, ZnodeRoleEnum.Customer.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Admin.ToString(), StringComparison.CurrentCultureIgnoreCase) || Equals(Model.RoleName, null))
                    {
                        <div class="col-xs-12 col-sm-6 nopadding signle-page-payment margin-bottom">
                            @{ Html.RenderAction("PaymentOptions", "Checkout");}
                        </div>
                                }

                </div>
                <div class="col-xs-12 nopadding">
                    <div class="col-xs-12 review-order nopadding" id="cart-review-content">
                        @{ Html.RenderAction("CartReview", "Checkout");}
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label for="address_name">@WebStore_Resources.TitleAdditionalInformation</label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextArea("AdditionalInstruction")
                        </div>
                    </div>

                    <div class="pull-right margin-top-bottom quotebutton">
                        @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                        {
                            <button type="submit" onclick="Checkout.prototype.SubmitForDraft()" id="btnSaveDraft" class="btn-text-icon red">@WebStore_Resources.ButtonSaveDraft</button>
                        }

                        @if (string.Equals(Model.OrderStatus, ZNodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                        {
                            <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon red pull-right"><i class="zf-checkout"></i> @WebStore_Resources.TextCompletePurchase</button>
                        }
                        else if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal > Model.BudgetAmount || string.Equals(Model.OrderStatus, ZNodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase))))
                        {
                            <button type="submit" onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn-text-icon red singlecheckoutsubmitquote">@WebStore_Resources.ButtonSubmitForApproval</button>
                        }
                        else
                        {
                            <button type="submit" id="btnCompleteCheckout" onclick="Checkout.prototype.SubmitOrder()" class="btn-text-icon red singlecheckoutsubmitpayment"><i class="zf-checkout"></i>@WebStore_Resources.TextCompletePurchase</button>
                        }
                    </div>
                    @Html.HiddenFor(m => m.QuoteId)
                    @Html.HiddenFor(m => m.OrderStatus)
                    @Html.HiddenFor(m => m.PermissionCode)
                    @Html.HiddenFor(m => m.RoleName)
                    @Html.HiddenFor(m => m.ShippingId)
                </div>
            </div>
        </div>
    </div>

    <div id='Single-loader-content-backdrop' class='modal-backdrop fade in' style="display:none"><div id='loading' class='loader loader-body'></div></div>

    <!-- Modal -->
    <div class="modal fade" id="PaymentModal" role="dialog">
        <div class="modal-dialog compare-product-popup">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p>@WebStore_Resources.TextPaymentMethod</p>
                </div>
            </div>
        </div>
    </div>
    <!--Error Payment Modal-->
    <div class="modal fade" id="ErrorPaymentModal" role="dialog">
        <div class="modal-dialog compare-product-popup">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                    <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="pull-right">
                            <button type="button" class="btn-text red btn" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Address Popup-->
<div class="modal fade address-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Checkout.prototype.CalculateShipping();
        $(".cart-item-remove").remove();
    })
</script>