﻿@using Znode.Engine.WebStore.ViewModels
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
}

@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
        <div class="col-xs-12 nopadding">
            <div class="form-group">
                <div class="col-xs-12 nopadding">
                    <label>@att.AttributeName</label>
                </div>
                <div class="col-xs-12 nopadding">                   
                    <ul class="swatch-img size-swatch">
                        @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                        {
                            <li class="styled-input">
                                <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                <label for="@att.AttributeCode-@image.AttributeValue" class="@( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">@image.AttributeValue </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}
@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @Model.CombinationErrorMessage
        </span>
    </div>
}