﻿@model AutoComplete
@{
    int index = Convert.ToInt32(Session["AutoIndex"]);
}
<div id="quickorderdiv">
    <div class="form-group" id="form-group-@index">
        <div class="col-xs-8 col-sm-9 nopadding">
            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetProductListBySKU", "Product", "QuickOrderPad.prototype.OnItemSelect", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.TextEnterSku,@id="txtQuickOrderPadSku_"+index, @class = "quick-order-pad-autocomplete", @data_qo_sku = "", @data_qo_product_id = "", data_qo_product_name = "", data_qo_cart_quantity = "", data_qo_quantity_on_hand = "", data_qo_in_stock_message = "", data_qo_out_stock_message = "", data_qo_min_quantity = "", data_qo_max_quantity = "", data_qo_call_for_pricing = "", data_is_first = "true", data_qo_track_inventory = "" } })
        </div>
        <div class="col-xs-3 col-sm-2">
            @Html.TextBox("txtQuickOrderPadQuantity_" + index, 1, null, new { @placeholder = WebStore_Resources.ColumnTitleQty, @maxlength = "4", @class = "quantity quick-order-pad-quantity", @parentcontrol = "txtQuickOrderPadSku_" + index  })
        </div>
        <div class="col-xs-1 nopadding">
            <div id="removeRow_@index" class="remove_row remove-item" title="@WebStore_Resources.ButtonClear"><i class="zf-close"></i></div>
        </div>
        <p id="inventoryMessage_@index" for="txtQuickOrderPadSku_@index" class="col-xs-12 nopadding error-msg"></p>
        @Html.Hidden("index", index, new { id = "indexId" })
    </div>
</div>

