@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string _addressType = ViewBag.AddressType != null ? ViewBag.AddressType : Model.AddressType;
    bool isSameAsBilling = Convert.ToBoolean(ViewBag.IsSameAsBilling);
    string _shippingBillingDisplay = ((Convert.ToString(Request.QueryString["mode"]) == "guest" || Model.AddressId > 0) && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? "display:block" : "display:none";
    int addressCount = Model.AddressCount;
    string isEnableDisableCheckbox = (addressCount < 1) ? "checkbox-disable" : "";
    string selectedAddressId = "0";
    if (actionName == "EditAddress")
    {
        TempData["SelectedAddressId"] = Model.AddressId.ToString();
        selectedAddressId = Model.AddressId.ToString();
    }
    else
    {
        selectedAddressId = TempData["SelectedAddressId"] != null ? Convert.ToString(TempData["SelectedAddressId"]) : "0";
        TempData["SelectedAddressId"] = selectedAddressId;
    }
    Model.IsAddressBook = controllerName.ToLower() == "user" ? true : false;
}
<style>
    input.error {
        border: solid 1px #b4111a;
    }
    .error {
        color: #b4111a;
    }
</style>
<div class="edit-address-form row">
    <div class="col-xs-12 col-ld-12 LableForm">
        <div class="col-xs-12 col-lg-12">
            <p id="AddressError" class="error-msg" />
            <p id="AddressSuccess" class="success-msg" />
        </div>

        @Html.ValidationSummary(true)
        @if (Equals(ViewBag.HideDisplayName, null) || Equals(ViewBag.HideDisplayName, false))
        {
            @* The display name input should be toggled via a parameter per view as needed *@
            <div class="form-group">
                <div class="col-xs-12 col-ld-12">
                    @Html.TextBoxFor(m => m.DisplayName, new { @id = "address_name", @required = "required" })
                    <label for="address_name" placeholder="@WebStore_Resources.ColumnDisplayName"><span>@WebStore_Resources.ColumnDisplayName</span></label>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.DisplayName)</p>
                </div>
            </div>
        }
        else
        {
            @* Set default value for model validation *@
            <div class="col-xs-12 nopadding"><input id="address_name" name="Name" type="hidden" value="Default Address"></div>
        }
    </div>

    <div class="col-xs-12 address-edit-form margin-top LableForm">
        <div class="col-xs-12 col-sm-6 col-lg-6 shipping-address-edit">

            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-6 nopadding-left nopadding-mobile">
                    <div class="form-group hidden">
                        <label for="address_firstname">@WebStore_Resources.ColumnFirstName</label>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname", @required = "required", @data_test_selector = "txtAddressFirstname", @title = @WebStore_Resources.ColumnFirstName })
                        <label for="address_firstname" placeholder="@WebStore_Resources.ColumnFirstName"><span>@WebStore_Resources.ColumnFirstName</span></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName)</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="form-group hidden">
                        <label for="address_lastname">@WebStore_Resources.ColumnLastName</label>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname", @required = "required", @data_test_selector = "txtAddressLastname", @title = @WebStore_Resources.ColumnLastName })
                        <label for="address_lastname" placeholder="@WebStore_Resources.ColumnLastName"><span>@WebStore_Resources.ColumnLastName</span></label>
                        <p class="form-error">@Html.ValidationMessageFor(m => m.LastName)</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "address_phoneno", @required = "required", @class = "form-input-short", @data_test_selector = "txtPhoneNumber", @title = @WebStore_Resources.ColumnPhoneNo })
                    <label for="address_phoneno" placeholder="@WebStore_Resources.ColumnPhoneNo"><span>@WebStore_Resources.ColumnPhoneNo</span></label>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber)</p>
                </div>
            </div>
            @if (!HttpContext.Current.User.Identity.IsAuthenticated && Equals(_addressType, WebStoreConstants.ShippingAddressType))
            {
                //Guest shipping type
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @id = "address_emailaddress", @required = "required", @class = "form-input-short", @style = "text-transform:lowercase;", @title = @WebStore_Resources.EmailAddress })
                        <label for="address_emailaddress" placeholder="@WebStore_Resources.EmailAddress"><span>@WebStore_Resources.EmailAddress</span></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.CompanyName, new { @id = "CompanyName", @required = "required", @title = @WebStore_Resources.ColumnCompanyNameAlt })
                    <label for="CompanyName" placeholder="@WebStore_Resources.ColumnCompanyNameAlt"><span>@WebStore_Resources.ColumnCompanyNameAlt</span></label>
                    @*<p class="error-msg">@Html.ValidationMessageFor(m => m.CompanyName)</p>*@
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 shipping-address-edit-block">

            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.Address1, new { @id = "address_street1", @class = "form-input-long", @required = "required", @data_test_selector = "txtAddressStreet1", @title = @WebStore_Resources.ColumnStreetAddress })
                    <label for="address_street1" placeholder="@WebStore_Resources.ColumnStreetAddress"><span>@WebStore_Resources.ColumnStreetAddress</span></label>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Address1)</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.Address2, new { @id = "address_street2", @required = "required", @class = "form-input-long", @title = @WebStore_Resources.ColumnStreetAddress2 })
                    <label for="address_street2" placeholder="@WebStore_Resources.ColumnStreetAddress2"><span>@WebStore_Resources.ColumnStreetAddress2</span></label>
                    @*<p class="error-msg hidden">@Html.ValidationMessageFor(m => m.Address2)</p>*@
                </div>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-6 nopadding-left mobile-nopadding">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CityName, new { @id = "address_city", @required = "required", @data_test_selector = "txtCityName", @title = @WebStore_Resources.ColumnCity })
                        <label for="address_city" placeholder="@WebStore_Resources.ColumnCity"><span>@WebStore_Resources.ColumnCity</span></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.CityName)</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="form-group">
                        <div id="stateCodeTextBox">
                            <div id="dev-statecode-textbox">
                                @Html.TextBoxFor(m => m.StateName, new { @id = "txtStateCode", @class = "txtStateCode", @required = "required", @title = @WebStore_Resources.ColumnState })
                            </div>
                            <label for="txtStateCode" placeholder="@WebStore_Resources.ColumnState"><span>@WebStore_Resources.ColumnState</span></label>
                            <div style="display:none;" id="dev-statecode-select">
                                <select class="valid address_state margin-bottom" id="SelectStateName" name="StateName" style="margin-top:-15px;"></select>
                            </div>
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.StateName, null, new { @id = "valtxtStateCode" })</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-6 nopadding-left nopadding-mobile">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_postalcode", @required = "required", @class = "form-input-short", @title = @WebStore_Resources.LabelPostalCode })
                        <label for="address_postalcode" placeholder="@WebStore_Resources.LabelPostalCode"><span>@WebStore_Resources.LabelPostalCode</span></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode)</p>
                        <span class="error-msg" id="valid-postalcode" style="display: none;">@WebStore_Resources.ValidationZipCode</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.CountryName, Model.Countries, new { @id = "ShippingAddressModel_CountryCode", @class = "address_country", @required = "required", @onchange = "User.prototype.BindStates()", @data_test_selector = "txtCountryName", @style = "margin-bottom:-11px;", @title = @WebStore_Resources.ColumnCountry})
                        <label for="address_country" placeholder="@WebStore_Resources.ColumnCountry"><span>@WebStore_Resources.ColumnCountry</span></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryName)</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-xs-12 col-lg-6">
            @if (Equals(controllerName, "User"))
            {
                //User controller
                Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
                Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;

                <div class="form-group">
                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox billingShippingCheckBox">
                        <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                        <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox billingShippingCheckBox">
                        <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                        <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                    </div>
                </div>


                <div class="form-group" style="display:none !important">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                        <input type="checkbox" class="input-checkbox" name="DontAddUpdateAddress" id="is_addupdate_address" value="true" text="Add/update my address book">
                        <label for="is_addupdate_address">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                    </div>
                </div>
            }
            else if ((Model.AddressId < 1 || isSameAsBilling) && Equals(_addressType, WebStoreConstants.ShippingAddressType))
            {
                //Guest_or_Login : Edit mode shipping address
                if (Model.DontAddUpdateAddress)
                {
                    //If it's One time address
                    @Html.Hidden("IsBilling")
                    @Html.Hidden("IsShipping", true)
                    @Html.HiddenFor(model => model.IsDefaultBilling)
                    @Html.HiddenFor(model => model.IsDefaultShipping)
                }
                else
                {
                    if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <div class="input-checkbox_container set-as-default-address-IsDefaultShipping">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label">
                                <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                                @Html.Hidden("IsBilling")
                                @Html.Hidden("IsShipping", true)
                                @Html.HiddenFor(model => model.IsDefaultBilling)
                            </div>
                        </div>
                    }
                    if (string.IsNullOrEmpty(Model.FirstName) && Equals(_addressType, WebStoreConstants.ShippingAddressType))
                    {
                        <div class="input-checkbox_container">
                            <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" checked='checked' value="true" text="Both Billing and Shipping address"
                                       onclick="Checkout.prototype.ShowHideBillingAddressDiv();">
                                <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="input-checkbox_container">
                            <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address"
                                       onclick="Checkout.prototype.ShowHideBillingAddressDiv();">
                                <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                            </div>
                        </div>
                    }
                }
            }
            else if (Model.AddressId > 0 && Equals(_addressType, WebStoreConstants.BillingAddressType))
            {
                //Guest_or_Login : Edit mode billing address
                if (Model.DontAddUpdateAddress)
                {
                    //If it's One time address
                    @Html.Hidden("IsBilling", true)
                    @Html.Hidden("IsShipping")
                    @Html.HiddenFor(model => model.IsDefaultShipping)
                    @Html.HiddenFor(model => model.IsDefaultBilling)
                }
                else
                {
                    <div class="input-checkbox_container set-as-default-address-IsDefaultBilling">
                        <div class="col-xs-12 nopadding styled-input input-checkbox_label">
                            <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                            <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                            @Html.Hidden("IsBilling", true)
                            @Html.Hidden("IsShipping")
                            @Html.HiddenFor(model => model.IsDefaultShipping)
                        </div>
                    </div>
                }

                <div class="input-checkbox_container">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                        <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="sameAsShipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") text="Both Billing and Shipping address">
                        <label for="sameAsShipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                    </div>
                </div>
            }
            else if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                //Logged in user
                Model.IsDefaultBilling = (addressCount < 1 && Equals(_addressType, WebStoreConstants.BillingAddressType)) ? true : Model.IsDefaultBilling;
                if (Equals(_addressType, WebStoreConstants.ShippingAddressType))
                {
                    //Shipping
                    Model.IsDefaultShipping = (addressCount < 1 && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? true : Model.IsDefaultShipping;
                    <div>
                        <div class="input-checkbox_container set-as-default-address-IsDefaultShipping">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                                <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                <label for="asdefault_shipping">@(Equals(_addressType, WebStoreConstants.ShippingAddressType) ? WebStore_Resources.CheckBoxTextDefaultAddress : WebStore_Resources.CheckBoxTextShippingAddress)</label>
                            </div>
                        </div>
                        @Html.Hidden("IsBilling")
                        @Html.Hidden("IsShipping", true)
                        @Html.HiddenFor(model => model.IsDefaultBilling)
                    </div>


                    <div class="input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                            <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "")
                                   onclick="Checkout.prototype.ShowHideBillingAddressDiv();" value="true" text="Both Billing and Shipping address">
                            <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                        </div>
                    </div>
                }
                else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
                {
                    //Billing
                    <div class="">
                        <div class="input-checkbox_container set-as-default-address-IsDefaultBilling">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                                <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                                <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                            </div>
                        </div>
                        @Html.Hidden("IsBilling", true)
                        @Html.Hidden("IsShipping")
                        @Html.HiddenFor(model => model.IsDefaultShipping)
                    </div>

                    <div class="input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                            <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="sameAsShipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                            <label for="sameAsShipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                        </div>
                    </div>
                }
                else
                {
                    //Neither shipping nor billing
                    Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
                    Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;

                    <div class="input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                            <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                            <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                        </div>
                    </div>
                    <div class="input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input @isEnableDisableCheckbox">
                            <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                            <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                        </div>
                    </div>
                    @Html.Hidden("IsBilling")
                    @Html.Hidden("IsShipping")

                }
            }
            else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
            {
                @Html.Hidden("IsAddUpdateAddress", true)
            }

            @if (HttpContext.Current.User.Identity.IsAuthenticated && Model.AddressId.Equals(0) && Equals(controllerName, "Checkout"))
            {
                //Checkout controller
                <div class="input-checkbox_container">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                        <input type="checkbox" class="input-checkbox" name="DontAddUpdateAddress" id="is_addupdate_address" value="true" text="Add/update my address book">
                        <label for="is_addupdate_address">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="col-xs-12 margin-bottom nopadding">
                <div>
                    <button type="submit" class="btn btn-primary margin-bottom" id="btnSaveAddress" onclick="return User.prototype.RecommendedAddress('@_addressType');" style="color:#fff;width: 100%;">Save & Continue</button>
                    @if (Equals(controllerName, "Checkout"))
                    {
                        @Html.HiddenFor(model => model.OtherAddressId)

                    }
                    else
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("button[type=submit]").click(function () {
        //  console.log("test")
        var errorElements = document.querySelectorAll(".input-validation-error");
        for (var index = 0; index < errorElements.length; index++) {
            const element = errorElements[index];
            //  console.log(element);
            $('html, body').animate({
                scrollTop: $(errorElements[0]).focus().offset().top - 20
            }, 1000);
            return false;
        }
    });
</script>


@Html.HiddenFor(model => model.IsAddressBook)
@Html.HiddenFor(ob => ob.StateName, new { @id = "hdn_StateCode" })
@Html.HiddenFor(ob => ob.ExternalId)
@Html.HiddenFor(ob => ob.CountryName, new { @Value = "US" })
@if (Model.AddressId > 0)
{
    @Html.HiddenFor(m => m.AddressId, new { @id = "edit_AddressId" })
    @Html.Hidden("addressType", _addressType, new { @id = "edit_AddressType" });
}
@if (Model.AccountId > 0)
{
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m => m.AccountAddressId)
}
@Html.Hidden("addressType", _addressType, new { @id = "hnd_addressType", @class = "addressType" })
@Html.Hidden("formChange", true, new { @id = "formChange" })
@Html.Hidden("IsSameAsBillingAddress", "False", new { @name = "IsSameAsBillingAddress", @id = "IsSameAsBillingAddress" })
<script>
    $(document).ready(function () {
        Checkout.prototype.DisableFields();
        $(".addressType").each(function () {
            addresstype = $(this).val();
            if (addresstype != '') {
                User.prototype.BindStates(addresstype);
            }
        });

        Checkout.prototype.BindAddToAddressBookCheckbox();
        Checkout.prototype.ShowHideBillingAddressDiv();
        Checkout.prototype.ShowHideShippingAddressDiv();
    })
</script>

<script>
    $(document).ready(function () {
        $("#frmEditAddress_shipping").validate();
        $('#CompanyName').rules('add', {
            required: false   // overwrite an existing rule
        });
        $('#address_street2').rules('add', {
            required: false   // overwrite an existing rule
        });
    });

   // $("#shipping-content").find(":submit").click(function () { if ("SHIP" == $("#shipmethod").val() && 0 == $("#guestuser").val()) if ("" == $(".storename").val()) { var t = " - (" + $("#address_city").val() + ", " + $("#SelectStateName").val() + ")"; $(".storename").text(t) } else { t = " - (" + $(".address-citystate").attr("data-address-cityname") + ", " + $(".address-citystate").attr("data-address-statecode") + ")"; $(".storename").text(t) } });
     /*Nivi code end for show city name and state*/
</script>
