﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@using Znode.Engine.Api.Models
@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int inventoryRoundOffValue = string.IsNullOrEmpty(inventoryRoundOff) ? 0 : Convert.ToInt32(inventoryRoundOff);
}

@{string ControlType = "";
    try
    {
        ControlType = Convert.ToString(ViewData["ControlType"].ToString());
    }
    catch
    {

    }
}


@if (Model.GroupProducts?.Count > 0)
{
    <div class="group-product-container">
        @foreach (AssociatedProductModel product in Model.GroupProducts)
        {
            using (Ajax.BeginForm("UpdateQuantityOfCartItem", "Cart", new { guid = Model.ExternalId, productId = product.ProductId }, new AjaxOptions() { UpdateTargetId = "divShoppingCart", OnBegin = "Cart.prototype.GetModifiedValuesBeforeBeginUpdate(" + @product.ProductId + ")", OnComplete = "Cart.prototype.EnableDisableCheckoutButton(" + @product.ProductId + ")" }, new { @class = "frmCartQuantity" }))
            {
                                @Html.AntiForgeryToken()

                if (ControlType == "")
                                    {
                    //data-cart-maxquantity="@product.MaximumQuantity"
                    <input type="text" name='Quantity' id="cart-quantity" title="Quantity" value="@Math.Round(product.Quantity, inventoryRoundOffValue)" data-cart-productId="@product.ProductId" data-cart-sku="@Model.SKU" data-cart-maxquantity="@Model.MaxQuantity" maxlength="3" data-cart-minquantity="@product.MinimumQuantity" data-inventoryRoundOff="@inventoryRoundOff" data-sku="@Model.ConfigurableProductSKUs" data-ship-inventory="@Model.QuantityOnHand" data-inventory="" data-IsPickUp="" class="qty" data-qty="@Model.Quantity">
                }
                else
                {
                    <span>&nbsp;@Math.Round(product.Quantity, inventoryRoundOffValue)</span>
                }

                if (Model.InsufficientQuantity)
                {
                    @*<div id="avl_quantity_error_msg_@product.ProductId" class="error-msg quantity-msg-error">@WebStore_Resources.ErrorAvailableStockMessage</div>*@
                    <div id="avl_quantity_error_msg_@product.ProductId" class="error-msg quantity-msg-error">@string.Format(WebStore_Resources.ExceedingAvailableQuantity, Model.QuantityOnHand)</div>
                }
                <div id="quantity_error_msg_@product.ProductId" class="error-msg mobile-error-msg"></div>
            }
        }
    </div>
}
else
{
    using (Ajax.BeginForm("UpdateQuantityOfCartItem", "Cart", new { guid = Model.ExternalId, productId = 0 }, new AjaxOptions() { UpdateTargetId = "divShoppingCart", OnBegin = "Cart.prototype.GetModifiedValuesBeforeBeginUpdate(" + @Model.ProductId + ")", OnComplete = "Cart.prototype.EnableDisableCheckoutButton(" + @Model.ProductId + ")" }, new { @class = "frmCartQuantity" }))
    {
        @Html.AntiForgeryToken()
        string quantity = Helper.GetRoundOffQuantity(Model.Quantity);

        if (ControlType == "")
        {
            //data-cart-maxquantity="@Model.MaxQuantity"
            <input type="text" name='Quantity' id="cart-quantity" value="@quantity" title="Quantity" data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" maxlength="3" data-inventoryRoundOff="@inventoryRoundOff" data-sku="@Model.ConfigurableProductSKUs" data-ship-inventory="@Model.QuantityOnHand" data-inventory="" data-IsPickUp="" class="qty" data-qty="@Model.Quantity">
        }
        else
        {
            <span id="qty_@Model.ProductId" class="qty" data-sku="@Model.ConfigurableProductSKUs">@quantity <br /></span>
        }
        <div id="div_@Model.ProductId" style="display:none;">a</div>
        if (Model.InsufficientQuantity==true && Model.Custom1=="")
        {
            @*<span id="avl_quantity_error_msg_@Model.ProductId" class="error-msg quantity-msg-error">@WebStore_Resources.ErrorAvailableStockMessage</span>*@
            <span id="avl_quantity_error_msg_@Model.ProductId" class="error-msg quantity-msg-error">@string.Format(WebStore_Resources.ExceedingAvailableQuantity, Model.QuantityOnHand)</span>
        }
        <div id="quantity_error_msg_@Model.ProductId" class="error-msg mobile-error-msg"></div>
    }
    <div id="quantity_error_msg" class="error-msg"></div>
   <button class="btn btn-primary btn-lg" style="display:none;" id="btnResetStock" onclick="InStorePickUp.prototype.ResetCartOnSubmit()"><span class="hidden">ResetStock</span></button>
}
