﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    var CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
    int PublishStateId = (byte)PortalAgent.CurrentPortal.PublishState;
    Model.Shipping.ShippingDiscount = 0;
}

<div class="Row Clear Right sizefont" data-test-selector="txtSubTotal">
    <div class="ShoppingTotalContent clearfix">@WebStore_Resources.LabelSubTotal</div>
    <div class="ShoppingTotalContent"><span>@Helper.FormatPriceWithCurrency(Model.SubTotal, CultureCode)</span></div>
</div>
@if (Model.Discount > 0 || Model.Shipping.ShippingDiscount > 0)
{
    var total = Model.Discount + Model.Shipping.ShippingDiscount;
    <div class="Row Clear Right sizefont" data-test-selector="txtShippingDiscount">
        <div class="ShoppingTotalContent clearfix">@WebStore_Resources.ColumnDiscounts</div>
        <div class="ShoppingTotalContent" id="dynamic-discount-amount"><span>@Helper.FormatPriceWithCurrency(0 - total, CultureCode)</span></div>
    </div>
    @Html.Hidden("TotalDiscount", total)
}


@if (Model.TaxCost > 0)
{
    <div class="Row Clear Right sizefont">
        <div class="ShoppingTotalContent clearfix" data-test-selector="paraTax">@WebStore_Resources.ColumnTax</div>
        <div class="ShoppingTotalContent" data-test-selector="txtTaxCost"><span>@Helper.FormatPriceWithCurrency(Model.TaxCost, CultureCode)</span></div>
    </div>
    @Html.HiddenFor(n => n.TaxCost)

}
@if (Model.ShippingCost > 0)
{
    string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})";
    <div class="Row Clear Right sizefont" data-test-selector="ShippingCost">
        <div class="ShoppingTotalContent clearfix">@WebStore_Resources.LabelShippingCost</div>
        <div class="ShoppingTotalContent" id="dynamic-shipping-amount"><span>@Helper.FormatPriceWithCurrency(Model.ShippingCost, CultureCode)</span></div>
    </div>

}

@if (Model.GiftCardApplied)
{
    <div class="Row Clear Right sizefont" data-test-selector="GiftCardApplied">
        <div class="ShoppingTotalContent clearfix">@WebStore_Resources.ColumnGiftCardAmount</div>
        <div class="ShoppingTotalContent" id="dynamic-giftcard-amount"><span>@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, CultureCode)</span></div>
    </div>

}
<div class="Row Clear Right TopBorder" data-test-selector="txtTotalAmt">
    <div class="ShoppingTotalAmountContent">@WebStore_Resources.ColumnOrderTotal</div>
    <div class="ShoppingTotalAmountContent" id="dynamic-order-total"><span>@Helper.FormatPriceWithCurrency(Model.Total, CultureCode)</span></div>
    @Html.Hidden("hdnTotalOrderAmount", Model.Total)
</div>


<input type="hidden" id="Total" value="@Model.Total" />

@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m => m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCurrencyCode", Model.CurrencyCode)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)
<script>
    var coupon = @Html.Raw(Json.Encode(Model.Coupons));
    if (coupon.length > 0) { Cart.prototype.ShowCouponsMessages(coupon)};
</script>



