﻿@model Znode.Engine.WebStore.ViewModels.WidgetTitleListViewModel
@using Znode.Engine.WebStore.Agents
@{
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
}
<ul>
    @foreach (var link in Model?.TitleList)
    {
        if (string.IsNullOrEmpty(link.MediaPath) && link.IsActive)
        {
            if (link.IsNewTab)
            {
                <li>
                    <a href="@link.Url" itemprop="significantLinks" target="_blank" data-test-selector="linkInfoList" title="@Html.RenderBlock(link.Title)">@Html.RenderBlock(link.Title)</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@link.Url" itemprop="significantLinks" target="_self" data-test-selector="linkInfoList" title="@Html.RenderBlock(link.Title)">@Html.RenderBlock(link.Title)</a>
                </li>
            }
        }
        else if (link.IsActive)
        {
            if (link.IsNewTab)
            {
                <li>
                    <a href="@link.Url" itemprop="significantLinks">
                        <img class="img-responsive b-lazy" data-src="@imagePath/@link.MediaPath" alt="@link.Title" title="@link.Title" data-test-selector="@link.Title"/>

                        @if (Model.IsImageRequired)
                        {
                            <span>@Html.RenderBlock(link.Title)</span>
                        }
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@link.Url" itemprop="significantLinks">
                        <img class="img-responsive b-lazy" data-src="@imagePath/@link.MediaPath" alt="@link.Title" title="@link.Title" data-test-selector="@link.Title"/>

                        @if (Model.IsImageRequired)
                        {
                            <span>@Html.RenderBlock(link.Title)</span>
                        }
                    </a>
                </li>
            }

        }
    }
</ul>