﻿@import "_base.scss";

.brand-container{
    .brand-filter{text-align:center;float:left;width:100%;margin:0;padding:0;
        li{list-style:none;display:inline-block;padding-right:30px;
             a{font-size:18px;font-weight:600;}
        }
    }
    .brand-list{display:block;padding:0;
        li{display:inline-block;vertical-align:top;margin-bottom:10px;width:49%;}
        a{color:$base-color-secondary;text-align:center;
          &:hover{color:$base-color-primary;}
          label{text-align:center; width:100%;cursor:pointer;padding-top:5px;}
          img{margin:0 auto;max-width:130px;max-height:130px;min-height:130px;}
        }        
    }    
}

// Brand Category Banner
.brand-banner{margin-bottom:20px;
    p{text-align:justify;padding-right:5px;}
    img{margin:40px auto auto;max-height:150px;}
}

// Media Query
@include screensize(x-small) { 
.brand-container{padding:0 5px;
    .brand-filter li{padding-right:13px;
        a{font-size:14px;}
    } 
}
}
@include screensize(small) { 
.brand-container{padding:0;
    .brand-filter li{padding-right:30px;
        a{font-size:18px;}
    } 
    .brand-list li{width:19%;}
}
}