﻿@import "_base.scss";
// Font Family.
@font-face {
    font-family: 'segoeui';
    src: url('../../Fonts/segoeui.ttf') format('truetype');src: url('../../Fonts/segoeui.eot') format('embedded-opentype');
    src: url('../../Fonts/segoeui.svg') format('svg');src: url('../../Fonts/segoeui.woff') format('woff');
}
@font-face {
    font-family: 'segoeui-bold';
    src: url('../../Fonts/segoeui-bold.ttf') format('truetype');src: url('../../Fonts/segoeui-bold.eot') format('embedded-opentype');
    src: url('../../Fonts/segoeui-bold.svg') format('svg');src: url('../../Fonts/segoeui-bold.woff') format('woff');
}
html, body{
  height:100%;
  font:{
    family:$base-font-family;
    size:$base-font-size;
  }
  color:$text-fgcolor-default;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.nopadding {padding: 0; margin: 0;}
.required:after {content: ' * '; color:$required-star;}

a {outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor; 
    &:hover,&:active,&:focus{outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor-hover;}
}

h1, h2, h3, h4, h5 {color:$base-color-secondary; font-family:$base-font-family;}
h1, h2 {margin:8px 0; font-size:$base-heading-font-primary;}
h3, h4 {margin:6px 0; font-size:$base-heading-font-secondary;}
h5 {margin:4px 0; font-size:$base-font-size;}

p,ul{margin:0;}
.form-group{float:left; width:100%;margin-bottom:10px;}

.padding-top {padding-top:15px;}
.padding-top-bottom {padding:15px 0;}
.padding-left{padding-left:10px;}
.margin-top {margin-top: 15px;}
.margin-top-bottom {margin:15px 0;}
.margin-bottom {margin-bottom:15px;}
z-widget{display:block;}

.field-validation-error, .error-msg { color:$error-msg-fgcolor; }
.success-msg { color:$success-msg-fgcolor; }

// Button
.btn-text{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }        
   padding:0 10px;margin-left:5px;height:34px;line-height:34px;
   &:hover,&:focus,&:active{color:$base-color-white;}
}
.btn-text-icon{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }
   padding:0 15px 1px 10px;height:45px;line-height:45px;margin-left:5px;
   &:hover,&:focus,&:active{color:$base-color-white;}
   i{padding-right:5px;font-size:$base-font-size + 3;line-height:45px;float:left; }
}
.btn-text-full{
    @include btn-text;
    font:{ 
      size:16px;
      weight:$base-font-bold;
   }
   width:100%;padding:0 15px 1px 10px;height:45px;line-height:45px;
   &:hover,&:focus,&:active{color:$base-color-white;}
   i{float: left;font-size:28px;line-height:45px;padding-right:10px;border-right: 1px solid $border-bgcolor-default;}
}
.btn-card {
    @include btn-text;
    font-size:13px;padding:0 15px 0 10px;line-height:34px;
    &:hover,&:focus,&:active{color:$base-color-white;}
    i{padding-right:5px;font-size:$base-font-size + 3;line-height:30px;float:left;}
}
.btn-wishlist {
    @include btn-text;
    background-color:$base-color-white;color:#787878;font-size:$base-font-size;border:1px solid $border-bgcolor-default;padding:0 10px 1px 5px; margin:0 0 5px;
    &:hover,&:focus,&:active{color:$base-color-secondary;}
    i{padding-right:5px;font-size:$base-font-size;line-height:26px;float: left;}
}
.btn-margin-left{margin-left:0;}

.red,.btn-color-primary { background: $base-bgcolor-button-primary; }
.grey,.btn-color-secondary { background: $base-bgcolor-button-secondary;}

// Shadow Efficet
.hvr-shadow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: box-shadow;transition-property: box-shadow;}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);}

// Input Field
input[type="text"], input[type="password"], input[type="email"]{ 
  @include input-field;
  height:34px; border-radius:4px;-webkit-appearance:none;
}
textarea {
  @include input-field;
  resize: none;overflow-y: auto;
}
html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly]{cursor: not-allowed;background-color:#efefef;}
button[disabled]{cursor: not-allowed;opacity:0.3;}
.disable-anchor{color:#ddd;cursor: not-allowed;opacity:0.3;pointer-events:none;}
.disable-radio{color:#ddd;cursor: not-allowed;pointer-events:none;}

// Select
select{color:#292a2a;font-size:12px;width:100%;height:34px;padding:2px 20px 2px 5px;border:1px solid $border-bgcolor-default;box-shadow:none;outline:medium none;-webkit-appearance:none;-moz-appearance: none;-ms-appearance: none;background: #fff url('../../Images/drop-arrow.png') no-repeat 98% center;text-indent: 0.01px; text-overflow: ""; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease;
   option:hover { border: 0; box-shadow: none; outline: medium none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
}
select::-ms-expand { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
.ie select { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }

// Input Fields Inner Icons
.left-inner-icon {position:relative; 
    input {padding-left:36px;}
    i {position:absolute;padding:8px 5px;height:34px;pointer-events: none;top:0;color:$base-color-secondary;line-height:4px;}
}
.right-inner-icon {position:relative; 
    input {padding-right:36px;}
    i {position: absolute;right:0;top:0;padding:9px 10px;height:34px;pointer-events:none;color:$base-color-secondary;line-height:4px;}
}

// Checkbox & Redio Button
.styled-input input[type=radio] {display: none;}
.styled-input input[type=radio]:checked + label:before {font-family:$znode-icon-font;content: "\f192";color: $checkbox-radio-color;font-size:$base-font-size + 5;}
.styled-input input[type=radio] + label {display: block;position: relative;padding-left: 2em;cursor: pointer; margin-bottom:10px;font-weight:normal;line-height:18px;}
.styled-input input[type=radio] + label:before {font-family:$znode-icon-font;content: "\f10c";margin-right: 10px;position: absolute;top: 0;left: 5px;color: $checkbox-radio-label;line-height:20px;font-size:18px;}
.styled-input input[type=checkbox] {display: none;}
.styled-input input[type=checkbox]:checked + label:before {font-family:$znode-icon-font;content: "\f046";color: $checkbox-radio-color;font-size:$base-font-size +5;}
.styled-input input[type=checkbox] + label {display: block;position: relative;padding-left: 2em;cursor: pointer; margin-bottom:10px;font-weight:normal;line-height:20px;}
.styled-input input[type=checkbox] + label:before {font-family:$znode-icon-font;content: "\f096";margin-right: 10px;position: absolute;top: 2px;left: 5px;color: $checkbox-radio-label;line-height:20px;font-size:18px;}

// Notification Messages
.notification-msg{z-index:999;
   .alert{position:relative;padding:5px;line-height:21px;margin-bottom:0;border-radius:0;min-height:36px;top:5px;
           .close{margin-top:-18px;opacity:1;font-size:$base-font-size + 3;}
    }
    .alert-danger{border:1px solid $alert-msg-danger;
        .close{color:$alert-msg-danger;}
    }
    .alert-success{border:1px solid $alert-msg-success;
        .close{color:$alert-msg-success;}
    }
    .alert-info{border:1px solid $alert-msg-info;
        .close{color:$alert-msg-info;}
    }
}

// General CSS
.star-rating{font-size:11px;cursor:context-menu;
    .zf-star-full,.zf-star-half{color:$base-color-primary;}
    .zf-star-empty{color:$base-color-primary;}
    .full{color:$base-color-primary;}
    i:hover{color:#388e3c;}
} 
.sub{font-size:12px;color:#8e8e8e;}
.cut-price{color:#9f9f9f; padding-left:5px;text-decoration:line-through;}

.social-share ul{padding:0; margin:0;float:left;
    li{display:inline-block;}
    i{font-size:26px;color:#787878; cursor:pointer;}
}

// File Upload
.file-upload {position:relative;
    .file-upload-name{float:left;margin-left:15px;line-height:26px;}
    input[type="file"]{position:absolute;top:0;margin:0;opacity:0;width:70px;min-height:34px;}
}
.file-upload-btn{position:relative;overflow:hidden;margin-left:0;background:$base-bgcolor-button-primary;}

// Modal PopUp
.modal-header{background-color:$base-color-primary;
        h4{color:$base-color-white;}
        .close {color:$base-color-white;margin-top:5px;}
}
.modal-body,.modal-footer{display:table;width:100%;background-color:$base-color-white;}

// loader
.loader-body{top:42%;}
.loader,.loader:before,.loader:after{border-radius:50%;width:2.5em;height:2.5em;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:load7 1.8s infinite ease-in-out;animation:load7 1.8s infinite ease-in-out}
.loader{color:$base-color-primary;font-size:10px;margin:20px auto 40px auto;position:relative;text-indent:-9999em;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay:-.16s;animation-delay:-.16s}
.loader:before,.loader:after{content:'';position:absolute;top:0}
.loader:before{left:-3.5em;-webkit-animation-delay:-.32s;animation-delay:-.32s}
.loader:after{left:3.5em}
@-webkit-keyframes load7 {
0%,80%,100%{box-shadow:0 2.5em 0 -1.3em}
40%{box-shadow:0 2.5em 0 0}
}
@keyframes load7 {
0%,80%,100%{box-shadow:0 2.5em 0 -1.3em}
40%{box-shadow:0 2.5em 0 0}
}

// Filter Component Section.
.filter-component{position:relative;display:block;min-height:45px;padding:8px 0;background-color:#f8f3f3;line-height:26px;margin-bottom:15px;border:1px solid #f1e8e8;
        .manage-filter{float:left;min-width:140px;border-right:1px solid $border-bgcolor-default;padding:9px 0;background:#f1e8e8;
            a{background-color:transparent;border:0;font-family:$base-font-family;color:$text-fgcolor-default;padding:0 20px;}
            .dropdown-search .right-inner-icon i{line-height:7px;}
            .z-down{font-size:$base-font-size + 1;padding-left:5px;vertical-align:sub;}
        }
        .filter-close{position:absolute;right:0;top:-12px;right:-8px;font-size:$base-font-size + 5;color:$base-color-secondary;}
        .filter-item-content{padding:8px 0;float:left;}
        .filter-option{position:relative;
            .popover.bottom > .arrow::after{border-bottom-color:#f6f6f6;}            
            .popover,.popover-content{border-radius:0;background-color:#f6f6f6;max-width:none;min-width:285px;}
            .parent-content-popover{
                select{min-width:40px;border-radius:0;height:24px;}
                input[type='text']{border-radius:0;border-right:0;height:24px;}
                button{margin-left:0;border-top-left-radius:0;border-bottom-left-radius:0;}
                &:after {content:""; display:block; clear:both;}
            }
            .btn-dropdown{display:inline-block;border-radius:2px;font-size:12px;font-weight:normal;margin:2px 5px;padding:0 10px;height:24px;line-height:21px;text-transform:capitalize;background-color:$base-color-white;color:$text-fgcolor-default;text-align:left;border:1px solid $border-bgcolor-default;
                  &:hover,&:focus,&:active{color:$base-color-secondary;}
                  span{padding:0;}
                  .z-down{font-size:11px;padding-left:2px;color:$base-color-secondary;vertical-align:sub;}
            }
            .option-close i{position:absolute;top:-5px;font-size:$base-font-size + 1;cursor:pointer;right:-2px;}
            button.btn-text{height:24px;line-height:24px;}
            .filter-search-btn{background-color:$base-color-white;height:24px;border-left:0;border-bottom:1px solid $border-bgcolor-default;border-right:1px solid $border-bgcolor-default;border-top:1px solid $border-bgcolor-default;line-height:24px;color:$base-color-primary;outline: medium none !important;padding:0 6px;}
        }         
    }

// Multi Select dropdown.
.btn-dropdown{
  display:inline-block;
  border-radius:2px;
  font:{ 
      family:$base-font-family;
      size:$base-font-size;
      weight:$base-font-normal;
   }
  padding:0 10px;height:24px;line-height:21px;text-transform:capitalize;background-color:$base-color-white;color:$text-fgcolor-default;border:1px solid $border-bgcolor-default;text-align:left;
  &:hover,&:focus,&:active{color:$base-color-secondary;}
  .zf-down{font-size:10px;padding-left:2px;color:$base-color-primary}
}
.dropdown-list-ul{border-radius:2px;border:1px solid $border-bgcolor-default;margin:0;padding:0;box-shadow:2px 3px 2px $border-bgcolor-default;font-size:$base-font-size;list-style:none !important;min-width:100px;max-height:200px; overflow-y:auto !important;overflow-x:hidden;
    li{list-style:none !important;
         a{color:$text-fgcolor-default;text-transform:capitalize;padding:3px 10px;border-bottom:1px solid #929292;}
         label{font-weight:normal;width:100%;margin-bottom:0;padding:2px 20px 2px 5px;display:block;
             span{width:100%;}
         }
         &:hover{background-color:#3085db;color:$base-color-white;}
         &:nth-last-child(1) a{border-bottom:0 !important;}
      }
}
.dropdown-list-ul:after{content:'';display:block;position:absolute;top:-16px;left:8px;width:0;height:0;border-color: transparent transparent $base-color-white transparent;border-style: solid;border-width: 8px;}
.dropdown-list-multiselect li{display:-webkit-box;display:-moz-box;display:-ms-flexbox;width:100%;border-bottom:1px solid $border-bgcolor-default;line-height:26px!important;
        li:last-child{border-bottom:none;}        
}
.pull-right{
    .dropdown-list-container,.dropdown-menu-right{left:auto;right:0;}
    .dropdown-list-container:after,.dropdown-menu-right:after{left:auto;right:8px;}
}
.dropdown-list-container{left:0;right:auto;margin:0;padding:0;overflow:hidden !important;font-family:$base-font-family;min-width:200px;
     .dropdown-wrapper{position:static;}
     .dropdown-search{background-color:#f5f5f5;padding:5px;border-top:1px solid $border-bgcolor-default;min-width:150px;}
     .dropdown-submit{background-color:#f5f5f5;padding:5px;border-top:1px solid $border-bgcolor-default;text-align:right;float:left;width:100%;
        button.btn-text{color:$base-color-white;}
     }
     .dropdown-list-ul{box-shadow:none;border:0;position:relative;padding:0;}
     input[type="text"]{height:24px;}
}
.multiselect{color:$base-fgcolor-input;font-size:12px; height:24px;min-width:180px;width:100%;padding:2px 20px 2px 5px;text-align:left;border:1px solid $border-bgcolor-default;border-radius:3px; box-shadow:none;outline: medium none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;background: $base-color-white url('../Images/drop-arrow.png') no-repeat 98% center;text-indent: 0.01px;text-overflow: ""; border: 1px solid $border-bgcolor-default;
    &:hover,&:focus,&:active{background-color:transparent !important;}
    .caret{display:none;}
}
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0;max-height:200px;overflow-y:auto;
    .input-group{margin:5px}
    li{padding:0;
       a{padding:0;
           &:hover{background-color:#3085db;color:$base-color-white;}
       }
       label.radio,label.checkbox{margin:0}
       label{margin:0;height:100%;cursor:pointer;font-weight:normal !important;color:$base-color-primary !important;padding:3px 20px 3px 25px;
             input[type=checkbox]{margin-bottom:5px}
             &:hover{color:$base-color-white !important;}
       }
       input[type="checkbox"]{opacity:1 !important;}
    }
    li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:normal}
    li.multiselect-group-clickable label{cursor:pointer}
    li.filter{
        .input-group-addon{padding:1px 6px;background-color:$base-color-white;
             i{color:$base-color-secondary;}
        }
        .input-group-btn{padding:0;background-color:$base-color-white;
             button{padding:1px 6px;}
             i{color:$base-color-secondary;}
        }
    }
    li.active a label{color:$base-color-white !important;}
}
.dropdown-tool{position:relative;}

// Back to top
.back-to-top{position:fixed;bottom:0;right:30px;border-top-left-radius:4px;border-top-right-radius:4px;background-color:$base-color-primary;padding:5px 14px;font-size:18px;color:$base-color-white !important;;opacity:0;transition:opacity .3s 0s, visibility 0s .3s;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;
    &:hover{color:$base-color-white;opacity:1 !important;}
}

// Error Page
.error-page{padding:20px 15px; min-height:300px;}

/*IE11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .filter-component .filter-option .popover, .filter-component .filter-option .popover-content {min-width:289px;}
}

// Widget and Global File Import
@import "_icons.scss";
@import "widgets/_search.scss";
@import "widgets/_quick-order.scss";
@import "widgets/_subscribe.scss";
@import "widgets/_link-panel.scss";
@import "widgets/_local.scss";
@import "widgets/_typeahead.scss";
@import "widgets/_slider.scss";
@import "widgets/_product-list.scss";
@import "widgets/_quick-view.scss";
@import "widgets/_product-grid.scss";
@import "widgets/_facet.scss";
@import "widgets/_compare-product.scss";
@import "widgets/_datepicker.scss";
@import "widgets/_dynamic-grid.scss";