﻿@using Znode.Engine.WebStore.ViewModels
@model BlogNewsListViewModel
@using Znode.Engine.WebStore.Agents
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerThumbnailUrl;
}

<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Model.BlogNewsType</h1>
            </div>

            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                if (Model?.BlogNewsList?.Count > 0)
                {
                    <div class="col-xs-12 nopadding">

                        <ul class="blog-news">
                            @foreach (var blogNews in Model.BlogNewsList.AsEnumerable().Reverse())
                            {
                                <li>
                                    <article>
                                        <div class="col-xs-12 nopadding padding-bottom blog-news-title">
                                            <h2><a href="@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)">@blogNews.BlogNewsTitle</a></h2>
                                        </div>
                                        <div class="col-xs-12 nopadding padding-bottom blog-news-date-time">
                                            <p>@blogNews.CreatedDate.ToDateTimeFormat()</p>
                                        </div>
                                        @if (!Equals(blogNews.MediaPath, null))
                                        {
                                            <div class="col-xs-12 col-sm-2 nopadding">
                                                <img src="@imagePath/@blogNews.MediaPath" class="img-responsive" data-src="@imagePath/@blogNews.MediaPath" alt="Image" title="@blogNews.BlogNewsTitle" />
                                            </div>
                                            <div class="col-xs-12 col-sm-10 nopadding padding-bottom blog-news-text">
                                                <p>@blogNews.BodyOverview</p>
                                                @if (!string.IsNullOrEmpty(blogNews.Tags))
                                            {
                                            <div class="col-xs-12 nopadding pull-right margin-top-bottom blog-news-tags"><b>@WebStore_Resources.TextTags:</b> @blogNews.Tags</div>
                                            }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-xs-12 nopadding padding-bottom blog-news-text">
                                                <p>@blogNews.BodyOverview</p>
                                                @if (!string.IsNullOrEmpty(blogNews.Tags))
                                            {
                                            <div class="col-xs-12 nopadding pull-right margin-top-bottom blog-news-tags"><b>@WebStore_Resources.TextTags:</b> @blogNews.Tags</div>
                                            }
                                            </div>

                                        }
                                        <div class="col-xs-12 nopadding">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary" onclick="javascript: location.href = '@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)';">@WebStore_Resources.ReadMore</button>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <span>@string.Format(WebStore_Resources.TextForEmptyBlogNewsList, Model.BlogNewsType)</span>
                }
            }
        </div>
    </div>
</div>