﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BrandViewModel>
@{
    Layout = null;
}
<div class="col-xs-12 nopadding sp-brand-list-container">
    <ul class="brand-list">
        @if (Model?.Count > 0)
        {
            foreach (BrandViewModel brand in Model)
            {
                <li class="sp-brand-popup sp-brands" onclick="Brand.prototype.GetSelectedBrand(@brand.BrandId)">
                    @brand.BrandName
                </li>
            }
        }
        else
        {
            <div>@WebStore_Resources.TextBrandNotAvailable</div>
        }
    </ul>
</div>