﻿@using Znode.Engine.Admin.ViewModels
@model GiftCardListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="@Model.GridModel.FrontObjectName">
    <!--Main Container-->
    <div class="col-sm-12 title-container">
        <h1>@Admin_Resources.TitleGiftCardsList<span class="total-count"><p>@Model.GridModel.TotalRecordCount</p></span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink(Admin_Resources.ButtonAdd, "Create", controllerName, null, new { @class = "btn-text btn-text-secondary", @data_test_selector = "linkAddNew" })
        </div>
    </div>
    <div id="share-btn" style="display:none"></div>
    <section class="col-sm-12 page-container">
        
        @using (Ajax.BeginForm(actionName, controllerName, new { isExcludeExpired = Model.IsExcludeExpired }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        
        <div class="expired-gift-card">
            @Html.DropDownList("ExpiredGiftCard", new[] {
                           new SelectListItem() {Text = "Exclude Expired", Value = "ExcludeExpired", Selected = Model.IsExcludeExpired ? true : false },
                           new SelectListItem() {Text = "All", Value = "All",Selected = Model.IsExcludeExpired ? false : true} }, new { @id = "ExpiredGiftCard", @OnChange = "GiftCard.prototype.GetListBasedOnSelection();" })
        </div>
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = Admin_Resources.HeaderConfirmDelete,
                Description = Admin_Resources.TextGiftCardConfirmDelete,
                ModalPopUpId = "GiftCardDeletePopup",
                Buttons = new List<PopUpButtonModel>() {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName =  "GiftCard.prototype.DeleteGiftCard(this)"}
                }
            })
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
        @Html.HiddenFor(m => m.IsExcludeExpired)
    </section>
</div>