﻿@using Znode.WebStore.Custom.ViewModel

@model ScheduleATruckViewModel
@{
    ViewBag.Title = "Schedule A Truck | Rogan’s Shoes";
    ViewBag.Description = "Schedule a Mobile Shoe Truck for your company from Rogan’s Shoes";
}
<div id="layout-Application" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="PageTitle">
                <h1>Schedule A Truck</h1>
                <h2 class="hidden">Schedule A Truck</h2>
            </div>
            <div class="col-xs-12 nopadding">
                <div>
                    @Html.RenderMessage("FooterScheduleATruck")
                </div>
                <div class="Form LableForm col-xs-12 col-md-6 col-lg-5 margin-bottom margin-top nopadding">
                    @using (Html.BeginForm("ScheduleATruck", "RSCustomizedForm", FormMethod.Post, new { @id = "frmScheduleATruck" }))
                    {

                        <div class="col-xs-12 col-lg-12 nopadding kmirrort">
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.CompanyName, new { @alt = @WebStore_Resources.ColumnCompanyNameAlt, @id = "idCompanyName", @maxlength = 100, @required = "required", @title = @WebStore_Resources.ColumnCompanyNameTitle })
                                <label for="idCompanyName" placeholder="@WebStore_Resources.ColumnCompanyName"><span>@WebStore_Resources.ColumnCompanyName</span></label>
                                <p class="error-msg">@Html.ValidationMessage("idCompanyNameErr", "", new { @id = "idCompanyNameErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.Address, new { alt = @WebStore_Resources.ColumnAddress, @id = "valueAddres", @required = "required", @title = @WebStore_Resources.ColumnAddress })
                                <label for="valueAddres" placeholder="@WebStore_Resources.ColumnAddress"><span>@WebStore_Resources.ColumnAddress</span></label>
                                <p class="error-msg">@Html.ValidationMessage("AddressErr", "", new { @id = "AddressErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @alt = @WebStore_Resources.LabelPhoneNumberAlt, @maxlength = 20, @id = "valPhoneNum", @required = "required", @title = @WebStore_Resources.LabelPhoneNumberTitle })
                                <label for="valPhoneNum" placeholder="@WebStore_Resources.LabelPhoneNumber"><span>@WebStore_Resources.LabelPhoneNumber</span></label>
                                <p class="error-msg">@Html.ValidationMessage("valPhoneNumErr", "", new { @id = "valPhoneNumErr" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.FirstName, new { @alt = @WebStore_Resources.LabelContactTitle, @maxlength = 100, @id = "valFirstName", @required = "required", @title = @WebStore_Resources.LabelContactTitle })
                                <label for="valFirstName" placeholder="@WebStore_Resources.LabelContactTitle"><span>@WebStore_Resources.LabelContactTitle</span></label>
                                <p class="error-msg">@Html.ValidationMessage("valFirstNameErr", "", new { @id = "valFirstNameErr" })</p>
                            </div>

                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.EmailID, new { @alt = @WebStore_Resources.LabelEmailAddressAlt, @maxlength = 200, @id = "valEmail", @required = "required", @title = @WebStore_Resources.LabelEmailAddressTitle })
                                <label for="valEmail" placeholder="@WebStore_Resources.LabelEmailAddress"><span>@WebStore_Resources.LabelEmailAddress</span></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrEmailVal", "", new { @id = "ErrEmailVal" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.NoOfEmployee, new { @alt = @WebStore_Resources.TextNoOfEmployeeAlt, @id = "NumberEmployee", @maxlength = 100, @required = "required", @title = @WebStore_Resources.TextNoOfEmployeeTitle })
                                <label for="NumberEmployee" placeholder="@WebStore_Resources.TextNoOfEmployee"><span>@WebStore_Resources.TextNoOfEmployee</span></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrNumberEmployee", "", new { @id = "ErrNumberEmployee" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.Steeltorequired, new { @alt = @WebStore_Resources.LabelFootwearRequirmentTitle, @id = "valSteelRequired", @required = "required", @title = @WebStore_Resources.LabelFootwearRequirmentTitle })
                                <label for="valSteelRequired" placeholder="@WebStore_Resources.LabelFootwearRequirmentTitle"><span>@WebStore_Resources.LabelFootwearRequirmentTitle</span></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrorSteelRequired", "", new { @id = "ErrorSteelRequired" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextBoxFor(model => model.PosterNeeded, new { @alt = @WebStore_Resources.ColuTextPosterNeededAlt, @maxlength = 100, @id = "ValPosterNeeded", @required = "required", @title = @WebStore_Resources.ColuTextPosterNeededTitle })
                                <label for="ValPosterNeeded" placeholder="@WebStore_Resources.ColuTextPosterNeeded"><span>@WebStore_Resources.ColuTextPosterNeeded</span></label>
                                <p class="error-msg">@Html.ValidationMessage("ErrPosterNeed", "", new { @id = "ErrPosterNeed" })</p>
                            </div>
                            <div class="col-lg-12 nopadding">
                                @Html.TextAreaFor(model => model.Description, new { @id = "valComment", rows = "10", cols = "50", @required = "required", @class = "TextBoxrogan", @title = @WebStore_Resources.TextNote, @alt = @WebStore_Resources.TextNote })
                                <label for="valComment" placeholder="@WebStore_Resources.TextNote" class="reviewlabelset"><span>@WebStore_Resources.TextNote</span></label>
                            </div>
                        </div>
                        <div class="col-sm-12 nopadding margin-top">
                            <div id="div-captcha">
                                @Html.ZnodeCaptcha()
                            </div>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding margin-top">
                            <button type="submit" class="btn btn-primary" onclick="return CaseRequest.prototype.ValidationForScheduleATruckForm();">@WebStore_Resources.ButtonSubmit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script async>
    $("#frmScheduleATruck").submit(function (event) {
        $("#Schedule-ATruck").prop("disabled", true).addClass("disabled");
    });
    //$(function () { $("#DatesRequested").datepicker({ format: "yyyy-mm-dd" }), $("#DatesRequested").on("change", function () { var e = Date.parse($(this).val()), t = new Date; t.setDate(t.getDate() - 1), e < t ? ($("#valDatesRequestedErr").text("Requested Date must be greater than Current Date."), $(this).val("")) : $("#valDatesRequestedErr").text("") }), $("#frmScheduleATruck").validate(), $("#idCompanyName").rules("add", { required: !1 }), $("#DatesRequested").rules("add", { required: !1 }), $("#TimeRequested").rules("add", { required: !1 }), $("#valueAddres").rules("add", { required: !1 }), $("#valPhoneNum").rules("add", { required: !1 }), $("#valFirstName").rules("add", { required: !1 }), $("#valLastName").rules("add", { required: !1 }), $("#NumberEmployee").rules("add", { required: !1 }), $("#valMaleFemale").rules("add", { required: !1 }), $("#valSteelRequired").rules("add", { required: !1 }), $("#ValContriAmount").rules("add", { required: !1 }), $("#ValPayroll").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }), $("#ValPosterNeeded").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }) });
    //called when key is pressed in textbox
    $("#valPhoneNum").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    $(document).ready(function () {
        var arr = $("#div-captcha").html().split("<br>");
        var string = '<label for="CaptchaInputText">' + arr[3] + '</label>';
        $("#div-captcha").html($("#div-captcha").html().replace(arr[3], string));
    });
</script>


