﻿<form name="SearchPaging">
    @Html.AntiForgeryToken()
    @{
        string pageSize = Request.QueryString["PageSize"] ?? "1";

        if (!Equals(Session["PageSizeValue"], null))
        {
            pageSize = Convert.ToString(Session["PageSizeValue"]);
        }
    }

    @Html.DropDownList("PageSize", new[] {
                           new SelectListItem() {Text = WebStore_Resources.Show8, Value = "8", Selected = pageSize == "8" },
                           new SelectListItem() {Text = WebStore_Resources.Show12, Value = "12",  Selected = pageSize == "12"},
                           new SelectListItem() {Text =WebStore_Resources.Show16, Value = "16",  Selected = pageSize == "16" },
                           new SelectListItem() {Text = WebStore_Resources.ShowAll, Value = "-1",  Selected = pageSize == "-1"},
})
</form>
<script>
    $(document).ready(function () {
        totalPages = parseInt($("#hdnTotalPages").val(), 10);
        var pageno = ZSearch.prototype.GetQueryStringParameterByName("pagenumber");
        if (totalPages == 1) {
            $('#prev-page-search').addClass('disabled');
            $('#next-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(pageno) == 1 || pageno == "") {
            $('#prev-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(pageno) == (totalPages)) {
            $('#next-page-search').addClass('disabled');
            return false;
        }
    });
</script>