﻿@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    string[] CartDesc = Model.CartDescription.Replace("-", ":").Replace("<br>", ",").Replace("<br/>", "").Split(new string[] { "," }, StringSplitOptions.None);
    string cCartDesc = "";
    string Color = "", Size = "", Width = "";
    foreach (string att in CartDesc)
    {
        if (att.Contains("Color"))
        {
            Color = "<span><b> Color :</b>" + att.Substring(att.IndexOf(':') + 1) + "</span>\t\t\t";
        }
        else if (att.Contains("Size"))
        {
            Size = "<span><b> Size :</b>" + att.Substring(att.IndexOf(':') + 1) + "</span>\t\t\t<br/>";
        }
        else if (att.Contains("Width"))
        {
            Width = "<span><b> Width :</b>" + att.Substring(att.IndexOf(':') + 1) + "</span>\t\t\t";
        }
    }
    cCartDesc = Color + " " + Size + " " + Width;
    //PICKUP IN STORE
    var storename = string.Empty;
    if (Model.Custom2 == null)
    {
        Model.Custom2 = storename;
    }
    else if (Model.Custom2.ToString() == "\"\"")
    {
        Model.Custom2 = storename;
    }


    string ipAddress = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
    if (string.IsNullOrEmpty(ipAddress))
    {
        ipAddress = Request.ServerVariables["REMOTE_ADDR"];
    }
    ViewBag.IPAddress = ipAddress;
    string res = "https://ipinfo.io/" + ipAddress + "/json";

}
<input type="hidden" id="hdnIPAddress" value="@res" />
<tr class="Row">

    <td class="cart-item-details">
        <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2 cart-image ProductImage">
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-responsive b-lazy" alt="@Html.RenderBlock(Model.ProductName)" title="@Html.RenderBlock(Model.ProductName)"></a>
        </div>
        <div class="col-lg-6 col-xs-9 col-sm-9 col-md-10 cart-description Description">
            <div class="ProductName">
                <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title" title="@Html.RenderBlock(Model.ProductName)">@Html.RenderBlock(Model.ProductName)</a>
            </div>
            <div class="ProductDesc">
                @if (Model?.PersonaliseValuesList?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesList)
                    {
                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                        {
                            <p><strong>@item.Key</strong> @item.Value</p>
                        }
                    }
                }
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-description"><p><b>Item #</b>@Html.RenderBlock(Model.SKU)</p></div>
            <div class="cart-item-description">@Html.RenderBlock(cCartDesc)</div>

            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>
        <!--New DIV Added--><!--Start Pickup store-->
        <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12 mobile-set-ship1 shoppingcart-left">
            <input type="hidden" id="sku" value="@Model.SKU">
            @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)
            @Html.Hidden("ProductId", Model.ProductId)

            <!--Custom5= Is Product Ship only(i.e not available for pick up in store)-->
            @if (Model.Custom5 == "true")
            {
            
                <div class="col-lg-12 nopadding margin-top GreyOut" id="RSshippingType">
                    <div class="col-xs-12 nopadding styled-input margin-bottom-5">
                        <input type="radio" id="Ship-@Model.ProductId" name=@Model.ProductId value="1" data-dismiss="modal" class="rdlShip" checked onclick="" disabled />
                        <label class="set-radio-btn" title="SHIP" for="Ship-@Model.ProductId" style="cursor: not-allowed;">SHIP</label>
                    </div>
                    <div class="col-xs-12 nopadding styled-input margin-bottom-5">
                        <input type="radio" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" onclick="" disabled class="rdlPick_@Model.ProductId" />
                        <label class="set-radio-btn" title="PICK UP IN STORE(Not Available)" for="Pickup-@Model.ProductId" style="cursor: not-allowed;">PICK UP IN STORE(Not Available)</label>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-12 nopadding margin-top" id="RSshippingType">
                    <div class="col-xs-12 nopadding styled-input margin-bottom-5">
                        @if (@Model.Custom1 != "")
                        {
                            <input type="radio" id="Ship-@Model.ProductId" name=@Model.ProductId value="1" data-dismiss="modal" class="rdlShip" onclick="RemoveStoreDetailsForCartOnShipClick('@Model.ProductId')" />
                            <label class="set-radio-btn" title="SHIP" for="Ship-@Model.ProductId">SHIP</label>
                        }
                        else
                        {
                            <input type="radio" id="Ship-@Model.ProductId" name=@Model.ProductId value="1" checked data-dismiss="modal" class="rdlShip" />
                            <label class="set-radio-btn" title="SHIP" for="Ship-@Model.ProductId">SHIP</label>
                        }
                    </div>
                    <div class="col-xs-12 nopadding styled-input margin-bottom-5">
                        @if (@Model.Custom1 != "")/*Pick up in store selected in PDP and carry forwarded to Cart*/
                        {
                            <input type="radio" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" data-toggle="modal" data-target="#searchstore" checked class="rdlPick_@Model.ProductId" />
                            <label class="set-radio-btn" title="PICK UP IN STORE(FREE)" for="Pickup-@Model.ProductId">PICK UP IN STORE(FREE)</label>
                            <div id="defaultstorename" class="defstore">

                                <label class='storename'>@Model.Custom2</label>&nbsp;<span class='select-store'><a style='text-decoration: underline;' data-toggle='modal' data-target='#searchstore' href='#' data-pickupTarget="rdlPick_@Model.ProductId" data-product="@Model.ProductId" onclick="return GetPickUpRadio(this);">Change Store</a></span>
                            </div>
                        }
                        else/*Ship is selected in PDP and carry forwarded to Cart*/
                        {
                            if (@Model.Custom2 != string.Empty)/*Case Default Store is displayed for customer*/
                            {
                                <input type="radio" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" onclick="AssignStoreDetailsForCart('@Model.Custom1','@Model.Custom2','@Model.Custom3','@Model.ProductId');" />
                            }
                            else/*Case first time customer is setting Default Store*/
                            {
                                <input type="radio" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" data-toggle="modal" data-target="#searchstore" class="rdlPick_@Model.ProductId" />
                            }
                            <label class="set-radio-btn" for="Pickup-@Model.ProductId" title="PICK UP IN STORE(FREE)">PICK UP IN STORE(FREE)</label>
                            <div id="defaultstorename" class="defstore">
                                <label class='storename'>@Model.Custom2</label>&nbsp;<span class='select-store'><a style='text-decoration: underline;' data-toggle='modal' data-target='#searchstore' href='#' data-pickupTarget="rdlPick_@Model.ProductId" data-product="@Model.ProductId" onclick="return GetPickUpRadio(this);" title="Select Store">Select Store</a></span>

                            </div>
                        }

                        @Html.HiddenFor(x => x.Custom1, new { id = "SelectedWarehouseId" })
                        @Html.HiddenFor(x => x.Custom2, new { id = "SelectedWarehouseName" })
                        @Html.HiddenFor(x => x.Custom3, new { id = "SelectedWarehouseAddress" })
                        @Html.HiddenFor(x => x.ProductId, new { id = "hdnProductID" })

                    </div>
                </div>
                <br />
                <div id="searchstore" hidden="hidden" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <input type="hidden" name="hdnSelectedStoreID" value="" />
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color:#F7F7F7">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                                <button id="search" class="btn btn-location text-uppercase" onclick="GetLocation('cart');" title="@WebStore_Resources.ButtonUseMyCurrentLocation"><i class="fa fa-map-marker"></i> @WebStore_Resources.ButtonUseMyCurrentLocation</button>
                            </div>
                            <div class="modal-body">
                                <div id="storedetails" hidden="hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!--End Pickup store-->
        </div>
    </td>
    <td class="Price">

        @if (Model?.GroupProducts?.Count > 0)
        {
            foreach (var item in Model.GroupProducts)
            {
                <div class="group-product-list">
                    @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                </div>
            }
        }
        else
        {
            @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, Model.UOM)
        }
    </td>
    <td class="cart-item-quantity">
        @Html.Partial("_Quantity", Model)
        <p class="remove-item" style="@_displayRemoveLink">
            @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId, @class = "mobile-right" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12 nopadding">
                    <a href="#" title="Update" class="Edit" onclick="Cart.prototype.UpdateCartQauntity($(this).closest('tr').find('#cart-quantity'))">Update</a>
                    <a href="#" class="Delete" onclick="javascript:$($(this).closest('form').submit());" title="Delete">Delete</a>
                </div>

            }
        </p>
    </td>
    <td class="Price Pricesingle">
        @Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)
    </td>
</tr>
<script src="~/Views/Themes/RogansShoes/Scripts/lib/PickUpInStore.js"></script>