﻿@using Znode.WebStore.Custom.Helper
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels;
@model Znode.Engine.WebStore.ViewModels.CartViewModel
@{
    var count = 0;
    decimal cartCount = @WidgetHelper.GetCartCount();
    var ShoppingCartItemscount = Model.ShoppingCartItems?.Count;
}
@foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
{
    Layout = null;
    int productId = cartItem.ParentProductId > 0 ? cartItem.ParentProductId : !string.IsNullOrEmpty(cartItem.ProductId) ? Convert.ToInt32(cartItem.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? cartItem.IsAllowedTerritories ? "display:none" : "" : "";
    <div class="MiniCart">
        @if (count == 0)
        {
            <div class="ItemCountTop">
                <div class="ItemTotal">
                    <a href="/Cart" style="color: #333;">@cartCount<span>Item(s)</span></a>
                </div>
            </div>
            <div class="ItemCountWrapper">
                <div class="MiniCartProductImage">
                    <a href="@Url.GetProductUrl(cartItem?.SeoPageName, productId.ToString())" title="@Html.RenderBlock(cartItem.ProductName)"><img src="@cartItem.ImagePath" class="img-responsive" alt=""></a>
                </div>
                <div class="MiniCartProductInfo">
                    <div class="SKU"><strong>Item # </strong>@Html.RenderBlock(cartItem.SKU)</div>
                    <div class="ItemId"><strong>Qty </strong>@cartItem.Quantity</div>
                    <div class="CartPrice">
                        <strong>Price</strong>&nbsp;
                        @if (cartItem?.GroupProducts?.Count > 0)
                        {
                            foreach (var item in cartItem.GroupProducts)
                            {
                                @Helper.FormatPriceWithCurrency(cartItem.UnitPrice, cartItem.CurrencyCode)
                            }
                        }
                        else
                        {
                            @Helper.FormatPriceWithCurrency(cartItem.UnitPrice, cartItem.CurrencyCode, cartItem.UOM)
                        }
                    </div>
                </div>
            </div>
        }

        @if (count > 0)
        {
            <div class="ItemCountWrapper">
                <div class="MiniCartProductImage">
                    <a href="@Url.GetProductUrl(cartItem?.SeoPageName, productId.ToString())" title="@Html.RenderBlock(cartItem.ProductName)"><img src="@cartItem.ImagePath" class="img-responsive" alt=""></a>
                </div>
                <div class="MiniCartProductInfo">
                    <div class="SKU"><strong>Item # </strong>@Html.RenderBlock(cartItem.SKU)</div>
                    <div class="ItemId"><strong>Qty </strong>@cartItem.Quantity</div>
                    <div class="CartPrice">
                        <strong>Price</strong>&nbsp;
                        @if (cartItem?.GroupProducts?.Count > 0)
                        {
                            foreach (var item in cartItem.GroupProducts)
                            {
                                @Helper.FormatPriceWithCurrency(cartItem.UnitPrice, cartItem.CurrencyCode)
                            }
                        }
                        else
                        {
                            @Helper.FormatPriceWithCurrency(cartItem.UnitPrice, cartItem.CurrencyCode, cartItem.UOM)
                        }
                    </div>
                </div>
            </div>
        }
        @if (count == ShoppingCartItemscount - 1)
        {
            <div class="ItemCountBottom">
                <div class="MiniCartTotalSec">
                    <div class="QtyTotal"><a href="/Cart" style="color: #333;">@cartCount<span>Item(s)</span></a></div>
                    <div class="ItemTotal"><a href="/Cart">@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.SubTotal), "", "")</a></div>
                </div>
                <div class="MiniCartLinkSec">
                    <div>
                        <a href="/cart" alternatetext="View Cart" class="ViewCartButton" title="View Cart">View Cart</a>
                        <a href="/cart" alternatetext="Checkout" class="CartCheckoutButton" title="Checkout">Checkout</a>
                    </div>
                </div>
            </div>
        }
    </div>
    count = count + 1;
}

<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>