﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    var consolidatedCartItems = cartItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
    string disablebutton = (Model.IsLevelApprovedOrRejected
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                          ? "disabled='disabled'" : "";
    bool isEnableApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
    List<CartItemViewModel> _shipItems = Model.ShoppingCartItems?.Where(x => x.Custom1 == "").ToList();
    List<CartItemViewModel> _pickItems = Model.ShoppingCartItems?.Where(x => x.Custom1 != "").ToList();
    string storename = _pickItems?.FirstOrDefault()?.Custom2;
    string storeaddress = _pickItems?.FirstOrDefault()?.Custom3;
}
<style>
    .single-page-checkout .cart-promocode {
        width: 100%;
    }

    .Form .CouponContent {
        text-align: center;
        width: 100%;
    }

    .paddingapplyCoupen {
        padding: 0px 80px 0px 80px;
    }
</style>


@if (_pickItems?.Count == Model?.ShoppingCartItems?.Count)
{
    @Html.Hidden("AllItemsPickup", true);
}
<div class="ShoppingCart col-xs-12 col-sm-12 nopadding nopadding-mobile chk-section">
    <h3 class="title">@*<span id="cartReviewSerialNo">5</span>*@&nbsp;&nbsp; @WebStore_Resources.SinglePageCheckoutReviewOrder</h3>
    <div class="col-xs-12 nopadding cart-products">
        @*To Be Uncommented for Pickup Functionality*@
        @if (_pickItems?.Count > 0)
        {
            <!--Pick Up Store Div-->
        <div class="col-xs-12 col-lg-12 col-md-12 nopadding cart-item-seprator">
            <div class="col-xs-12 col-sm-12 nopadding margin-bottom">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h4>Pick Up In Store - (@storename)</h4>
                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 margin-bottom-5">
                    <p>Who will be picking this up?</p>
                    <div class="col-lg-12 nopadding styled-input margin-bottom-5">
                        <input type="radio" id="Me" name="whopickup" checked="checked" value="Me" />
                        <label for="Me" class="set-radio-btn" title="Me">Me</label>
                    </div>
                    <div class="col-lg-12 nopadding styled-input">
                        <input type="radio" id="SomeoneElse" name="whopickup" value="Someoneelse" />
                        <label for="SomeoneElse" class="set-radio-btn" title="Someone Else">Someone Else</label>
                    </div>

                    <div id="otherAnswer" class="col-lg-12 col-md-12 col-xs-12 nopadding margin-top" style="display:none;">
                        <div class="col-lg-7 col-md-7 col-xs-12 nopadding padding-left-25">
                            @Html.TextBoxFor(model => model.Custom1, new { @required = "required", @name = "Name", @title = "Name *" })
                            <label for="Custom1" alt="Name *" placeholder="Name *"></label>
                            <span id="error-name" class="text-danger"></span>
                        </div>

                        <div class="col-lg-7 col-md-7 col-xs-12  nopadding padding-left-25">
                            @Html.TextBoxFor(model => model.Custom3, new { @required = "required", @name = "Phone", @title = "Phone *" })
                            <label for="Custom3" alt="Phone *" placeholder="Phone *"></label>
                            <span id="error-phone" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7 col-md-7 col-xs-12 max_tickets nopadding padding-left-25">
                            @Html.TextBoxFor(model => model.Custom2, new { @required = "required", @name = "Notifyme", @title = "Email *" })
                            <label for="Custom2" alt="Email *" placeholder="Email *"></label>
                            <span id="error-email" class="text-danger"></span>
                        </div>
                        <div class="col-xs-12 col-lg-12 nopadding padding-left-25">
                            <label>*Notification will be sent to this email when order is ready</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 nopadding">
                @foreach (CartItemViewModel cartItem in _pickItems.AsEnumerable().Reverse())
                {
                    @Html.Partial("../Checkout/_CartRowforcheckout", cartItem)
                }
            </div>
        </div>
           
        }
		
           @if (_shipItems?.Count > 0)
        {
        <div class="col-xs-12 col-lg-12 col-md-12 nopadding cart-item-seprator">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h4>Ship</h4>
            </div>
            <div class="col-xs-12 nopadding">
                @foreach (CartItemViewModel cartItem in _shipItems.AsEnumerable().Reverse())
                {
                    @Html.Partial("../Checkout/_CartRowforcheckout", cartItem)
                }
            </div>
        </div>

        }
      
    </div>

        <div class="col-xs-12 nopadding">
            <div class="Form">
                <div>
                    <div class="TotalBox">
                        <div class="col-xs-12 nopadding">
                            <div class="CartPricingSection CartPricingsecCheckout" id="summary-details">
                                @Html.Partial("../_TotalTable", Model)
                            </div>
                        </div>
                        <div class="col-xs-12 hidden">
                            <div class="clearfix CouponContent ContainerSection">
                                @Html.Partial("../_ApplyCoupon", Model)
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })


<!--PickUp Store Script -->
<script>
      $(document).ready(function(){Checkout.prototype.ChangeCartReviewSequence(),Checkout.prototype.ChangeSubmitOrderButtonText(),$("#SomeoneElse").change(function(){"Someoneelse"==$(this).val()?$("#otherAnswer").show():($("#otherAnswer").hide(),$("#Custom2").val(""),$("#Custom1").val(""),$("#Custom3").val(""))}),$("#Me").change(function(){"Me"==$(this).val()&&($("#otherAnswer").hide(),$("#Custom2").val(""),$("#Custom1").val(""),$("#Custom3").val(""))})});
</script>