﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CategoryViewModel
@{ 
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    var homeimage = Model.Attributes.FirstOrDefault(x => x.AttributeCode == "HomePageImage")?.AttributeValues;
    var path = "";

    var imageSource = "";
    if (homeimage == null || homeimage == "")
    {
        imageSource = Model.ImageMediumPath;
    }
    else
    {
        path = PortalAgent.CurrentPortal.MediaServerUrl;
        imageSource = path + homeimage;
    }
}

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center item">
    <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)" class="FeaturedCategory" title="@WebUtility.HtmlDecode(Model.CategoryName)">
        <span class="FeaturedTitle"><span class="RedText">SHOP</span> @WebUtility.HtmlDecode(Model.CategoryName)</span>
        <img id="@Model.CategoryId" src="@imageSource" data-src="@imageSource" title="@WebUtility.HtmlDecode(Model.CategoryName)" alt="@WebUtility.HtmlDecode(Model.CategoryName)" class="img-responsive b-lazy" />
    </a>
</div>
