﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string catname = @Model.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
    bool isUsedInNavigation = Convert.ToBoolean(
    @Model.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues);

}

@if (isUsedInNavigation)
{
    <div class="SubCategoryListItem" title="@catname" itemscope itemtype="http://schema.org/MenuItem">
        <div class="Image">
            <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null, Model.CategoryId)" itemprop="url"><img id="@Model.CategoryId" src="@Model.ImageMediumPath" data-src="@Model.ImageMediumPath" class="img-responsive b-lazy" alt="@catname" style="width: 100%;" data-src="@Model.ImageMediumPath" itemprop="image" /></a>
        </div>
        <div class="CategoryLink">
            <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null, Model.CategoryId)"><span itemprop="name">@Convert.ToString(@catname).Replace("&amp;", " ")</span></a>
        </div>
    </div>
}
