﻿@using ZNode.Libraries.Resources
@using ZNode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title =PortalAgent.CurrentPortal.Name;
    }
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Html.Partial("_LayoutHead")
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()" onload="javascript: var notification = new Notification(); notification.DisplayNotificationMessages();">    
    <div id="layout" class="wrapper">
        <!--Header Widgets-->
        <header>
            <z-widget>@Html.WidgetPartial("Header", "Header", "101", "PortalMapping")</z-widget>
        </header>
        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- Notification Msg -->
                    <div class="container">
                        <div class="row">
                            <div class="notification-msg" id="body">
                                <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]"></div>
                                @{
                                    TempData.Remove("Notifications");
                                }
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Footer Widgets-->
        <footer id="layout-footer">
            <z-widget>@Html.WidgetPartial("Footer", "Footer", "102", "PortalMapping")</z-widget>
        </footer>
    </div>
    @Html.Partial("_InlineTemplates")

    @Html.Hidden("hdnPaymentAppUrl", @ZnodeDemoSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeDemoSettings.ZnodeWebStoreUri)



    @Scripts.Render("/bundles/CoreJs")
    @Scripts.Render("/bundles/CustomJs")
    @Scripts.Render("/bundles/ClientResource")
    @RenderSection("scripts", required: false)

    @*---Quick View PopUp----*@
    <div class="modal fade quick-view-popup" id="quick-view-popup-ipad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="popup-container modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="close-quick-view-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
            <div id="quick-view-content">
            </div>
        </div>
    </div>
    @*This div is important for displaying product compare status*@
    <div id="divAddedForCompare" class="modal fade comparepopup" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="compare-product-popup" id="popUp_content">
        </div>
    </div>
    <button id="btnAddCompare" style="display:none" data-toggle="modal" data-target=".comparepopup">Compare</button>
</body>
</html>
<script>
    $(window).on("scroll touchmove", function () {
        $('.header').toggleClass('shrink', $(document).scrollTop() > 0);
    });
</script>


