﻿@using Znode.Engine.WebStore.Agents
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>@ViewBag.Title</title>
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string faviconimage = !string.IsNullOrEmpty(_portal.FaviconImage) ? MediaPaths.MediaPath + _portal.FaviconImage : $"favicon.ico";
    string _cssname = $"{_fileLocation}/Content/css/{_portal.Css}.css";
}
<link href="@faviconimage" rel="shortcut icon" type="image/x-icon" onerror="this.onerror = null; this.src = 'favicon.ico'">
<meta name="description" content="@ViewBag.Description" />
<meta name="keywords" content="@ViewBag.Keywords">
<script src="~/Scripts/lib/jquery-1.10.2.js"></script>
<script src="~/Scripts/lib/jquery.validate.js"></script>
<script src="~/Scripts/lib/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/lib/DynamicValidation.js"></script>
<script src="~/Scripts/lib/jquery.unobtrusive-ajax.js"></script>

<link href="@_fileLocation/Content/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
<link href="@_cssname" rel="stylesheet" />
<script src="@_fileLocation/Content/bootstrap-3.3.7/js/bootstrap.js"></script>

<script src="~/Scripts/lib/jquery-ui.js"></script>

<script src="@_fileLocation/Scripts/lib/owl.carousel.js"></script>
<script src="@_fileLocation/Scripts/lib/nicescroll.js"></script>
<script src="@_fileLocation/Scripts/lib/event.js"></script>

<script src="~/Scripts/lib/typeahead.bundle.js"></script>
<script src="~/Scripts/lib/typeahead.bundle.orig.js"></script>
<script src="~/Scripts/lib/typeahead.mvc.model.js"></script>
