﻿@model Znode.Engine.WebStore.ViewModels.TemplateCartItemViewModel
@using Znode.Engine.Api.Models
@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
}

@if (Equals(Model.ProductType, "GroupedProduct") && Model.GroupProducts?.Count > 0)
{
    <div class="group-product-container">
        @foreach (AssociatedProdcutModel product in Model.GroupProducts)
        {
            using (Html.BeginForm("UpdateTemplateCartQuantity", "User", new { guid = Model.ExternalId, productId = product.ProductId, omsTemplateId = Model.OmsTemplateId }, FormMethod.Post, new { @id = "frmCartQuantity" }))
            {
                @Html.AntiForgeryToken()
                <input type="text" name='Quantity' value="@Model.Quantity" data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
                <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
                @Html.HiddenFor(x => x.OmsTemplateId)
            }
        }
    </div>
}
else
{
    using (Html.BeginForm("UpdateTemplateCartQuantity", "User", new { guid = Model.ExternalId, productId = 0, omsTemplateId = Model.OmsTemplateId }, FormMethod.Post, new { @id = "frmCartQuantity" }))
    {
        @Html.AntiForgeryToken()
        <input type="text" name='Quantity' value="@Model.Quantity" data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
        <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
        @Html.HiddenFor(x => x.OmsTemplateId)
    }
}