﻿@using Znode.Engine.Admin.ViewModels
@model Znode.Engine.Admin.ViewModels.PublishProductsListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName" class="add-to-cart-panal">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgProducts">@Admin_Resources.LabelProducts</h1>
            <div class="pull-right btn-container">
                <a id="closeClosePopUp" class="btn-text-icon" data-dismiss="modal" onclick="Order.prototype.ClosePopUp(this)" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</a>
                <div class="pull-right padding-left">
                    <a id="buttonAddProducts" class="btn-text btn-text-secondary" onclick="Order.prototype.AddProductToCart(this)" data-test-selector="linkAddSelectedItemsToCart">@Admin_Resources.ButtonAddSelectedItemsToCart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="productMessageBoxContainerId" style="display:none">
                <div class="col-sm-12 text-center error-msg margin-bottom" style="position:relative;">@PIM_Resources.ErrorSelectProduct</div>
            </div>
            @using (Ajax.BeginForm("ProductList", "Order", new { portalCatalogId = Model.publishCatalogId, portalId = Model.portalId, userId = Model.UserId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }            
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            
        </div>
    </div>
    <div id="outOfStock-btn" style="display:none;"></div>
    <div>
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = Admin_Resources.LabelMessage,
                        Description = Admin_Resources.ErrorOutOfStockMessage,
                        ModalPopUpId = "OutOfStockPopup",

                    })
    </div>
</div>

<script>
    Order.prototype.SetProductDetails();
    function getPopoverCustomTemplate(className) {
        return '<div class="popover ' + className + '" role="tooltip"><div class="arrow"></div><h3 class="popover-title" data-test-selector ="hdgProductDetails"></h3><div class="popover-content"></div></div>';
    }

    $('#grid tbody tr').find('.grid-row-checkbox.addtocartpopover').bind('[data-toggle="popover"]').popover({
        html: true,
        title: 'Product Details <a href="#" class="close" data-dismiss="alert" data-test-selector ="linkClose"><i class="z-close-circle"></i></a>',
        placement: 'right',
        template: getPopoverCustomTemplate('add-to-cart-popover')
    });

    $(document).on("click", ".popover .close", function () {
        $(this).parents(".popover").popover('hide');
        var popupId = $(".add-to-cart-popover").attr('id');
        $('input[aria-describedby="' + popupId + '"]').click();
    });

    $('#grid thead th:eq(0)').text('');

</script>
