﻿@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartViewModel

<div id="divShoppingCart">
    @if (Model?.UserId > 0)
    {
        <div id="productListDiv" class="pull-right margin-7">
            <button type="button" id="addProducts" onclick="Order.prototype.GetProductsList();" class="btn-text btn-text-secondary" data-test-selector="linkAddProduct">@Admin_Resources.LabelAddProduct</button>
        </div>
        //Don't delete this code
        @*<div class="pull-right" style="@_display">
                @Html.Partial("_QuickOrder", new AutoComplete())
            </div>*@
    }
    <div id="layout-cart">
        <div class="dashboard-panel-heading">
            <h4 class="dashboard-panel-title" data-test-selector="hdgItemsOrdered">@Admin_Resources.LabelItemsOrdered</h4>
        </div>
        @if (Model?.ShoppingCartItems?.Any() ?? false)
        {
       
            <div class="col-xs-12 cart-products nopadding margin-bottom">
                <div class="cart-product-table" data-test-selector="tblItemsOrdered">
                    <ul class="product-list">
                        <li class="product-remove"></li>
                        <li class="product-image" data-test-selector="tblHdImage">@Admin_Resources.LabelImage</li>
                        <li class="product-label" data-test-selector="tblHdProduct">@Admin_Resources.LabelProduct</li>
                        <li class="product-unit-price" data-test-selector="tblHdUnitPrice">@Admin_Resources.LabelUnitPrice</li>
                        <li class="product-quantity" data-test-selector="tblHdQuantity">@Admin_Resources.LabelQuantity</li>
                        <li class="product-total" data-test-selector="tblHdTotal">@Admin_Resources.LabelTotal</li>
                    </ul>
                    @* do not remove class="product-list-items" used in TS file *@
                    @*To show the recently added product on the top of cart.*@
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems?.AsEnumerable().Reverse())
                    {
                        <ul id="cart-row-div" class="product-list product-list-items">
                            @Html.Partial("_CartRow", cartItem)
                        </ul>
                    }
                </div>
                <div class="col-xs-12 margin-top-bottom">
                    @Ajax.ActionLink(@Admin_Resources.LabelRemoveAllCartItems, "RemoveAllCartItem", "order",
                    new AjaxOptions
                    {
                        UpdateTargetId = "divShoppingCart",
                        OnSuccess = "Order.prototype.RemoveAllCartSuccess",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                    }, new { @id = "btnRemoveAllCartItem", @data_test_selector = "linkRemoveAllCartItem" })
                </div>
            </div>

            <div class="cart-total col-sm-6 col-md-6 col-lg-3 nopadding pull-right margin-bottom" id="divTotal">
                @Html.Partial("_TotalTable", Model)
            </div>


            @Html.Hidden("hdnTotalAmt", Model.Total)
            @Html.Hidden("hdnCurrencyCode", Model.CurrencyCode)
            @Html.Hidden("isGiftcardValid", Model.GiftCardValid)
            @Html.Hidden("hdnShoppingCartCount", Model.ShoppingCartItems.Count)
            @Html.Hidden("hdnIsAnyProductOutOfStock", Model.ShoppingCartItems.Any(b => b.InsufficientQuantity))
            @Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
            @Html.Hidden("hdnHasError", Model.HasError)
            @Html.Hidden("hdnShippiingErrorMessage", Model.ShippingErrorMessage)
            @Html.Hidden("hdnOverDueAmount", Model.OverDueAmount)
        }
        else
        {
            <div class="col-sm-12 nopadding cart-summary">
                <p class="text-center margin-top-bottom no-record" data-test-selector="paraNoItemsInCart">@Admin_Resources.TextNoOrderedItems</p>
            </div>
        }
    </div>
</div>
@Html.HiddenFor(model => model.LocaleId)
@Scripts.Render("~/Scripts/References/jquery.payment.min.js")
<script>
    $("#CreditCardNumber").keypress(function () {
        $('#CreditCardNumber').payment('formatCardNumber');
    });
</script>