﻿@model Znode.Engine.WebStore.ViewModels.PortalViewModel

@{
    string tagManagerContainerId = Model.ContainerId;
    bool applyTagManager = Model.IsEnabledTagManager && !string.IsNullOrEmpty(tagManagerContainerId);    
}
@if (false)
{
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@tagManagerContainerId"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
        <!-- End Google Tag Manager (noscript) -->
}