﻿@using System.Linq;
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId">
    <!-- Breadcrumb -->
    <div id="breadCrumb" class="breadcrumb-container"></div>
    <div class="container">
        <div class="row product-view-details">
            <!--Get Product Images-->
            <div class="col-xs-12 col-md-6 nopadding product-images">
                @Html.Partial("_ProductImage", Model)
            </div>
            <!--Get Product details like short decription and higlights-->
            <div class="col-xs-12 col-md-6 nopadding product-overview">
                @Html.Partial("_ProductOverview", Model)

                @Html.Partial("_ProductInfo", Model)
            </div>
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>

<!--Template Level Script-->
<script src="~/Views/Themes/Default/Scripts/lib/jquery.simpleGallery.js"></script>
<script src="~/Views/Themes/Default/Scripts/lib/jquery.simpleLens.js"></script>

<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
    $('#ImageZoom .simpleLens-big-image').simpleLens();
</script>