﻿@model MediaAttributeValuesListViewModel
@using Znode.Engine.Admin.ViewModels;
@using Znode.Engine.Admin.Helpers;
@{bool isAjaxRequest = Request.IsAjaxRequest(); }
@{
    ViewBag.Title = Admin_Resources.TitleDAM + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, CancelUrl = "/MediaManager/MediaManager/List?folderId=" + Request.QueryString["selectedfolder"], FormId = "frmMediaEdit", Callback = "Attributes.prototype.ValidateAttribute" , IsSaveCloseEnable = true };
}
<div class="col-sm-12 title-container">
    <h1>@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.HeadingMediaExplorer)<i class="z-minus"></i><span>@Model.FileName</span></h1>
    <div class="pull-right">

        @if (isAjaxRequest)
        {
            @Html.Partial("~/Views/Shared/Controls/_Navigator.cshtml", Model.navigationModel)
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
            </div>
        }
    </div>
</div>
<!--Main Container-->
<section class="col-sm-12 page-container detail-view-container">
    <form method="post" action="/MediaManager/MediaManager/UpdateMediaAttributeValueList?selectedfolder=@Request.QueryString["selectedfolder"]" id="frmMediaEdit" enctype="multipart/form-data">
        <div class="col-sm-12 nopadding image-details">
            <div class="col-sm-4 nopadding product-image">
                @{
                    string strHtml = string.Empty;

                    switch (Model.FamilyCode?.ToLower())
                    {
                        case DynamicGridConstants.Video:
                            @Html.Video(Model.MediaPath)
                            break;
                        case DynamicGridConstants.Audio:
                            @Html.Audio(Model.MediaPath)
                            break;
                        case DynamicGridConstants.File:
                            <div class="grid-file"><i class='z-file-text' title='File'></i></div>
                            break;
                        default:
                            <div class="grid-img"><img src='@Model.MediaPath' class='img-responsive preview-link' title='Click Here To Preview'></div>
                            break;
                    }
                }

                <h3 class="text-center"><a href="@Model.MediaPath" title="Click To Download" target="_blank" download><i class="z-download"></i> @Model.FileName</a></h3>
            </div>
            <div class="col-sm-8 nopadding">

                @Html.Partial("_MetaInformation", Model)

                @if (Model?.MediaAttributeValues?.Count > 0)
                {
                    string groupName = string.Empty;
                    foreach (var Contl in Model.MediaAttributeValues)
                    {
                        <div class="col-sm-12 nopadding">
                            @if (groupName != Contl.AttributeGroupName)
                            {
                                groupName = Contl.AttributeGroupName;
                                <h3 class="section-heading margin-top-25">@groupName</h3>
                            }

                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    <div class="control-label">
                                        <label for="@Contl.ControlProperty.Name">@Contl.AttributeName</label>
                                    </div>
                                    @Html.CreateControl(Contl.ControlProperty)
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
        @Html.HiddenFor(m => m.MediaId)
    </form>
</section>
<div class='modal fade media-upload-popup' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>@MediaManager_Resources.TitleMediaUploader</h4>
            </div>
            <div class='modal-body'>
                <div class='col-sm-12 nopadding'>
                    <div id='upload_popup'>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' id='btnSave' class='btn-text btn-text-secondary pull-right margin-top' onclick='UploadImages();' data-dismiss='modal'>@Admin_Resources.ButtonSubmit</button>
            </div>
        </div>
    </div>
</div>

@*Important Div to render media upload popup*@
<div id="divMediaUploaderPopup">
</div>

<script>
    $('input:file').change(
    function (e) {
        $("#errorSpam" + e.originalEvent.target.id).text('');
        var files = e.originalEvent.target.files;
        var dataset = e.originalEvent.target.dataset;
        for (var i = 0, len = files.length; i < len; i++) {
            var n = files[i].name,
               s = files[i].size,
               t = files[i].type,
               fileExtension = files[i].name.replace(/^.*\./, '.');

            if (s > (parseInt(dataset.valMaxfilesize) * 1048576)) {
                $("#errorSpam" + e.originalEvent.target.id).text('Please deselect this file: "' + n + '," it\'s larger than the maximum filesize allowed.');
            }

            if (dataset.ruleExtension.indexOf(fileExtension) < 0) {
                $("#errorSpam" + e.originalEvent.target.id).text(dataset.msgExtension);
            }
        }
    });
</script>