﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

<div class="col-xs-12 nopadding CouponContentBox cart-promocode">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('coupon')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyCoupon" }))
    {
        @Html.AntiForgeryToken();
        <div>
            <div class="col-xs-12 nopadding">

                <b class="coupontext">@Html.RenderMessage("CounponCodeHeadText")</b>
                <p class="couponp">@Html.RenderMessage("CouponCodeText")</p>

                <div class="input-group paddingapplyCoupen" id="cart-apply-promocode">
                    @if (Model.Coupons?.Count > 0)
                    {
                        <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" value="@Model.Coupons[@Model.Coupons.Count-1].Code" class="form-input Inputtextrogan" size="40" maxlength="100" />
                    }
                    else
                    {
                        <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" class="form-input Inputtextrogan" size="40" maxlength="100" />
                    }
                        <span class="input-group-btn Coupen">
                            @*<a title="Apply" class="Button" alternatetext="Apply" href="">@WebStore_Resources.ButtonApply</a>*@
                            <button data-test-selector="btnButtonCouponApply" type="submit" class="button" title="@WebStore_Resources.ButtonApply">@WebStore_Resources.ButtonApply</button>
                            
                        </span>
                </div>
            </div>
        </div>
    }
        <div id="couponMessageContainer">
            <div class="col-xs-12 nopadding">
                @if (Model.Coupons?.Count > 0)
                {
                foreach (var item in Model.Coupons)
                {
                <p data-test-selector="paraCouponSuccessMsg" class=@(item.CouponApplied ? "success-msg padding-top" : "error-msg" )><a href="#" class="cart-item-remove" onclick="Checkout.prototype.RemoveCoupon('@item.Code');" title="Remove Coupon Code"><i class="zf-close"></i></a> @item.Code - @item.PromotionMessage </p>
                }

                }
            </div>
        </div>
</div>