@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string _addressType = ViewBag.AddressType != null ? ViewBag.AddressType : Model.AddressType;
    bool isSameAsBilling = Convert.ToBoolean(ViewBag.IsSameAsBilling);
    string _shippingBillingDisplay = ((Convert.ToString(Request.QueryString["mode"]) == "guest" || Model.AddressId > 0) && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? "display:block" : "display:none";
    int addressCount = Model.AddressCount;
    string isEnableDisableCheckbox = (addressCount < 1) ? "checkbox-disable" : "";
    string selectedAddressId = "0";
    if (actionName == "EditAddress")
    {
        TempData["SelectedAddressId"] = Model.AddressId.ToString();
        selectedAddressId = Model.AddressId.ToString();
    }
    else
    {
        selectedAddressId = TempData["SelectedAddressId"] != null ? Convert.ToString(TempData["SelectedAddressId"]) : "0";
        TempData["SelectedAddressId"] = selectedAddressId;
    }
    Model.IsAddressBook = controllerName.ToLower() == "user" ? true : false;
}
<div class="edit-address-form">
    <p id="AddressError" class="error-msg" />
    <p id="AddressSuccess" class="success-msg" />
    <div class="col-xs-12 nopadding">
        @Html.ValidationSummary(true)
        @if (Equals(ViewBag.HideDisplayName, null) || Equals(ViewBag.HideDisplayName, false))
        {
            @* The display name input should be toggled via a parameter per view as needed *@
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.TextBoxFor(m => m.DisplayName, new { @id = "address_name", @required = "required" })
                    <label for="address_firstname" alt="@WebStore_Resources.ColumnDisplayName" placeholder="@WebStore_Resources.ColumnDisplayName"></label>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.DisplayName)</p>
                </div>
            </div>
        }
        else
        {
            @* Set default value for model validation *@
            <div class="col-xs-12"><input id="address_name" name="Name" type="hidden" value="Default Address"></div>
        }
    </div>

    <div class="col-xs-12 address-edit-form margin-top">
        <div class="col-xs-12 col-sm-6 col-lg-6 nopadding shipping-address-edit">
            
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-6 nopadding-left nopadding-mobile">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname", @required = "required", @data_test_selector = "txtAddressFirstname" })
                        <label for="address_firstname" alt="@WebStore_Resources.ColumnFirstName" placeholder="@WebStore_Resources.ColumnFirstName"></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName)</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname", @required = "required", @data_test_selector = "txtAddressLastname" })
                        <label for="address_lastname" alt="@WebStore_Resources.ColumnLastName" placeholder="@WebStore_Resources.ColumnLastName"></label>
                        <p class="form-error">@Html.ValidationMessageFor(m => m.LastName)</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "address_phoneno", @required = "required", @class = "form-input-short", @data_test_selector = "txtPhoneNumber" })
                    <label for="address_phoneno" alt="@WebStore_Resources.ColumnPhoneNo" placeholder="@WebStore_Resources.ColumnPhoneNo"></label>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber)</p>
                </div>
            </div>
			@if (!HttpContext.Current.User.Identity.IsAuthenticated && Equals(_addressType, WebStoreConstants.ShippingAddressType))
                {
                    //Guest shipping type
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(m => m.EmailAddress, new { @id = "address_emailaddress", @required = "required", @class = "form-input-short" })
                            <label for="address_email" alt="@WebStore_Resources.EmailAddress" placeholder="@WebStore_Resources.EmailAddress"></label>
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                        </div>
                    </div>
                }
            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.CompanyName, new { @id = "CompanyName", @required = "required" })
                    <label for="address_name" alt="@WebStore_Resources.ColumnCompanyNameAlt" placeholder="@WebStore_Resources.ColumnCompanyNameAlt"></label>
                    @*<p class="error-msg">@Html.ValidationMessageFor(m => m.CompanyName)</p>*@
                </div>
            </div>

            @if (Equals(controllerName, "User"))
            {
                //User controller
                Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
                Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;

                <div class="form-group">
                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox billingShippingCheckBox">
                        <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                        <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox billingShippingCheckBox">
                        <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                        <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                    </div>
                </div>


                <div class="form-group" style="display:none !important">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                        <input type="checkbox" class="input-checkbox" name="DontAddUpdateAddress" id="is_addupdate_address" value="true" text="Add/update my address book">
                        <label for="is_addupdate_address">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                    </div>
                </div>
            }
            else if ((Model.AddressId < 1 || isSameAsBilling) && Equals(_addressType, WebStoreConstants.ShippingAddressType))
            {
                //Guest_or_Login : Edit mode shipping address
                if (Model.DontAddUpdateAddress)
                {
                    //If it's One time address
                    @Html.Hidden("IsBilling")
                    @Html.Hidden("IsShipping", true)
                    @Html.HiddenFor(model => model.IsDefaultBilling)
                    @Html.HiddenFor(model => model.IsDefaultShipping)
                }
                else
                {
                    if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <div class="form-group input-checkbox_container set-as-default-address-IsDefaultShipping">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label">
                                <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                                @Html.Hidden("IsBilling")
                                @Html.Hidden("IsShipping", true)
                                @Html.HiddenFor(model => model.IsDefaultBilling)
                            </div>
                        </div>
                    }
                    if (string.IsNullOrEmpty(Model.FirstName) && Equals(_addressType, WebStoreConstants.ShippingAddressType))
                    {
                        <div class="form-group input-checkbox_container">
                            <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" checked='checked' value="true" text="Both Billing and Shipping address"
                                       onclick="Checkout.prototype.ShowHideBillingAddressDiv();">
                                <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group input-checkbox_container">
                            <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address"
                                       onclick="Checkout.prototype.ShowHideBillingAddressDiv();">
                                <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                            </div>
                        </div>
                    }
                }
            }
            else if (Model.AddressId > 0 && Equals(_addressType, WebStoreConstants.BillingAddressType))
            {
                //Guest_or_Login : Edit mode billing address
                if (Model.DontAddUpdateAddress)
                {
                    //If it's One time address
                    @Html.Hidden("IsBilling", true)
                    @Html.Hidden("IsShipping")
                    @Html.HiddenFor(model => model.IsDefaultShipping)
                    @Html.HiddenFor(model => model.IsDefaultBilling)
                }
                else
                {
                    <div class="form-group input-checkbox_container set-as-default-address-IsDefaultBilling">
                        <div class="col-xs-12 nopadding styled-input input-checkbox_label">
                            <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                            <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                            @Html.Hidden("IsBilling", true)
                            @Html.Hidden("IsShipping")
                            @Html.HiddenFor(model => model.IsDefaultShipping)
                        </div>
                    </div>
                }

                <div class="form-group  input-checkbox_container">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                        <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="sameAsShipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") text="Both Billing and Shipping address">
                        <label for="sameAsShipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                    </div>
                </div>
            }
            else if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                //Logged in user
                Model.IsDefaultBilling = (addressCount < 1 && Equals(_addressType, WebStoreConstants.BillingAddressType)) ? true : Model.IsDefaultBilling;
                if (Equals(_addressType, WebStoreConstants.ShippingAddressType))
                {
                    //Shipping
                    Model.IsDefaultShipping = (addressCount < 1 && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? true : Model.IsDefaultShipping;
                    <div class="form-group">
                        <div class="input-checkbox_container set-as-default-address-IsDefaultShipping">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                                <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                <label for="asdefault_shipping">@(Equals(_addressType, WebStoreConstants.ShippingAddressType) ? WebStore_Resources.CheckBoxTextDefaultAddress : WebStore_Resources.CheckBoxTextShippingAddress)</label>
                            </div>
                        </div>
                        @Html.Hidden("IsBilling")
                        @Html.Hidden("IsShipping", true)
                        @Html.HiddenFor(model => model.IsDefaultBilling)
                    </div>


                    <div class="form-group input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                            <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "")
                                   onclick="Checkout.prototype.ShowHideBillingAddressDiv();" value="true" text="Both Billing and Shipping address">
                            <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                        </div>
                    </div>
                }
                else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
                {
                    //Billing
                    <div class="form-group">
                        <div class="input-checkbox_container set-as-default-address-IsDefaultBilling">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                                <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                                <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                            </div>
                        </div>
                        @Html.Hidden("IsBilling", true)
                        @Html.Hidden("IsShipping")
                        @Html.HiddenFor(model => model.IsDefaultShipping)
                    </div>

                    <div class="form-group input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                            <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="sameAsShipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                            <label for="sameAsShipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                        </div>
                    </div>
                }
                else
                {
                    //Neither shipping nor billing
                    Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
                    Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;

                    <div class="form-group input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                            <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                            <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                        </div>
                    </div>
                    <div class="form-group input-checkbox_container">
                        <div class="col-xs-12 nopadding styled-input @isEnableDisableCheckbox">
                            <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                            <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                        </div>
                    </div>
                    @Html.Hidden("IsBilling")
                    @Html.Hidden("IsShipping")

                }
            }
            else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
            {
                @Html.Hidden("IsAddUpdateAddress", true)
            }

            @if (HttpContext.Current.User.Identity.IsAuthenticated && Model.AddressId.Equals(0) && Equals(controllerName, "Checkout"))
            {
                //Checkout controller
                <div class="form-group input-checkbox_container">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                        <input type="checkbox" class="input-checkbox" name="DontAddUpdateAddress" id="is_addupdate_address" value="true" text="Add/update my address book">
                        <label for="is_addupdate_address">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                    </div>
                </div>
            }

        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 shipping-address-edit-block nopadding-right nopadding-mobile">

            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.Address1, new { @id = "address_street1", @class = "form-input-long", @required = "required", @data_test_selector = "txtAddressStreet1" })
                    <label for="address_street1" alt="@WebStore_Resources.ColumnStreetAddress" placeholder="@WebStore_Resources.ColumnStreetAddress"></label>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Address1)</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 nopadding">
                    @Html.TextBoxFor(m => m.Address2, new { @id = "address_street2", @required = "required", @class = "form-input-long" })
                    <label for="address_street2" alt="@WebStore_Resources.ColumnStreetAddress2" placeholder="@WebStore_Resources.ColumnStreetAddress2"></label>
                    @*<p class="error-msg hidden">@Html.ValidationMessageFor(m => m.Address2)</p>*@
                </div>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-6 nopadding-left nopadding-mobile">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CityName, new { @id = "address_city", @required = "required", @data_test_selector = "txtCityName" })
                        <label for="address_city" alt="@WebStore_Resources.ColumnCity" placeholder="@WebStore_Resources.ColumnCity"></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.CityName)</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="form-group">
                        <div id="stateCodeTextBox">
                            <div id="dev-statecode-textbox">
                                @Html.TextBoxFor(m => m.StateName, new { @id = "txtStateCode", @class = "txtStateCode", @required = "required" })
                            </div>
                            <label for="address_state" alt="@WebStore_Resources.ColumnState" placeholder="@WebStore_Resources.ColumnState"></label>
                            <div style="display:none;" id="dev-statecode-select">
                                <select class="valid address_state margin-bottom" id="SelectStateName" name="StateName" style="margin-top:-15px;"></select>
                            </div>
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.StateName, null, new { @id = "valtxtStateCode" })</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-6 nopadding-left nopadding-mobile">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_postalcode", @required = "required", @class = "form-input-short" })
                        <label for="address_zipcode" alt="@WebStore_Resources.LabelPostalCode" placeholder="@WebStore_Resources.LabelPostalCode"></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode)</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.CountryName, Model.Countries, new { @id = "ShippingAddressModel_CountryCode", @class = "address_country", @required = "required", @onchange = "User.prototype.BindStates()", @data_test_selector = "txtCountryName", @style = "margin-bottom:-11px;" })
                        <label for="address_country" alt="@WebStore_Resources.ColumnCountry" placeholder="@WebStore_Resources.ColumnCountry"></label>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryName)</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 margin-bottom nopadding">
                <div>
                    <button type="submit" class="btn btn-primary margin-bottom" id="btnSaveAddress" onclick="return User.prototype.RecommendedAddress('@_addressType');" style="color:#fff;width: 100%;">@WebStore_Resources.ButtonSaveChanges</button>
                    @if (Equals(controllerName, "Checkout"))
                    {
                        @Html.HiddenFor(model => model.OtherAddressId)
                        
                    }
                    else
                    {
                        
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@Html.HiddenFor(ob => ob.StateName, new { @id = "hdn_StateCode" })
@Html.HiddenFor(ob => ob.ExternalId)
@Html.HiddenFor(ob => ob.CountryName, new { @Value = "US" })

@if (Model.AddressId > 0)
{
    @Html.HiddenFor(m => m.AddressId, new { @id = "edit_AddressId" })
    @Html.Hidden("addressType", _addressType, new { @id = "edit_AddressType" });
}
@if (Model.AccountId > 0)
{
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m => m.AccountAddressId)
}
@Html.Hidden("addressType", _addressType, new { @id = "hnd_addressType", @class = "addressType" })
@Html.Hidden("formChange", true, new { @id = "formChange" })
@Html.Hidden("IsSameAsBillingAddress", "False", new { @name = "IsSameAsBillingAddress", @id = "IsSameAsBillingAddress" })
<script>
    $(document).ready(function () {
        Checkout.prototype.DisableFields();
        $(".addressType").each(function () {
            addresstype = $(this).val();
            if (addresstype != '') {
                User.prototype.BindStates(addresstype);
            }
        });

        Checkout.prototype.BindAddToAddressBookCheckbox();
        Checkout.prototype.ShowHideBillingAddressDiv();
    })
</script>

<script>
    $(document).ready(function () {
        $("#frmEditAddress_shipping").validate();
        $('#CompanyName').rules('add', {
            required: false   // overwrite an existing rule
        });
        $('#address_street2').rules('add', {
            required: false   // overwrite an existing rule
        });
    });

</script>
