﻿@using Znode.Libraries.Resources
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.Models
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = PortalAgent.CurrentPortal.Name;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _customModule = ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper() == ViewContext.Controller.GetType().Name.Replace("Controller", "") ? string.Empty : $".{ViewContext.Controller.GetType().Name.Replace("Controller", "")}";
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_LayoutHead")

    <!--Add Code by Nivi team for Structured Data-->
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "@@id" :"@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)",
        "name" : "Rogans Shoes",
        "url" : "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)",
        "logo" : "@logo",
        "contactPoint": [{
        "@@type" : "ContactPoint",
        "telephone" : "+1-800-976-4267",
        "contactType" : "customer service",
        "contactOption" : "TollFree"
        }],
        "sameAs" : [
        "https://www.facebook.com/rogansshoes",
        "https://twitter.com/rogansshoes",
        "https://www.youtube.com/profile?user=RogansShoes",
        "https://blog.rogansshoes.com/",
        "https://plus.google.com/+rogansshoes",
        "https://www.pinterest.com/rogansshoes/"
        ]
        }
    </script>
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()@_customModule" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Home/_StoreAnalyticsInstallation.cshtml"), PortalAgent.CurrentPortal)
    <div id="layout" class="wrapper">
        <!--Header Widgets-->
        <header>
            <z-widget>@Html.WidgetPartial("Header", "Header", "101", "PortalMapping")</z-widget>
        </header>
        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container">
                <div class="row">
                    <!-- Notification Msg -->
                    <div class="container">
                        <div class="row">
                            <div class="notification-msg" id="body">
                                <div class="container">
                                    <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]" data-test-selector="lblNotificationsMsg"></div>
                                    @{
                                        TempData.Remove("Notifications");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Footer Widgets-->
        @{
            Html.RenderAction("FooterContent", "Home", new { portalId = _portal.PortalId, publishState = _portal.PublishState });
        }
    </div>
    @Html.Partial("_InlineTemplates")

    @Html.Hidden("hdnPaymentAppUrl", @ZnodeWebstoreSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)

    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/CoreJs")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/ZnodeCoreJs")
    @RenderSection("scripts", required: false)

    @*---Quick View PopUp----*@
    <div class="modal fade quick-view-popup" id="quick-view-popup-ipad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="popup-container modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="close-quick-view-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
            <div id="quick-view-content" data-test-selector="divQuickViewContent">
            </div>
        </div>
    </div>
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Shared/Controls/_PopUp.cshtml"),
    new PopupModel()
    {
        Title = Admin_Resources.Error,
        Description = @Admin_Resources.ErrorSelectRecord,
        ModalPopUpId = "NoCheckboxSelected",
        IsErrorPopUp = true,
    })

    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Shared/Controls/_PopUp.cshtml"),
    new PopupModel()
    {
        Title = WebStore_Resources.ConfirmDeleteTitle,
        Description = WebStore_Resources.TextConfirmDelete,
        ModalPopUpId = "PopUpConfirm",
        Buttons = new List<PopUpButtonModel>() { new PopUpButtonModel { ButtonText = @WebStore_Resources.TextOk, OnClickFunctionName = "DynamicGrid.prototype.RedirectToDelete(this)" } }
    })
    @*This div is important for displaying product compare status*@
    <div id="divAddedForCompare" class="modal fade comparepopup" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="compare-product-popup" id="popUp_content" data-test-selector="divCompareProduct">
        </div>
    </div>
    <button data-test-selector="btnCompare" id="btnAddCompare" style="display:none" data-toggle="modal" data-target=".comparepopup">Compare</button>
    @Html.Hidden("hdnPortalId", PortalAgent.CurrentPortal.PortalId)
</body>
</html>


<script>
    $(window).on("scroll touchmove", function () {
        $('.header').toggleClass('shrink', $(document).scrollTop() > 0);
    });
    var dataLayer = [];

    $(document).ready(function () {
        var notification = new ZnodeNotification();
        notification.DisplayNotificationMessages();
    });
</script>


@if (Helper.GetCMSMode())
{
    <style type="text/css">
        a, button:not(.btn-text-secondary-custom), .product-item {
            pointer-events: none;
        }
    </style>
    <script src="~/Scripts/Custom/ConfigButton.js"></script>
}

