﻿@using Znode.Engine.WebStore.ViewModels;
@model  SearchRequestViewModel
@{
    //Check if category ID is present or not
    if (Model.CategoryId <= 0)
    {
        ViewBag.Title = "Search";
    }
    Dictionary<string, object> searchProperties = new Dictionary<string, object>();
    if (Request.QueryString[WebStoreConstants.PageSize] == null || Request.QueryString[WebStoreConstants.PageSize] == "")
    {
        searchProperties.Add(WebStoreConstants.PageSize, 40);
    }
    else
    {
        searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    }
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    searchProperties.Add(WebStoreConstants.UseSuggestion, Request.QueryString[WebStoreConstants.UseSuggestion]);
}


<div id="layout-category" data-category="@Model.SearchTerm" data-categoryId="@Model.CategoryId" class="main-wrapper">
    <div class="container">
        <div class="row">
            <aside class="col-xs-12 col-sm-3 side-bar">
                <!--Mobile View Facet Calling Code-->
                <div class="col-xs-12 nopadding visible-xs hidden-md hidden-lg hidden-sm side-bar">
                    <a href="#" class="toggle narrow-results active" data-toggle="modal" data-target="#FacetModal">@WebStore_Resources.LabelNarrowResults</a>
                    <!-- Modal -->
                    <div id="FacetModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@WebStore_Resources.LabelNarrowResults</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @*<z-widget>@Html.WidgetPartial("Facet", "Facet", "125", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>*@
                                            @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hidden-xs visible-lg visible-md visible-sm">
                    @*<z-widget>@Html.WidgetPartial("Facet", "Facet", "125", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>*@
                    @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                </div>
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-sm-9 category-landing-container search-page">
                <div data-test-selector="divSearchResult">
                    @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
                </div>
                @*<z-widget data-test-selector="divSearchResult">@Html.WidgetPartial("ProductGrid", "ProductList", "124", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>*@
            </div>
            <div class="col-xs-12 nopadding">
                <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "Recently View Product", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
            </div>
        </div>
    </div>
</div>

<!--Facet call in Modal in Mobile View-->
<script async>
    $(document).ready(function () {
        function togglePanel() { var w = $(window).width(); if (w <= 600) { $("#FacetModal").add() } else { $("#FacetModal").remove() } }
        $(window).resize(function () { togglePanel() }); togglePanel()
    })
</script>

