﻿@model AutoComplete
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}
<div class="container-fluid">
    @Html.Partial("../_LearnMore", Model)
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-5" title="Home"></a>Quick Order</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Widget>@Html.WidgetPartial("QuickOrderPad", "QuickOrderPad", "123", "PortalMapping", 4)</Widget>
        </div>
    </div>
</div>
