﻿@using Znode.Engine.WebStore.ViewModels
@model AddressListViewModel
@{
    List<SelectListItem> _model = new List<SelectListItem>
    ();
    int _selectedId = 0;
    string onchnage = string.Empty;
    string addressType = ViewBag.AddressType;
    string _id = string.Empty;

    string _optionType = Convert.ToString(ViewData["addressType"]);

    @*Model.AddressList?.ForEach(m => _model.Add(new SelectListItem() { Text = m.DisplayName, Value = m.AddressId.ToString() }));*@
    Model.AddressList?.ForEach(m => _model.Add(new SelectListItem() { Text = m.FirstName+", " + m.Address1 + ", "  + m.CityName + ", " + m.StateName + ", " + m.CountryName + ", " + m.PostalCode + ", " + m.PhoneNumber, Value = m.AddressId.ToString() }));
    }
    @if (_model?.Count > 0)
    {
    if (_optionType == "shipping")
    {
    _selectedId =Model.ShippingAddress.AddressId ;
    onchnage = "Checkout.prototype.OnShippingAddressSelectionChange();";
    _id = "ShippingAddress";

    }
    else
    {
    _selectedId = Model.BillingAddress.AddressId;
    onchnage = "Checkout.prototype.OnBillingAddressSelectionChange();";
    _id = "BillingAddress";
    }

    <div class="col-xs-12 col-md-12">
        @if(_selectedId > 0 && (_optionType == "shipping" || _optionType == "billing"))
        {
        foreach (SelectListItem item in _model)
        {
        if (Convert.ToInt32(item.Value) == _selectedId)
        {
        item.Selected = true;
        break;
        }
        }
        }

        @Html.DropDownListFor(m => _selectedId, _model, new { @id = _id, @onchange = onchnage })
    </div>


    }


