﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    var consolidatedCartItems = cartItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
    string disablebutton = (Model.IsLevelApprovedOrRejected
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                          ? "disabled='disabled'" : "";
    bool isEnableApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
    List<CartItemViewModel> _shipItems = Model.ShoppingCartItems?.Where(x => x.Custom1 == "" || x.Custom1 == null).ToList();
    List<CartItemViewModel> _pickItems = Model.ShoppingCartItems?.Where(x => x.Custom1 != "" && x.Custom1!=null).ToList();
    string storename = _pickItems?.FirstOrDefault()?.Custom2;
    string storeaddress = _pickItems?.FirstOrDefault()?.Custom3;
    /*Nivi code start*/
    string shipmethod = _shipItems?.FirstOrDefault()?.Custom4;
    /*Nivi code end*/
}
<style>
    .single-page-checkout .cart-promocode {
        width: 100%;
    }

    .Form .CouponContent {
        text-align: center;
        width: 100%;
    }

    .couponboredr {
        border-top: 1px solid #c3c3c3;
    }

    .paddingapplyCoupen {
        padding: 0px 80px 0px 80px;
    }
</style>


@if (_pickItems?.Count == Model?.ShoppingCartItems?.Count)
{
    @Html.Hidden("AllItemsPickup", true);
}
<div class="ShoppingCart col-xs-12 col-sm-12 nopadding nopadding-mobile chk-section">
    <h3 class="title">@*<span id="cartReviewSerialNo">5</span>*@&nbsp;&nbsp; @WebStore_Resources.SinglePageCheckoutReviewOrder</h3>
    <div class="col-xs-12 nopadding cart-products">
        @*To Be Uncommented for Pickup Functionality*@
        @if (_pickItems?.Count > 0)
        {
            <!--Pick Up Store Div-->
            <div class="col-xs-12 col-lg-12 col-md-12 nopadding cart-item-seprator">
                <div class="col-xs-12 col-sm-12 nopadding margin-bottom">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <h4 class="Desktop-storename">Pick Up In Store - <span class="storename" style="padding:0px;">@storename</span></h4>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-12 margin-bottom-5">
                        <p>Who will be picking this up?</p>
                        <div class="col-lg-12 nopadding styled-input margin-bottom-5">
                            <input type="radio" id="Me" name="whopickup" checked="checked" value="Me" />
                            <label for="Me" class="set-radio-btn" title="Me">Me</label>
                        </div>
                        <div class="col-lg-12 nopadding styled-input">
                            <input type="radio" id="SomeoneElse" name="whopickup" value="Someoneelse" />
                            <label for="SomeoneElse" class="set-radio-btn" title="Someone Else">Someone Else</label>
                        </div>

                        <div id="otherAnswer" class="col-lg-12 col-md-12 col-xs-12 nopadding margin-top LableForm" style="display:none;">
                            <div class="col-lg-7 col-md-7 col-xs-12 nopadding padding-left-25">
                                @Html.TextBoxFor(model => model.Custom1, new { @required = "required", @name = "Name", @title = "Name *", @id = "Custom1" })
                                <label for="Custom1" placeholder="Name *"><span>Name</span></label>
                                <span id="error-name" class="text-danger"></span>
                            </div>

                            <div class="col-lg-7 col-md-7 col-xs-12  nopadding padding-left-25">
                                @Html.TextBoxFor(model => model.Custom3, new { @required = "required", @name = "Phone", @title = "Phone *", @id = "Custom3" })
                                <label for="Custom3" alt="Phone *" placeholder="Phone *"><span>Phone</span></label>
                                <span id="error-phone" class="text-danger"></span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-xs-12 max_tickets nopadding padding-left-25">
                                @Html.TextBoxFor(model => model.Custom2, new { @required = "required", @name = "Notifyme", @title = "Email *", @id = "Custom2" })
                                <label for="Custom2" alt="Email *" placeholder="Email *"><span>Email</span></label>
                                <span id="error-email" class="text-danger"></span>
                            </div>
                            <div class="col-xs-12 col-lg-12 nopadding padding-left-25">
                                <label>*Notification will be sent to this email when order is ready</label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 nopadding">
                    @foreach (CartItemViewModel cartItem in _pickItems.AsEnumerable().Reverse())
                    {
                        <span class="pickupsku" style="display:none">@cartItem.ConfigurableProductSKUs-@cartItem.ProductId</span>
                        @Html.Partial("../Checkout/_CartRowforcheckout", cartItem)
                    }
                </div>
            </div>

        }

        @if (_shipItems?.Count > 0)
        {
            <div class="col-xs-12 col-lg-12 col-md-12 nopadding cart-item-seprator">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h4 style="display:inline-flex">Ship&nbsp;<span class="shipname" style="padding:0px;"></span></h4>
                </div>
                <div class="col-xs-12 nopadding">
                    @foreach (CartItemViewModel cartItem in _shipItems.AsEnumerable().Reverse())
                    {
                        @Html.Partial("../Checkout/_CartRowforcheckout", cartItem)
                    }
                </div>
            </div>

        }

    </div>

    <div class="col-xs-12 nopadding">
        <div class="Form">
            <div>
                <div class="TotalBox">
                    <div class="col-xs-12 nopadding">
                        <div class="CartPricingSection CartPricingsecCheckout" id="summary-details">
                            @Html.Partial("../_TotalTable", Model)
                        </div>
                    </div>
                    <div class="col-xs-12 couponboredr">
                        <div class="clearfix CouponContent ContainerSection">
                            @Html.Partial("../_ApplyCoupon", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@if(_shipItems?.Count > 0 && _pickItems?.Count > 0)
{
    @Html.Hidden("cartwithbothshippickup", true)
}
else
{
    @Html.Hidden("cartwithbothshippickup", false)
}
<!--Nivi code start-->
@Html.Hidden("shipmethod", @shipmethod)
<!--Nivi code end-->
@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
@Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)

<!--PickUp Store Script -->
<script async>
    //  $(document).ready(function(){Checkout.prototype.ChangeCartReviewSequence(),Checkout.prototype.ChangeSubmitOrderButtonText(),$("#SomeoneElse").change(function(){"Someoneelse"==$(this).val()?$("#otherAnswer").show():($("#otherAnswer").hide(),$("#Custom2").val(""),$("#Custom1").val(""),$("#Custom3").val(""))}),$("#Me").change(function(){"Me"==$(this).val()&&($("#otherAnswer").hide(),$("#Custom2").val(""),$("#Custom1").val(""),$("#Custom3").val(""))})});
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence(), Checkout.prototype.ChangeSubmitOrderButtonText(), $("#SomeoneElse").change(function () {
            "Someoneelse" == $(this).val() ? $("#otherAnswer").show() : ($("#otherAnswer").hide(), $("#Custom2").val(""), $("#Custom1").val(""), $("#Custom3").val(""))
        }), $("#Me").change(function () {
            "Me" == $(this).val() && ($("#otherAnswer").hide(), $("#Custom2").val(""), $("#Custom1").val(""), $("#Custom3").val(""))
        })
        $(".pickupsku").each(function () {
            var value = $(this).text();
            // alert("value=" + value);
            var arr = value.split('-');
            var productid = arr[1];
            var sku = arr[0];
            // alert("sku=" + sku);
            InStorePickUp.prototype.GetStockForCheckout(sku, productid);
        });

        /*Nivi code start for show city name and state*/
        if ($('#ShippingAddress option:selected').index() > 0) {
            var shipstatecity1 = " - (" + $(".address-citystate").attr("data-address-cityname") + ", " + $(".address-citystate").attr("data-address-statecode") + ")"; $(".shipname").text(shipstatecity1);
        }
        else {
            if ("SHIP" == $("#shipmethod").val() && 0 == $("#guestuser").val()) if ("" == $(".address-citystate").attr("data-address-cityname") && "" == $(".address-citystate").attr("data-address-statecode") || "" == $("#address_city").val()) $(".shipname").text(""); else { var shipstatecity = " - (" + $(".address-citystate").attr("data-address-cityname") + ", " + $(".address-citystate").attr("data-address-statecode") + ")"; $(".shipname").text(shipstatecity) } else if ("SHIP" == $("#shipmethod").val() && $("#guestuser").val() > 0) if ("" != $("#shipaddresscity").val() && "" != $("#shipaddressstate").val()) { shipstatecity = " - (" + $("#shipaddresscity").val() + ", " + $("#shipaddressstate").val() + ")"; $(".shipname").text(shipstatecity) } else if ("" == $(".shipname").val()) if ("" == $(".address-citystate").attr("data-address-cityname") && "" == $(".address-citystate").attr("data-address-statecode") || "" == $("#address_city").val()) $(".shipname").text(""); else { shipstatecity = " - (" + $(".address-citystate").attr("data-address-cityname") + ", " + $(".address-citystate").attr("data-address-statecode") + ")"; $(".shipname").text(shipstatecity) } else $(".shipname").text("");
        }
        /*Nivi code end for show city name and state*/
        /*Nivi code start for back button undefined value*/
        //if ($(".shipname").text() == " - (undefined, undefined)") { $(".shipname").text(""); }
        if ($(".shipname").text().indexOf("undefined") > -1) { $(".shipname").text(""); }
        /*Nivi code end for back button undefined value*/
    });
</script>