﻿@model WidgetParameter

<div class="sub-categpry-content-area col-xs-12 nopadding" style="position:relative;">
    @*<div class='loader-inner notransition' style='justify-content:center;align-items:center;min-height:150px;'>
        <img src='../Content/Images/throbber.gif' alt='Loading' class='dashboard-loader' />
    </div>*@
</div>
<script>$.ajax({ url: "/Search/GetSubCategories?cMSMappingId=" +@Model.CMSMappingId +"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $(".sub-categpry-content-area").html(t); });</script>

