@using Znode.Engine.WebStore.Agents
@model Int32
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    Layout = null;
}

<div class="container">
    <div class="row">
        <z-widget>@Html.WidgetPartial("TextEditor", "ContentPage", "996070", "ContentPageMapping", (int)Model)</z-widget>
    </div>
</div>

@*<script>
    var url = $(location).attr('href');
    url = url.toLowerCase();
    window.history.pushState({ "html": url.html, "pageTitle": url.pageTitle }, "", url);
</script>*@