﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using System.Threading.Tasks;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization= Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x=>x.AttributeCode == "LoginRequired").Select(x=>x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
}
<div class="container-fluid d-none d-lg-block">
    <div class="row p-2 header-top-color">
        <div class="d-none">@Html.Partial("_CurrentEnvironment")</div>
    </div>
</div>
<div class="container header">
    <div class="row align-content-center">
        <div class="site-logo order-2 order-lg-1">
            <a href="/" class="header-logo">
                @{
                    if (string.IsNullOrEmpty(logo))
                    {
                        <h1>@title</h1>
                    }
                    else
                    {
                        <img data-src="@logo" alt="@title" class="img-fluid b-lazy" />
                    }
                }
            </a>
        </div>
        <div class="col p-0 site-search order-3 order-lg-2">
            <!--Search Widget-->
            <button class="mobile-search-btn d-md-none"><span class="search-icon"></span></button>
            <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
        <div class="d-flex site-inventory header-btn-block order-4 order-lg-3">
            <button data-target="#b2b-header-quick-order" class="OpenNav header-btn align-self-center">
                <div class="d-none d-lg-block">@WebStore_Resources.HeaderQuickOrder </div><span class="clock-icon"></span>
            </button>
        </div>
        <div class="d-flex site-login header-btn-block order-5 order-lg-4">
            <button data-target="#sign-in-nav" class="OpenNav header-btn align-self-center loginStatus" id="btnSignIn">
            </button>
        </div>
        <div class="w-100 d-none d-lg-block order-lg-5"></div>
        <div class="col p-0 d-flex navigation order-1 order-lg-6">
            <button data-target="#mobile-navigation" class="OpenNav mobile-nav-btn d-lg-none" title="Navigation"><span class="icon hamburger-icon"></span></button>
            <ul class="parent-nav mr-auto align-self-stretch">
                <li>
                    <a data-target="#navigation" class="OpenNav" href="JavaScript:void(0);">SHOP DEPARTMENTS</a>
                </li>
                <li>
                    <a href="/Brand/List">SHOP BRANDS</a>
                </li>
                <z-widget>@Html.WidgetPartial("LinkPanel", "Desktop Navigation", "22530", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
            </ul>
        </div>
        <div class="d-flex cart-btn-block justify-content-md-end order-6 order-lg-7">
            <a href="/cart" class="cart-btn align-self-center align-self-lg-stretch">
                <div class="d-none d-lg-block">CART | <span class="cartcount">@Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount())</span> ITEMS</div> <span class="cart-icon"></span>
                <span class="cartcount-mobile d-lg-none">@Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount())</span>
            </a>
        </div>
    </div>
</div>
<div class="side-nav-backdrop"></div>
<div id="mobile-navigation" class="mobile-navigation side-nav nav-left">
    <div class="col-12 text-right nav-header">
        <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon"></a>
    </div>
    <ul class="parent-nav mr-auto align-self-stretch py-3">
        <li>
            <a data-target="#navigation" class="OpenMobileNav" href="JavaScript:void(0);">SHOP DEPARTMENTS</a>
        </li>
        <li>
            <a href="/Brand/List">SHOP BRANDS</a>
        </li>
        <z-widget>@Html.WidgetPartial("LinkPanel", "Mobile Navigation", "22530", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
    </ul>
</div>
<div id="navigation" class="navigation side-nav nav-left">
    <div class="col-12 text-right nav-header">
        <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon"></a>
    </div>
    <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
</div>
<div id="sign-in-nav" class="side-nav nav-right">
</div>
<div id="b2b-header-quick-order" class="side-nav nav-right">
    <z-widget>@Html.WidgetPartial("QuickOrder", "QuickOrder", "123", "PortalMapping", 4)</z-widget>
</div>
<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get" }).done(function (t) { $(".cartcount").html(t); });
    $.ajax({ url: "/User/B2BLoginStatus", type: "get", isAsync: true }).done(function (t) { $(".loginStatus").html(t); });
</script> 

