﻿@model AutoComplete
<div class="search-widget">
    <form action="/Search" method="GET">
        <div class="col p-0">
            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.B2BLabelSearchByPartOrName, @class = "", @Name = "SearchTerm",@id="searchTextBox" } })
            <button type="submit" class="b2b-search-btn search-icon" id="btnSearchTerm"></button>
        </div>
        <div id="typeahead-results" class="ui-autocomplete-home"></div>
    </form>
</div>

<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();        
    });
</script>
