﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Microsoft.AspNet.Identity
@model UserViewModel
@{
    string budgetAmount = @Helper.FormatPriceWithCurrency(Model?.BudgetAmount.GetValueOrDefault(), DefaultSettingHelper.DefaultCurrency);
}
<div id="layout-account-editprofile" class="main-wrapper">

    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.LinkTextEditProfile</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding leftmenu">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">

                    <div class="col-xs-12 col-sm-8 nopadding">

                        @using (Html.BeginForm("EditProfile", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <div class="form-group">
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.UserName, new { @Value = User.Identity.GetUserName(), @readonly = "readonly", @required = "required", @tabindex = "1" })
                                            <label alt="Username" placeholder="Username"></label>
                                            @Html.HiddenFor(m => m.UserName)
                                        </div>

                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.FirstName, new { @id = "profile_Firstname", @required = "required", @tabindex = "2" })
                                            <label for="profile_Firstname" alt="@WebStore_Resources.ColumnFirstName" placeholder="@WebStore_Resources.ColumnFirstName"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName, "", new { @id = "valFirstName" })</p>
                                        </div>

                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.LastName, new { @id = "profile_Lastname", @required = "required", @tabindex = "4" })
                                            <label for="profile_Lastname" alt="@WebStore_Resources.ColumnLastName" placeholder="@WebStore_Resources.ColumnLastName"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.LastName, "", new { @id = "valLastName" })</p>
                                        </div>
                                        
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @id = "profile_PhoneNumber", @required = "required", @tabindex = "5" })
                                            <label for="profile_PhoneNumber" alt="@WebStore_Resources.ColumnPhoneNo" placeholder="@WebStore_Resources.ColumnPhoneNo"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @id = "valPhoneNumber" })</p>
                                        </div>

                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.Email, new { @id = "profile_email", @required = "required", @tabindex = "6" })
                                            <label for="profile_email" alt="@WebStore_Resources.ColumnEmailAddress" placeholder="@WebStore_Resources.ColumnEmailAddress"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.Email, "", new { @id = "valEmail" })</p>
                                        </div>

                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                            
                            <div class="col-xs-12 nopadding">
                                <a href="/User/ChangePassword" class="pull-right">@WebStore_Resources.TitleChangePassword</a>
                            </div>
                            <div class="col-xs-12 nopadding styled-input">
                                <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" @(Model.EmailOptIn ? "checked='checked'" : "") /><label for="signup_optin">@WebStore_Resources.CheckBoxTextNewsLetter</label>
                            </div>
                            <div class="col-xs-12 margin-top-bottom nopadding">
                                <div class="pull-right">
                                    <button type="submit" class="btn-bg-primary">Update Profile</button>
                                    @*<a href="Dashboard" class="btn-bg-primary">@WebStore_Resources.ButtonCancel</a>*@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
