﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

@{
    bool isAjax = Request.IsAjaxRequest();
    ViewBag.Title = "Create an Account";
}
<div class="main-wrapper">
    <div class="container">
        <div class="Register">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.TitleRegisterAccount</h1>
            </div>
            <div class="col-xs-12 register-container margin-bottom">
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="col-sm-10 nopadding">
                        @if (isAjax)
                        {
                            <div id="ajaxRegisterForm">
                                @using (Ajax.BeginForm("signup", "User", new AjaxOptions() { OnSuccess = "Checkout.prototype.SetUserCreationStatusMessage" }, new { id = "frmRegister" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Partial("_Register", Model)
                                    @Html.Hidden("isSinglePageCheckout", true)
                                    <button type="submit" class="btn-bg-primary btn-margin-left" id="user-register" data-test-selector="btnCreateAccount" title="@WebStore_Resources.ButtonCreateAccount">@WebStore_Resources.ButtonRegister</button>
                                    <button type="button" class="btn-bg-primary" data-dismiss="modal" title="@Admin_Resources.ButtonCancel">@Admin_Resources.ButtonCancel</button>
                                }
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm("signup", "User", FormMethod.Post, new { role = "form", @id = "frmRegister" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Partial("_Register", Model)
                                @*<button type="submit" onclick="return CaseRequest.prototype.ValidationForRegisterForm();" class="btn-bg-primary btn-margin-left" id="user-register" title="@WebStore_Resources.ButtonCreateAccount">@WebStore_Resources.ButtonRegister</button>*@
                                <button type="submit" onclick="return CaseRequest.prototype.ValidationForRegisterForm();" class="btn-bg-primary btn-margin-left" id="user-register">@WebStore_Resources.ButtonCreateAccount</button>
                            }
                        }
                    </div>
                </div>
                @*@if (!isAjax)
                    {
                        <div class="col-xs-12 col-sm-6 account-signup-container">
                            <div class="user-icon img-circle">
                                <i class="zf-login-user"></i>
                            </div>
                            <div class="col-xs-12 col-sm-offset-2 col-sm-8 already-account">
                                <h3>@WebStore_Resources.TextAlreadyHaveAccount</h3>
                                <a href="/User/Login" class="btn-text-full btn-bg-secondary account-signup-link"><i class="zf-checkout"></i> Login Now !</a>
                            </div>
                        </div>
                    }*@
            </div>

        </div>
    </div>
</div>
<script>
    $("#frmRegister").submit(function () {
        $("#user-register").prop("disabled", true).addClass("disabled");
        $(this).closest("form").submit();
    });
</script>