﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents;
@{
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    var accountType = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.RoleName;
    bool isApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
    string enableECert = PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;
    var approverDetails = SessionProxyHelper.GetApproverDetails(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey).UserId);
}
<div class="col-12 text-right nav-header">
    <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon"></a>
    <div class="nav-label"><span class="profile-icon"></span><div class="cut-text"> Hello, @ViewBag.UserFirstName</div></div>
</div>
<div class="my-accounts-nav">
    <ul class="account-menu nav nav-tabs tabs-left">
        <li><a href="@Url.Action("Dashboard", "User",null)">@WebStore_Resources.TitleMyAccount</a></li>
        @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
        {
            <li><a href="@Url.Action("AccountInformation", "User",null)">@WebStore_Resources.LinkTextAccountInformation</a></li>
        }
        <li><a href="@Url.Action("Wishlist", "User",null)">@WebStore_Resources.LinkTextWishlist</a></li>
        <li><a href="@Url.Action("History", "User",null)" add-value="/User/OrderReceipt">@WebStore_Resources.LinkTextOrderHistory</a></li>
        @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
        {
            <li><a href="@Url.Action("TemplateList", "User",null)" add-value="/User/CreateTemplate,/User/EditTemplate,/User/ViewTemplate">@WebStore_Resources.LinkTextOrderTemplate</a></li>
        }
        <li><a href="@Url.Action("AddressBook", "User",null)" add-value="/User/Address">@WebStore_Resources.LinkTextAddressBook</a></li>
        @if (isApprovalRouting)
        {
            if (userViewModel.PendingOrdersCount > 0)
            {
                <li><a href="@Url.Action("QuoteHistory", "User", null)" add-value="/User/QuoteView"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextPendingOrderHistory</a></li>
            }
            if (approverDetails.IsApprover)
            {
                <li><a href="@Url.Action("QuoteApprovalHistory", "User", null)" add-value="/User/QuoteApprovalHistory"><i class="zf-caret-right"></i> @WebStore_Resources.TextPendingOrderApprovalHistory</a></li>
            }
            if (userViewModel.PendingPaymentCount > 0)
            {
                <li><a href="@Url.Action("PaymentQuoteHistory", "User", null)" add-value="/User/PaymentQuoteHistory"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextPendingPaymentHistory</a></li>
            }
        }

        <li><a href="@Url.Action("Reviews", "User",null)">@WebStore_Resources.LinkTextReview</a></li>
        <li><a href="@Url.Action("GiftCardHistory", "User",null)">@WebStore_Resources.LinkTextGiftCardHistory</a></li>
        <li><a href="@Url.Action("EditProfile", "User",null)" add-value="/User/ChangePassword">@WebStore_Resources.LinkTextEditProfile</a></li>
        <li><a href="@Url.Action("GetSavedCreditCards", "User",null)" add-value="/User/GetSavedCreditCard">@WebStore_Resources.LinkSavedCreditCard</a></li>
        <li><a href="@Url.Action("AffiliateInformation", "User",null)">@WebStore_Resources.LinkAffiliateInformation</a></li>
        @if (approverDetails.HasApprovers)
        {
            <li><a href="@Url.Action("UserApprovalList", "User", null)" add-value="/User/UserApprovalList"><i class="zf-caret-right"></i> @WebStore_Resources.TextApprovalList</a></li>
        }
        @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
        {
            <li><a href="@Url.Action("eCertificateBalance", "User", null)" add-value="/User/eCertificateBalance"><i class="zf-caret-right"></i> @WebStore_Resources.ECertManageECertificateButtonLabel</a></li>
        }

    </ul>
    <a onclick="User.prototype.LogOff()" class="btn btn-secondary btn-block log-off" id="log-off">@WebStore_Resources.LabelLogoff</a>
</div>

<script>
    // Account Tab Selection
    var selectedTabhref = "/" + $("body").attr("id") + "/" + $("body").attr("class");
    $(".account-dashboard .account-menu a").each(function () {
        var arraySelectedTabs = $.trim($(this).attr("add-value")).split(",");
        if ($.trim($(this).attr("href")) === $.trim(selectedTabhref) || $.trim($(this).attr("add-value")) === $.trim(selectedTabhref) || arraySelectedTabs[0] === $.trim(selectedTabhref) || arraySelectedTabs[1] === $.trim(selectedTabhref) || arraySelectedTabs[2] === $.trim(selectedTabhref)) {
            $(this).addClass("selected");
        }
    });
</script>
