﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model UserViewModel
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@{
    var currentPortal = PortalAgent.CurrentPortal;
    string enableECert = currentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;

    var paymentSettingId = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.PaymentSettingId;

    var CustomerPaymentGUID = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.CustomerPaymentGUID;
    List<string> urls = Model.ReferralCommissionData.Url?.Split(',')?.ToList();
    bool isApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
}

<div id="layout-account-dashboard" class="main-wrapper col">
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12">
                    <h1 class="page-title">@WebStore_Resources.TitleMyAccount</h1>
                </div>
                <div class="col-12 account-dashboard">
                    <div class="row mb-4">
                        <div class="col-12 col-md-3 p-0 d-none d-md-block">
                            <div class="col-12 account-menu">
                                <nav class="account-container-menu">
                                    @Html.Partial("_AccountMenu")
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 right-container">
                            @if (!Equals(Model, null))
                            {
                                <div class="row no-gutters">
                                    <div class="col-12 p-0 mb-4 dashboard-content">
                                        <h3 class="b2b-section-header">@WebStore_Resources.SubTitleRecentOrders</h3>
                                        <div class="col-12 p-0">
                                            @Html.Partial("_OrderHistory", Model.OrderList)
                                            @if (!Equals(Model.OrderList, null) && Model.OrderList.Any())
                                            {
                                                <div class="col-12 text-right d-block b2b-order-history">
                                                    <a href="/User/History" class="btn btn-secondary d-block d-xl-inline-block">@WebStore_Resources.B2BLinkTextCompleteOrderHistory</a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-12 p-0 mb-4 dashboard-content">
                                        <h3 class="b2b-section-header">@WebStore_Resources.TitleAddressBook</h3>
                                        <div class="row no-gutters dashboard-addresses">
                                            <div class="col-12 col-md-6">
                                                @if (!Equals(Model.ShippingAddress, null))
                                                {
                                                    Model.ShippingAddress.RoleName = Model.RoleName;

                                                    <h5 class="b2b-section-sub-header m-0">@WebStore_Resources.SubTitlePrimaryShipping</h5>
                                                    @Html.Partial("../User/_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())

                                                }
                                                else
                                                {
                                                    <h5 class="b2b-section-sub-header m-0 w-100">@WebStore_Resources.SubTitlePrimaryShipping</h5>
                                                    <div class="pt-3">@WebStore_Resources.ErrorNoPrimaryAddress</div>
                                                }
                                            </div>
                                            <div class="col-12 col-md-6">
                                                @if (!Equals(Model.BillingAddress, null))
                                                {
                                                    Model.BillingAddress.RoleName = Model.RoleName;

                                                    <h5 class="b2b-section-sub-header m-0">@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                                    @Html.Partial("../User/_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())

                                                }
                                                else
                                                {
                                                    <h5 class="b2b-section-sub-header m-0 w-100">@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                                    <div class="pt-3">@WebStore_Resources.ErrorNoPrimaryAddress</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row  no-gutters">
                                            <div class="col-12 p-4 text-right">
                                                <a href="/User/AddressBook" class="btn btn-secondary d-block d-md-inline-block">@WebStore_Resources.LinkTextViewAddressBook</a>
                                                @if (Model.Permission)
                                                {
                                                    <a href="/User/Address" class="btn btn-primary d-block mt-3 mt-md-0 ml-md-3 d-md-inline-block">@WebStore_Resources.LinkAddNewAddress</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (isApprovalRouting)
                                {
                                    if (Model.PendingOrdersCount > 0)
                                    {
                                        <div class="row no-gutters">
                                            <div class="col-12 p-0 mb-4 dashboard-content">
                                                <h3 class="b2b-section-header">@WebStore_Resources.LinkTextPendingOrderHistory</h3>
                                                <div class="col-12 p-0">
                                                    <div class="col-12 text-right d-block b2b-order-history less-padding">
                                                        <a href="/User/QuoteHistory" class="btn btn-secondary d-block d-xl-inline-block">@WebStore_Resources.LinkTextPendingOrderHistory</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (Model.IsApprover)
                                    {
                                        <div class="row no-gutters">
                                            <div class="col-12 p-0 mb-4 dashboard-content">
                                                <h3 class="b2b-section-header">@WebStore_Resources.TextPendingOrderApprovalHistory</h3>
                                                <div class="col-12 p-0">
                                                    <div class="col-12 text-right d-block b2b-order-history less-padding">
                                                        <a href="/User/QuoteApprovalHistory" class="btn btn-secondary d-block d-xl-inline-block">@WebStore_Resources.TextViewPendingOrderApprovalHistory</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (Model.PendingPaymentCount > 0)
                                    {
                                        <div class="row no-gutters">
                                            <div class="col-12 p-0 mb-4 dashboard-content">
                                                <h3 class="b2b-section-header">@WebStore_Resources.LinkTextPendingPaymentHistory</h3>
                                                <div class="col-12 p-0">
                                                    <div class="col-12 text-right d-block b2b-order-history less-padding">
                                                        <a href="/User/PaymentQuoteHistory" class="btn btn-secondary d-block d-xl-inline-block">@WebStore_Resources.LinkTextViewPendingPaymentHistory</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="row mb-4">
                                    <div class="col-12 col-lg-6 account-profile-section">
                                        <div class="col-12 p-0 dashboard-content">
                                            <h3 class="b2b-section-header">@WebStore_Resources.TitleAccountProfile</h3>
                                            <div class="col-12 dashboard-addresses">
                                                <div class="col-12">
                                                    @WebStore_Resources.ColumnUsername :
                                                    <a href="/User/EditProfile" class="dashboard-profile">
                                                        @User.Identity.GetUserName()<br />
                                                    </a>
                                                    @WebStore_Resources.EmailAddress :
                                                    <a href="/User/EditProfile" class="dashboard-profile">
                                                        @Model.Email<br />
                                                    </a>
                                                </div>
                                                @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
                                                {
                                                    <z-widget>
                                                        @Ajax.AjaxWidgetPartial("ECertUsertProfileDashboardTotal", "ECertUsertProfileDashboardTotal", "101", "PortalMapping")
                                                    </z-widget>
                                                }
                                            </div>
                                            <div class="col-12 p-4 text-right less-padding d-flex flex-wrap">
                                                <a href="/User/ChangePassword" class="btn btn-secondary col-12 col-xl d-block d-xl-inline-block">@WebStore_Resources.LinkTextChangePassword</a>
                                                <a href="/User/EditProfile" class="btn btn-secondary col-12 edit-btn-max-width d-block d-xl-inline-block ml-xl-3 mt-3 mt-xl-0">@WebStore_Resources.LinkTextEditProfile</a>
                                                @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
                                                {
                                                    <a href="/User/eCertificateBalance" class="btn btn-primary col-12 mt-3 d-block">@WebStore_Resources.ECertManageECertificateButtonLabel</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-4 mt-lg-0 saved-card-section pl-lg-2">
                                        <div class="col-12 p-0 h-100 dashboard-content">
                                            <h3 class="b2b-section-header">@WebStore_Resources.LinkSavedCreditCard</h3>
                                            <div class="col-12 dashboard-addresses">
                                                @Html.RenderBlock(@WebStore_Resources.TextSavedCCDetailsCount)
                                            </div>
                                            <div class="col-12 p-4 text-right">
                                                <a href="/User/GetSavedCreditCards" class="btn btn-secondary d-block d-xl-inline-block">@WebStore_Resources.LinkSavedCC</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-12 col-xl-4 mb-4 mb-xl-0 reviews-wishlist-section">
                                        <div class="col-12 p-0 h-100 dashboard-content">
                                            <h3 class="b2b-section-header">@WebStore_Resources.SubTextYourReviews</h3>
                                            <div class="col-12 dashboard-addresses mt-3">
                                                @string.Format(WebStore_Resources.SubTextReviewItems, Model.ReviewCount)
                                            </div>
                                            <div class="col-12 p-4">
                                                <a href="/User/Reviews" class="btn btn-secondary d-block">@WebStore_Resources.LinkTextViewReviews</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4 pl-xl-2 mb-4 mb-xl-0 reviews-wishlist-section">
                                        <div class="col-12 p-0 h-100 dashboard-content">
                                            <h3 class="b2b-section-header">@WebStore_Resources.SubTextYourWishList</h3>
                                            <div class="col-12 dashboard-addresses mt-3">
                                                @string.Format(WebStore_Resources.SubTextWishlistItems, (Model?.WishList != null ? Model.WishList.Count : 0))
                                            </div>
                                            <div class="col-12 p-4">
                                                <a href="/User/Wishlist" class="btn btn-secondary d-block">@WebStore_Resources.LinkTextViewWishList</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4 pl-xl-2 reviews-wishlist-section ">
                                        <div class="col-12 p-0 h-100 dashboard-content">
                                            <h3 class="b2b-section-header">@WebStore_Resources.SubTextGiftCardHistory</h3>
                                            <div class="col-12 dashboard-addresses mt-3">
                                                @string.Format(WebStore_Resources.SubTextGiftCardHistoryItems, Model.GiftCardCount)
                                            </div>
                                            <div class="col-12 p-4">
                                                <a href="/User/GiftCardHistory" class="btn btn-secondary px-0 d-block">@WebStore_Resources.LinkTextViewGiftCardHistory</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4 no-gutters">
                                    @Html.Partial("../User/_AffiliateInformation", Model.ReferralCommissionData)
                                </div>
                                if (Model.HasApprovers)
                                {
                                    <div class="row no-gutters">
                                        <div class="col-12 p-0 mb-4 dashboard-content">
                                            <h3 class="b2b-section-header">@WebStore_Resources.TextApprovalList</h3>
                                            <div class="col-12 p-0">
                                                <div class="col-12 text-right d-block b2b-order-history">
                                                    <a href="/User/UserApprovalList" class="btn btn-secondary d-block d-xl-inline-block">@WebStore_Resources.TextApprovalList</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @Html.Hidden("hdnCustomerGUID")
            @Html.Hidden("hdnGatwayName")
            @Html.Hidden("paymentProfileId")
            @Html.Hidden("hdnPaymentCode")
            @Html.Hidden("hdnPaymentApplicationSettingId")
        </div>
    </div>
</div>
<script>$(document).ready(function () { User.prototype.ShowCardPaymentOptions("@CustomerPaymentGUID"); });</script>