﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@model OrdersViewModel
@{
    int shippingId = 0;
    int count = 1;
}

<div id="layout-account-receipt" class="col">
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12">
                    <h1 class="page-title">@Html.RenderBlock(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(), Model.OrderNumber.ToString())) - @ViewBag.Title <small>on @Model.OrderDate.ToDateTimeFormat()</small></h1>
                </div>
                <div class="col-12 account-dashboard">
                    <div class="row">
                        <div class="col-12 col-md-3 p-0 d-none d-md-block">
                            <div class="col-12 account-menu">
                                <nav class="account-container-menu">
                                    @Html.Partial("_AccountMenu")
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 order-receipt right-container">
                            <a class="receipt-print float-right" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                            <div class="row mb-4">
                                <div class="col-12 col-lg-6 account-profile-section mb-4 mb-lg-0">
                                    <div class="col-12 p-0 h-100 dashboard-content">
                                        <h3 class="b2b-section-header">@WebStore_Resources.TextDetails:</h3>
                                        <div class="col-12 dashboard-addresses">
                                            <div class="p-0 py-3"><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</div>
                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber</div>
                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName</div>
                                            @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                                            {<div class="p-0 pb-3"><strong>@Admin_Resources.LabelPurchaseOrderNumber:</strong> @Model.PurchaseOrderNumber</div>}
                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.TitleTracking:</strong> @Html.RenderBlock(Model.TrackingNumber)</div>
                                            @if (HelperUtility.IsNotNull(Model.CouponCode))
                                            {
                                                <div class="p-0 pb-3"><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.RenderBlock(Model.CouponCode)</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 pl-lg-2 account-profile-section">
                                    <div class="col-12 p-0 h-100 dashboard-content">
                                        <h3 class="b2b-section-header">@WebStore_Resources.TitleBillingTo</h3>
                                        <div class="col-12 dashboard-addresses">
                                            <div class="py-3">@Html.RenderBlock(Model.BillingAddressHtml)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                    {
                                        if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                        {
                                            if (!Equals(shippingId, items.OmsOrderShipmentId))
                                            {
                                                <h3 class="b2b-section-header">@WebStore_Resources.ShipmentLable #@count</h3>
                                                <div class="col-12 p-0">
                                                    <div class="col-12 account-recent-orders">
                                                        <div class="row">
                                                            <div class="col-12 p-0 mb-3">@Html.RenderBlock(items.ShippingAddressHtml)</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                shippingId = items.OmsOrderShipmentId;
                                                count++;
                                            }
                                            <div class="col-12 p-0">
                                                <div class="col-12 account-recent-orders">
                                                    <div class="row">
                                                        <div class="col-12 col-lg-6 col-xl-2 p-0 pr-2">
                                                            <div class="b2b-recent-order-title">@WebStore_Resources.ColumnTitleItem</div>
                                                            <div class="b2b-recent-order-detail">
                                                                @Html.RenderBlock(items.ProductName)
                                                                @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                                                {
                                                                    List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                                                    <h5 style="color:red">Product Keys</h5>
                                                                    foreach (string item in keys)
                                                                    {
                                                                        <div>@Html.RenderBlock(item)</div>
                                                                    }
                                                                }
                                                                <br />
                                                                <div class="cart-item-description">
                                                                    @if (items?.PersonaliseValueList?.Count > 0)
                                                                    {
                                                                        foreach (var item in items?.PersonaliseValueList)
                                                                        {
                                                                            if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                                            {
                                                                                <p>
                                                                                    @item.Key: @item.Value
                                                                                </p>
                                                                            }

                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-2 p-0 pr-2">
                                                            <div class="b2b-recent-order-title">@WebStore_Resources.LabelDescription</div>
                                                            <div class="b2b-recent-order-detail">
                                                                @Html.RenderBlock(@items.Description)
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-2 p-0 pr-2">
                                                            <div class="b2b-recent-order-title">@WebStore_Resources.LabelStatus</div>
                                                            <div class="b2b-recent-order-detail">
                                                                @items.OrderLineItemState
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-2 p-0 pr-2">
                                                            <div class="b2b-recent-order-title">@WebStore_Resources.LabelTrackingNumber</div>
                                                            <div class="b2b-recent-order-detail">
                                                                @if (!string.IsNullOrEmpty(items.TrackingNumber))
                                                                {
                                                                    @Html.RenderBlock(items.TrackingNumber)
                                                                }
                                                                else
                                                                {
                                                                    <div>Pending</div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-1 p-0 pr-2">
                                                            <div class="b2b-recent-order-title">@WebStore_Resources.ColumnTitleQty</div>
                                                            <div class="b2b-recent-order-detail">
                                                                @if ((items.Quantity) % 1 == 0)
                                                                {
                                                                    @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                                }
                                                                else
                                                                {
                                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                    @orderedQuantity
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-1 p-0 pr-2">
                                                            <div class="b2b-recent-order-title">@WebStore_Resources.ColumnTitlePrice</div>
                                                            <div class="b2b-recent-order-detail">
                                                                @Helper.FormatPriceWithCurrency(items.Price, Model.CurrencyCode, items.UOM)
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-1 p-0 pr-2">
                                                            <div class="b2b-recent-order-title">@WebStore_Resources.ColumnTitleTotal</div>
                                                            <div class="b2b-recent-order-detail">
                                                                @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CurrencyCode)
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-1 p-0">
                                                            <div class="b2b-recent-order-detail">
                                                                @if (items.OrderLineItemRelationshipTypeId != Convert.ToInt32(ZnodeCartItemRelationshipTypeEnum.AddOns))
                                                                {
                                                                    <a href="/user/ReorderOrderLineItem/@items.OmsOrderLineItemsId">@WebStore_Resources.TextReoder</a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                    <div class="col-12 col-lg-8 p-0 ml-auto receipt-item-list shopping-cart">
                                        @Html.Partial("_ReceiptCalculation", Model)
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 my-3 p-0 return-item-list shopping-cart">
                                @if (Model?.ReturnItemList?.ReturnItemList?.Count > 0)
                                {
                                    <h3>@WebStore_Resources.LabelReturnItemList</h3>
                                    <div class="table-responsive">
                                        <table class="table table-tr">
                                            <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                                <th class="table-td receipt-column-item">Product SKU</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTax</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnShipping</th>
                                                <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                            </tr>
                                            @foreach (var items in Model?.ReturnItemList?.ReturnItemList)
                                            {
                                                <tr>
                                                    @if (items?.GroupProducts?.Count > 0)
                                                    {
                                                        string mainProductName = items.ProductName;
                                                        foreach (var product in items.GroupProducts)
                                                        {
                                                            <td>
                                                                @product.Sku
                                                            </td>
                                                            <td>
                                                                <div class="">@Html.RenderBlock(mainProductName)</div>
                                                                <div>@Html.DisplayTextFor(model => product.ProductName)</div>
                                                                <div class="cart-item-description">@Html.RenderBlock(items.CartDescription)</div>
                                                            </td>
                                                            <td>
                                                                @items.OrderLineItemStatus
                                                            </td>
                                                            <td>
                                                                @items.ReasonForReturn
                                                            </td>
                                                            <td>
                                                                @items.TrackingNumber
                                                            </td>
                                                            <td class="table-td receipt-column-quantity">
                                                                @if ((items.Quantity) % 1 == 0)
                                                                {
                                                                    @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                                }
                                                                else
                                                                {
                                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                    @orderedQuantity
                                                                }
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CurrencyCode, items.UOM)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CurrencyCode)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                            </td>
                                                            <td class="table-td receipt-column-total">
                                                                @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                            </td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(items?.ConfigurableProductSKUs))
                                                            {
                                                                <span>@items.ConfigurableProductSKUs</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@items.SKU</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            <span>@Html.RenderBlock(items.ProductName)</span>
                                                            <div class="cart-item-description">
                                                                @if (items?.PersonaliseValuesList?.Count > 0)
                                                                {
                                                                    foreach (var item in items.PersonaliseValuesList)
                                                                    {
                                                                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                                        {
                                                                            <p> @item.Key : @item.Value </p>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                            @Html.RenderBlock(items.CartDescription)
                                                        </td>
                                                        <td>
                                                            <span>@items.OrderLineItemStatus</span>
                                                        </td>
                                                        <td>
                                                            <span>@items.ReasonForReturn</span>
                                                        </td>
                                                        <td>
                                                            <span>@items.TrackingNumber</span>
                                                        </td>
                                                        <td class="table-td receipt-column-quantity">
                                                            @if ((items.Quantity) % 1 == 0)
                                                            {
                                                                @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                            }
                                                            else
                                                            {
                                                                var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                @orderedQuantity
                                                            }
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CurrencyCode, items.UOM)
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CurrencyCode)
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                        </td>
                                                        <td class="table-td receipt-column-total">
                                                            @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CurrencyCode)
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
