﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model OrdersListViewModel

<div id=@Model.GridModel.FrontObjectName class="main-wrapper col">
    <div id="layout-account-orderhistory" class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12">
                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderHistory</h1>
                </div>
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-md-3 p-0 d-none d-md-block">  
                            <div class="col-12 account-menu">
                                <nav class="account-container-menu">
                                    @Html.Partial("_AccountMenu")
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 order-history right-container">
                            <div class="row no-gutters">
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 product-search p-0">
                                        <h3 class="b2b-section-header">@WebStore_Resources.LableOrderList</h3>
                                        <div class="col-12 p-0 border-bottom">
                                            <div class="col-12 text-right my-3">
                                                @using (Html.BeginForm("DownloadPDF", "User", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" id="orderIds" name="orderIds" />
                                                    <div id="divInvoice" class="quotebutton">
                                                        <button type="submit" id="btnGenerateInvoice" onclick="return User.prototype.GenerateInvoice();" class="btn btn-primary" @((Model.List.Count > 0) ? "" : "disabled")><i class='z-download'></i>@WebStore_Resources.ButtonGenerateInvoice</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12 filter-component border-bottom">
                                            @using (Ajax.BeginForm("History", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                            {
                                                <div id="filterComponent">
                                                    @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                                </div>
                                            }
                                        </div>

                                        <div class="col-12 list-container p-0">
                                            <div class="col-12 p-0">
                                                @Html.Partial("_DynamicGrid", Model.GridModel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".zf-manage").attr('title', "Reorder");
    $(window).on("load", function () {
        User.prototype.HideGridColumnForPODocument();
    });    
</script>