﻿@using Znode.Engine.WebStore.ViewModels

@model UserViewModel
<div id="layout-account-editaddress" class="main-wrapper col">
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12">
                    <h1 class="page-title">@WebStore_Resources.LinkSavedCreditCard</h1>
                </div>
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-md-3 p-0 d-none d-md-block">
                            <div class="col-12 account-menu">
                                <nav class="account-container-menu">
                                    @Html.Partial("_AccountMenu")
                                </nav>
                            </div>                          
                        </div>
                        <div class="col-12 col-md-9 right-container">
                            <div class="col-12 p-0">
                                @Html.Action("CreditCardDetails", "User")
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </div>      
</div>