﻿@*<script src="~/Scripts/lib/PaypalObject/checkout.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>*@
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers;
@model CheckoutViewModel

@{
    string _display = Convert.ToString(Request.QueryString["mode"]) == "guest" ? Model.UserId < 1 ? "display:block;" : "display:none;" : "display:none;";
    bool enablePerOrderlimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderLimit)?.AttributeValue);
    bool enableUserOrderAnnualLimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderAnnualLimit)?.AttributeValue);
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    string currencyCode = PortalAgent.CurrentPortal.CurrencyCode;
    string perOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.PerOrderLimit, currencyCode);
    string annualOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.AnnualOrderLimit, currencyCode);
    bool isGuest = Convert.ToString(Request.QueryString["mode"]) == "guest";
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isRegistered = User.Identity.IsAuthenticated;
}

<div id="divSinglePageCheckout" class="col">
    @Html.Partial("../_LearnMore", Model)
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-5" title="Home"></a>Checkout</div>
            </div>
        </div>
    </div>
    <div class="row b2b-checkout-page">
        <div class="container">
            <div class="row single-page-checkout">
                <div class="col-12">
                    <h1 class="page-title">@WebStore_Resources.TitleSinglePageCheckoutProcess</h1>
                </div>
                <div class="col-12">
                    <div class="col-12 p-0 shipping-address">
                        @{ Html.RenderAction("AccountAddress", "Checkout");}
                        <div style="@_display">
                            @Ajax.ActionLink("Existing Customer Login", "Login", "User", null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "address-popup-content",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnBegin = "$('.address-popup').modal('hide');",
                            OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                        }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                        <div style="@_display">
                            @Ajax.ActionLink("Create an account for later use", "Signup", "User", null,
                                new AjaxOptions
                                {
                                    UpdateTargetId = "address-popup-content",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                    OnBegin = "$('.address-popup').modal('hide');",
                                    OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                                }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <div class="row">
                            <div class="col-12 col-md-6 shipping-method mb-4">
                                <div class="col-12 p-0 h-100 b2b-block">
                                    <h3 class="block-title"><span>3</span>@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
                                    <div id="loaderId"> </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6 signle-page-payment mb-4 pl-md-2">
                                @{ Html.RenderAction("PaymentOptions", "Checkout");}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 review-order">
                        <div id="cart-review-content" class="row">
                            @{
                                if (Model.ShippingId > 0)
                                {
                                    Html.RenderAction("CartReview", "Checkout", new { shippingOptionId = Model.ShippingId });
                                }
                                else
                                {
                                    Html.RenderAction("CartReview", "Checkout");
                                }
                            }
                        </div>
                    </div>
                    <div class="col-12 p-0 mt-4 mb-5 quotebutton hide-in-amazon-checkout text-right">
                        @if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                        {
                            <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-primary checkoutButton">@WebStore_Resources.TextPlaceOrder</button>
                        }
                        else if (!Model.ShowPlaceOrderButton && (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase)))
                        {
                            <button type="submit" onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn btn-primary singlecheckoutsubmitquote">@WebStore_Resources.ButtonSubmitForApproval</button>
                        }
                        else
                        {
                            <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-primary checkoutButton">@WebStore_Resources.TextPlaceOrder</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.QuoteId)
    @Html.HiddenFor(m => m.OrderStatus)
    @Html.HiddenFor(m => m.PermissionCode)
    @Html.HiddenFor(m => m.RoleName)
    @Html.HiddenFor(m => m.ShippingId)
    @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
    @Html.Hidden("EnablePerOrderlimit", enablePerOrderlimit)
    @Html.Hidden("EnableUserOrderAnnualLimit", enableUserOrderAnnualLimit)
    @Html.Hidden("PerOrderLimit", userViewModel?.PerOrderLimit)
    @Html.Hidden("AnnualOrderLimit", userViewModel?.AnnualOrderLimit)
    @Html.Hidden("AnnualBalanceOrderAmount", userViewModel?.AnnualBalanceOrderAmount)
    @Html.Hidden("PerOrderLimitWithCurrency", perOrderLimitWithCurrency)
    @Html.Hidden("AnnualOrderLimitWithCurrency", annualOrderLimitWithCurrency)
    @Html.HiddenFor(m => m.IsRequireApprovalRouting)
    @Html.HiddenFor(m => m.EnableApprovalRouting)
    @Html.Hidden("hdnPortalId", portalId)
    <!-- Modal -->
    <div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog compare-product-popup modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p>@WebStore_Resources.TextPaymentMethod</p>
                </div>
            </div>
        </div>
    </div>
    <!--Error Payment Modal-->
    <div class="modal fade" id="ErrorPaymentModal" role="dialog">
        <div class="modal-dialog compare-product-popup">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="close-circle-icon"></i></button>
                    <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                    <div class="col-12 margin-top-bottom p-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Address Popup-->
<div class="modal fade address-popup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Checkout.prototype.ShippingOptions();
        Checkout.prototype.CalculateShipping("");
        $(".cart-item-remove").remove();
    });
    $(document).off("click", "#address-popup-content .close");
    $(document).on("click", "#address-popup-content .close", function () {
        location.reload();
    });
</script>