﻿@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{


    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = "Forgot Password | Rogan’s Shoes";
    ViewBag.Description = "Forgot your password? Recover it here | Rogan’s Shoes";
}
<div class="main-wrapper">
    <div class="container ContentContainer">
        <div class="register-container ResetPassword LableForm">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.TextResetPassword</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <p class="FormTitle">@WebStore_Resources.SubTextResetPassword</p>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-lg-12 nopadding">
                        @Html.TextBoxFor(m => m.UserName, new { @required = "required",@id="forgetpwd" })
                        <label for="forgetpwd" placeholder="@WebStore_Resources.LabelUsername"><span>@WebStore_Resources.LabelUsername</span></label>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>

                   <div class="col-lg-12 nopadding">
                       <button type="submit" class="btn btn-primary">@WebStore_Resources.ButtonSubmit</button>
                   </div>
                    
                }
            </div>
        </div>
    </div>
</div>