﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    string _isDisplayGuestcheckout = Convert.ToString(Request.QueryString["returnUrl"])?.ToLower() == "~/checkout" ? "checkout-guest" : "checkout-new";
    ViewBag.Title = "Rogans Shoes : Member Login";
}

<div class="ContentContainer login-container">
    <div>
        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 margin-bottom padding-bot-40 inner-container nopadding">
            <div class="nopadding">
                <div class="col-lg-12 col-sm-12 margin-bottom">
                    <div class="PageTitle"><h1>@WebStore_Resources.TitleCustomerLogin</h1></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 LableForm">
                    <form method="POST" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <div>
                            <div class="NewUser">
                                <div class="FormTitle">@WebStore_Resources.TitleAlreadyUser</div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-12 col-xs-12 nopadding">
                                @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @required = "required", @value = "Username", @title = @WebStore_Resources.ColumnUsername, @style = "text-transform:lowercase;" })
                                <label for="login_username" alt="@WebStore_Resources.ColumnUsername" placeholder="@WebStore_Resources.ColumnUsername"><span>@WebStore_Resources.ColumnUsername</span></label>
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Username)</p>
                            </div>
                            <div class="col-lg-12 col-xs-12 nopadding">
                                @Html.PasswordFor(model => model.Password, new { @id = "login_password", @required = "required", @value = "", @title = @WebStore_Resources.ColumnPassword })
                                <label for="login_password" alt="@WebStore_Resources.ColumnPassword" placeholder="@WebStore_Resources.ColumnPassword"><span>@WebStore_Resources.ColumnPassword</span></label>
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-12 col-xs-12 checkbox checkbox-primary">
                                <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                                <label for="RememberMe">@WebStore_Resources.RememberMe</label>
                                <input type="hidden" value="false" name="RememberMe">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-md-9">
                                <button type="submit" class="btn btn-primary" title="@WebStore_Resources.ButtonLogin">@WebStore_Resources.ButtonLogin</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-md-9">
                                @if (ViewBag.CheckoutLogin != null)
                                {
                                    @Html.Hidden("returnUrl", "~/Checkout")
                                }
                                <a href="/user/forgotpassword" class="login-form-forgotpassword" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                            </div>
                        </div>
                    </form>



                    <div class="col-xs-12 col-sm-12 col-md-12 nopadding margin-top">
                        @Html.Partial("_ExternalLoginsListPartial")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 account-signup-container @_isDisplayGuestcheckout">
                    <div id="layout-account-login">
                        <div class="form-group">
                            <div class="NewUser">
                                <div class="FormTitle">@WebStore_Resources.TitleNewCustomer</div>
                            </div>

                            <p class="margin-bottom">
                                @WebStore_Resources.TextNewCustomer
                            </p>
                            <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn btn-primary" title="@WebStore_Resources.LinkTextGetAnAccount">@WebStore_Resources.LinkTextGetAnAccount</a>
                        </div>
                        @if (!Convert.ToBoolean(new AuthenticationHelper().IsAuthorizationMandatory()))
                        {
                        <div class="form-group padding-bot-40 checkout-guest-container">
                            <div class="NewUser">
                                <div class="FormTitle">@WebStore_Resources.LinkTextGuestCheckout</div>
                            </div>

                            <p class="margin-bottom">@Html.RenderMessage(WebStoreConstants.CheckoutAsAGuestMessage)</p>
                            <a href="/Checkout?mode=guest" class="btn btn-primary" title="@WebStore_Resources.LinkTextGuestCheckout"> @WebStore_Resources.LinkTextGuestCheckout</a>
                        </div>
                        }
                      
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
