﻿@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.ViewModels
@model OrdersListViewModel

@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
}

<div id=@Model.GridModel.FrontObjectName>
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, "User")<i class="z-minus"></i><span>@Model.CustomerName</span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "CustomersList", "Customer", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
        </div>
    </div>
    <div class="main-wrapper">
        <!--Left Panel-->
        <aside>
            @Html.Partial("~/views/User/_asidecustomermanagepanel.cshtml")
        </aside>
        <!--Main Container-->
        <section class="main-container">
            @using (Ajax.BeginForm("GetOrderList", "Customer", new { userId = Model.UserId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="product-sku-list">
                <div class="col-sm-12 list-container">
                    @{
                        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                    }
                </div>
            </div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "StoreDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Store.prototype.DeleteMultipleStore(this)"}
                         }
                    })
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {
        Customer.prototype.GetOrderDetailsByRowSelection();
    });
</script>