﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<div class="container-fluid ContainerSection nopadding-mobile">
    <!--Home Page Image Widget for Desktop View-->
    <div class="hidden-xs"><z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget></div>
    <!--Home Page Image Widget for Desktop View-->
    <div class="hidden-lg hidden-md hidden-sm visible-xs"><z-widget>@Html.WidgetPartial("BannerSlider", "MobileSlider", "898", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget></div>
</div>
<div class="container hidden-xs">
    <div class="col-md-12 col-lg-12 co-sm-12 Banner-SetHomepage">
        <!--Rogans Shoes Promise-->
        <div class="col-md-12 col-lg-12 co-sm-12">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-sm-12 BannerBox1 text-center BannerBox-tablet">
                @Html.RenderMessage("RogansPromise")
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>
<div class="container hidden-xs">
    <div>
        <div class="FeaturedSection">
            <!--SHOP FEATURED CATEGORIES Widget-->
            <h2 class="media-heading margin-bottom-40"><span>@Html.RenderMessage("StoreSpecialsTitle")</span></h2>
            <div data-test-selector="divBestSellCategoryList">
                <z-widget>@Html.WidgetPartial("CategoryList", "CategoryList", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
    </div>
    <div>
        <div class="HomePage">
            <div id="NewArrivalID" class="NewArrival" data-test-selector="divNewArrivalWidget">
                <z-widget>@Html.WidgetPartialAjax("ProductList", "NewArrival", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId) </z-widget>
            </div>
        </div>
    </div>
    <div>
        <div class="HomePage">
            <div id="HomeBrands" class="hidden-xs">
                <h2 class="media-heading margin-bottom-30">
                    <span>
                        @Html.RenderMessage("ShopBrand")
                    <div class="Subtitle">@Html.RenderMessage("ShopNewBrand")</div>
                </span>
            </h2>
            <div data-test-selector="divBrandWidget">
                <z-widget>@Html.WidgetPartial("BrandList", "BrandList", "9657", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
        <div class="row margin-top-bottom-50">
            <div>
                <div class="col-lg-6 col-md-7">
                    @Html.RenderMessage("HomeTestimonials")
                </div>
            </div>
            <div>
                <div class="col-lg-6 col-md-5 text-center">
                    <div class="RightContent">
                        <z-widget>@Html.WidgetPartial("TextEditor", "AboutParagraph", "5557", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>