﻿@model Znode.Engine.WebStore.ViewModels.ShortProductViewModel
@{
	Layout = null;
}
<div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
	@if (Model?.ProductImage.AlternateImages?.Count > 0 && !Model.IsQuickView)
	{
		<div class="item">
			<a href="#" class="simpleLens-thumbnail-wrapper"
			   data-lens-image="@Model.ProductImage.OriginalImagepath"
			   data-big-image="@Model.ProductImage.ImageLargePath">
				<img src="@Model.ProductImage.ImageLargePath" />
			</a>
		</div>
		foreach (var image in Model.ProductImage.AlternateImages)
		{
			<div class="item">
				<a href="#" class="simpleLens-thumbnail-wrapper"
				   data-lens-image="@image.OriginalImagePath"
				   data-big-image="@image.ImageLargePath">
					<img src="@image.ImageThumbNailPath">
				</a>
			</div>
		}
	}
</div>
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>

<!--Product Zoom Effect-->
<script>
	$(function () {
		$('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
		$('#ImageZoom .simpleLens-big-image').simpleLens();

		$(".Product_Altimages").owlCarousel({
			autoPlay: false,
			navigation: true,
			items: 4,
			itemsCustom: [
				[0, 1],
				[320, 4],
				[480, 4],
				[600, 4],
				[768, 6],
				[992, 5],
				[1200, 6]
			],
			navigationText: [
				"<i class='zf-arrow-left-big'></i>",
				"<i class='zf-arrow-right-big'></i>"
			]
		});
	});

</script>
