﻿@using Znode.Engine.WebStore.ViewModels
@model EmailAFriendViewModel
@{
    Layout = null;
}
<div id="modelEmailToFriend" class="modal fade" role="dialog">
    <div class="compare-product-popup">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                    <h4 data-test-selector="hdgEmailHeading" class="modal-title">@Admin_Resources.EmailAFriend</h4>
                </div>
                @using (Ajax.BeginForm("SendMailToFriend", "Product", new AjaxOptions { OnBegin = "Product.prototype.EmailToFriendBegin();", OnSuccess = "Product.prototype.EmailToFriendSuccess();", OnFailure = "Product.prototype.EmailToFriendFailure();", HttpMethod = "Post" }))
                {
                    <div class="modal-body">

                        <div>
                            <div>
                                @Html.Label(@WebStore_Resources.LabelSenderMailId, new { @class = "required", @data_test_selector = "lblSenderMailID" })
                            </div>
                            <div>
                                @Html.HiddenFor(model => model.ProductName)
                                @Html.TextBoxFor(model => model.YourMailId, new { @class = "" , @data_test_selector="txtYourMailID"})
                                @Html.ValidationMessageFor(model => model.YourMailId)
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.Label(@WebStore_Resources.LabelRecieverMailId, new { @class = "required" , @data_test_selector = "lblRecieverMailID" })
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.FriendMailId, new { @class = "" , @data_test_selector = "txtRecieverMailID" })
                                @Html.ValidationMessageFor(model => model.FriendMailId)
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button data-test-selector="btnSendMail" id="btnSendMail" class="btn-text btn-bg-primary pull-right" type="submit">Send Mail</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {        
        $.validator.unobtrusive.parse($("#btnSendMail").closest("form"));
    });
</script>