﻿@model Znode.Engine.WebStore.ViewModels.CaseRequestViewModel
@{
    ViewBag.Title = WebStore_Resources.TitleUserFeedback;
}
<div id="layout-contactus" class="main-wrapper">
    <div class="container">
        <div class="contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.HeaderCustomerFeedback</h1>
            </div>
            <div class="col-xs-12 nopadding margin-bottom">
                <p>@WebStore_Resources.CustomerFeedbackIntroText</p>
            </div>
            <div class="col-xs-12 col-md-9 col-lg-6 nopadding LableForm">
                @using (Html.BeginForm("CustomerFeedback", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCustomerFeedback" }))
                {
                    @Html.AntiForgeryToken()
                <div class="col-xs-12 nopadding margin-bottom-5" style="width:100% !important;">
                    @Html.TextAreaFor(m => m.Message, new { @id = "Message", rows = "8", cols = "45", @required = "required", @class = "TextBoxrogan" })
                    <label for="Message" placeholder="@WebStore_Resources.LabelComments" class="reviewlabelset"><span>@WebStore_Resources.LabelComments</span></label>
                    <span id="valMessageErr" class="field-validation-error"></span>
                </div>
                    <div class="col-xs-12 nopadding margin-bottom-5">
                        @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @required = "required"})
                        <label for="FirstName"placeholder="@WebStore_Resources.LabelFirstName"><span>@WebStore_Resources.LabelFirstName</span></label>
                        <span id="valFirstNameErr" class="field-validation-error"></span>
                    </div>
                    <div class="col-xs-12 nopadding margin-bottom-5">
                        @Html.TextBoxFor(m => m.LastName, new { @id = "LastName", @required = "required"})
                        <label for="LastName" placeholder="@WebStore_Resources.LabelLastName"><span>@WebStore_Resources.LabelLastName</span></label>
                        <span id="valLastNameErr" class="field-validation-error"></span>
                    </div>
                    <div class="col-xs-12 nopadding margin-bottom-5">
                        @Html.TextBoxFor(m => m.CustomerCity, new { @id = "CustomerCity", @required = "required"})
                        <label for="CustomerCity" placeholder="@WebStore_Resources.LabelCity"><span>@WebStore_Resources.LabelCity</span></label>
                    </div>
                    <div class="col-xs-12 nopadding margin-bottom-5">
                        @Html.TextBoxFor(m => m.CustomerState, new { @id = "CustomerState", @required = "required"})
                        <label for="CustomerState" placeholder="@WebStore_Resources.LabelState"><span>@WebStore_Resources.LabelState</span></label>
                    </div>
                    <div class="col-xs-12 nopadding margin-bottom-5">
                        @Html.TextBoxFor(m => m.EmailID, new { @id = "valEmailAddress", @required = "required"})
                        <label for="valEmailAddress" placeholder="@WebStore_Resources.LabelEmailAddress"><span>@WebStore_Resources.LabelEmailAddress</span></label>
                        <span id="valEmailAddressErr" class="field-validation-error"></span>
                    </div>
                    <div class="styled-input margin-bottom-5">
                        <input type="checkbox" id="allow_sharing" name="AllowSharingWithCustomer" value="true" checked="checked" tabindex="69"/><label for="allow_sharing">@WebStore_Resources.CheckBoxTextFeedbackShare</label>
                    </div>
                    <div class="col-sm-12 nopadding margin-bottom">
                        <div id="div-captcha">
                            @Html.ZnodeCaptcha()
                        </div>
                    </div>
                    <div class="col-sm-12 nopadding styled-input">
                        <div class="margin-bottom">
                            <button type="submit" class="btn btn-bg-secondary" id="customer-feedback">@WebStore_Resources.ButtonSubmit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () { $("#frmCreateCustomerFeedback").validate(), $("#Message").rules("add", { required: !1 }), $("#FirstName").rules("add", { required: !1 }), $("#LastName").rules("add", { required: !1 }), $("#CustomerCity").rules("add", { required: !1 }), $("#CustomerState").rules("add", { required: !1 }), $("#valEmailAddress").rules("add", { required: !1 }) });
    $("#customer-feedback").click(function () { return "" == $("#Message").val() || null == $("#Message").val() ? ($("#valMessageErr").html("Comment is Required."), !1) : ($("#valMessageErr").html(""), !0) });
    $(document).ready(function () {
        var arr = $("#div-captcha").html().split("<br>");
        var string = '<label for="CaptchaInputText">' + arr[3] + '</label>';
        $("#div-captcha").html($("#div-captcha").html().replace(arr[3], string));
    });
</script>