﻿@model WidgetParameter

<div class="sub-categpry-content-area"></div>
<script>$.ajax({ url: "/Search/GetSubCategories?cMSMappingId=" +@Model.CMSMappingId +"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $(".sub-categpry-content-area").html(t); });</script>

