﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel

<a href="#" class="fa fa-envelope" style="color:#fff;" data-toggle="modal" data-target="#modelEmailToFriend" title="Email Friend"></a>
<a href="#" data-test-selector="btnPrint" style="color:#fff;" class="fa fa-print hidden-xs" onclick="window.print();" title="PRINT THE PRODUCT"></a>
<a data-test-selector="btnWishList" style="cursor:pointer;" class="pull-right addwishlistportrait margin-top5-mobile hidden-xs hidden-sm" title="@WebStore_Resources.ButtonAddToWishlist" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)"><i class="fa fa-heart pull-left"></i>&nbsp;@WebStore_Resources.ButtonAddToWishlist</a>
<a data-test-selector="btnWishList" style="cursor:pointer;" class="fa fa-heart visible-xs hidden-lg hidden-md visible-sm pull-right" title="@WebStore_Resources.ButtonAddToWishlist" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)"></a>
@Html.Action("EmailToFriend", "Product")
<script>
    jQuery(document).ready(function (e) {
        $("#ProductName").val($(".product-name").html());
        jQuery('#modelEmailToFriend').trigger('click');
    });
</script>

