﻿@using Znode.Engine.WebStore.ViewModels
@model SearchResultViewModel

<div class="product-grid">
    @if (Model?.Categories?.Count > 0)
    {
        @Html.Partial("../Search/_SearchCategoryList", Model)
    }

    @if (Model?.FacetFilters?.Count > 0)
    {
        @Html.Partial("../Search/_FilterAddedList", Model)
    }
    <div class="col-lg-12 col-xs-12 nopadding mobile-nopadding">
        @Html.Partial("../Search/_Facet", Model)
    </div>

</div>


<script>
       $(document).ready(function () {
       var faceturl = "";
       var e = "";
       try {
           faceturl = $("#facetcaturl").val();
           e = faceturl.split("-")[0];
       }
       catch (err) {
           e = "";
       }

       "mens" != e && "womens" != e && "girls" != e && "boys" != e || $(".rgFacetbranddisplaycolorgender").hide(), $(".rgFacetstorebranddisplaycolorgender").hide()
   });
</script>


