﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    bool addToCartDisabled = Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string PDPDesignView = Attributes.ValueFromSelectValue(Model?.Attributes, "PDPDesignTemplate");
    string FitGuideLink = Model.Attributes?.Value("FitGuideLink");
    Model.ConfigurableData.Custom1 = FitGuideLink;
    string IsProductShipOnly = Model.Attributes.FirstOrDefault(y => y.AttributeCode == "IsAvailableOnlineOnly")?.AttributeValues;
    <!--Start Pickup store-->
    if (Model.Custom1 != null && Model.Custom1.ToString() != "")
    {
        Model.CartParameter.Add("Custom1", Model.Custom1.ToString());
        Model.CartParameter.Add("Custom2", Model.Custom2.ToString());
        Model.CartParameter.Add("Custom3", Model.Custom3.ToString());
    }
    else
    {
        Model.CartParameter.Add("Custom1", "");
        Model.CartParameter.Add("Custom2", "");
        Model.CartParameter.Add("Custom3", "");
    }
    Model.CartParameter.Add("Custom5", IsProductShipOnly);
    <!--End Pickup store-->
    string ipAddress = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
    if (string.IsNullOrEmpty(ipAddress))
    {
        ipAddress = Request.ServerVariables["REMOTE_ADDR"];
    }
    ViewBag.IPAddress = ipAddress;
    string res = "https://ipinfo.io/" + ipAddress + "/json";

}
<script src="~/Views/Themes/RogansShoes/Scripts/lib/PickUpInStore.js"></script>
<input type="hidden" id="hdnIPAddress" value="@res" />
@if (Model.IsConfigurable)
{
    Model.ConfigurableData.Custom5 = Model.Custom5;
    Model.ConfigurableData.Custom4 = Model.Custom4;
    //  @Html.Partial("_ConfigurableAttributeDDL", Model.ConfigurableData)
    if (PDPDesignView == "Swatch View" || PDPDesignView == null)
    {
        @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
    }
    else
    {
        @Html.Partial("_ConfigurableAttributeDDL", Model.ConfigurableData)
    }

}
@{
    @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)

    <!--Start Pickup store-->
    <input type="hidden" id="SelectedWarehouseId">
    <input type="hidden" id="SelectedWarehouseName">
    <input type="hidden" id="SelectedWarehouseAddress">
    <input type="hidden" id="SelectedWarehouseStock">
    @Html.Hidden("IsProductShipOnly", IsProductShipOnly)

    <div class="col-xs-12 nopadding">
        @{
            string InventoryMessage = Model.InventoryMessage == "Out of stock" ? Model.InventoryMessage : "";

        }
        <div data-test-selector="lblQuantityErrMsg" id="quantity-error-msg" class="error-msg">@InventoryMessage</div>
    </div>

    <div class="col-lg-12 col-xs-12 nopadding border-top-pdp">
        <!--Cart Notification Msg -->
        <p id="InstoreWarning" class="notification-msg message-box alert-danger text-center" style="display:none;">@Html.RenderMessage("ShipOrPickupMessage")Entire order must be SHIP or PICK UP in store</p>

        <div class="col-lg-12 col-xs-12 nopadding  margin-bottom">
            @if (IsProductShipOnly == "true")
            {
                @Html.RenderMessage("OnlineExclusiveImage")
            }
        </div>
        <div class="col-xs-12 nopadding styled-input margin-bottom-5">
            @if (IsProductShipOnly == "false" || IsProductShipOnly == null)
            {
                <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="InStorePickUp.prototype.RemoveStoreDetails();" />
                <label class="set-radio-btn" for="Ship" title="SHIP">SHIP</label>
                <br />
                if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                {
                    <input type="radio" id="Pickup" name="radio123" value="2" onclick="InStorePickUp.prototype.AssignStoreDetails('@Model.Custom1','@Model.Custom2','@Model.Custom3');" />
                    <label class="set-radio-btn" for="Pickup" title="PICK UP IN STORE">PICK UP IN STORE </label>
                }
                else
                {
                    @*<input type="radio" id="Pickup" name="radio123" value="2" data-toggle="modal" data-target="#searchstore" />*@
                    <input type="radio" id="Pickup" name="radio123" value="2" onclick="InStorePickUp.prototype.ShowPopUp();" />
                    <label class="set-radio-btn" for="Pickup" title="PICK UP IN STORE">PICK UP IN STORE </label>
                }
                <div id="defaultstorename">
                    @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                    {

                        @*<label class='storename'>@Model.Custom2.ToString()</label><span class='select-store'><a style='text-decoration: underline;' data-toggle='modal' data-target='#searchstore' href='#' title="Change Store">Change Store</a></span>*@
                        <b class='storename'>@Model.Custom2.ToString()</b><p style="padding-left: 20px;"><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p><span class='select-store'><a style='text-decoration: underline;' onclick="ChangeStore();" href='JavaScript:Void(0);' title="Change Store" class="Tablet-view-changestore">Change Store</a>&nbsp;<span class="text-danger Tablet-view-changestore-redtxt" style="display:none;" id="showmsgpickup">or select the ship option</span></span>
                    }
                </div>
            }
            else
            {
                <div class="col-xs-12 nopadding margin-top">
                    <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="InStorePickUp.prototype.RemoveStoreDetails();" />
                    <label class="set-radio-btn" for="Ship" title="SHIP">SHIP</label>
                    <br />
                    <div class="GreyOut">
                        <input type="radio" id="Pickup" name="radio123" value="2" onclick="" disabled />
                        <label class="set-radio-btn" for="Pickup" style="cursor: not-allowed;" title="PICK UP IN STORE (Not Available)">PICK UP IN STORE (Not Available)</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    <div id="searchstore" hidden="hidden" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:10px;">
                    <h4 class="modal-title">Select a store</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -30px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-header">
                    <div class="Form col-xs-12 col-sm-12 col-lg-12 nopadding">
                        <div class="col-xs-12 nopadding LableForm">
                            <div class="input-group">
                                <input type="text" id="txtzipcitystate" required="required" title="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" />
                                <label for="txtzipcitystate" placeholder="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode"><span>@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode</span></label>
                                <span class="input-group-btn">
                                    <button id="btnSubmit" title="@WebStore_Resources.ButtonSubmit" type="button" value="submit" class="btn btn-primary btn-location-height" onclick="InStorePickUp.prototype.GetLatLng('pdp');" data-test-selector="btnSubmitLocateStore">@WebStore_Resources.ButtonSubmit</button>
                                </span>
                            </div>
                            <div>
                                <label id="error" class="text-danger"><span class="hidden">Error</span></label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xs-12 text-center margin-bottom">
                            <b>- OR -</b>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding">
                            <button title="@WebStore_Resources.ButtonUseMyCurrentLocation" type="button" class="btn btn-danger btn-location-height" onclick="InStorePickUp.prototype.GetLocation('pdp')" style="width:100%;"><i class="fa fa-map-marker set-marker"></i> @WebStore_Resources.ButtonUseMyCurrentLocation</button>
                            <label id="responseerror" class="text-danger"><span class="hidden">ResponseError</span></label>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="min-height: auto;">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-md-12">
                            <div id="address"></div>
                        </div>
                        <div class="col-lg-12 col-xs-12 col-md-12">
                            <div id="storedetails" hidden="hidden"></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--End Pickup store-->

    <!-- The Modal -->
    <div class="modal" id="Confirmstore">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="padding:10px;">
                    <h4 class="modal-title">Change Pickup Location</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -30px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 msgstorelocation text-center">
                            <p>Please note:</p>
                        </div>
                        <div class="col-lg-12 text-center margin-bottom">
                            @Html.RenderMessage("ChangeStorePopUp")
                        </div>
                        <div class="col-lg-12 text-center" style="margin-bottom: 15px!important;">
                            <button type="button" class="btn btn-danger btn-big-set" data-dismiss="modal" style="margin-right: 15px;">CANCEL</button>
                            <button type="button" class="btn btn-primary btn-big-set" data-dismiss="modal" onclick="InStorePickUp.prototype.ShowStatus();">PROCEED</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 nopadding your-pricing margin-top">
        <div class="col-xs-6 nopadding padding-top-10 hidden-lg hidden-md visible-xs">
            @if (!IsCallForPricing && !isGroupProduct)
            {
                <div class="PriceContent pull-left">
                    <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                </div>
            }
            @if (IsCallForPricing)
            {
                <div class="PriceContent pull-left"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
            }
        </div>
        <div class="col-lg-3 col-xs-6 nopadding margin-bottom">
            <div class="form-group">
                <div class="col-xs-12 nopadding product-details-qty text-center" id="product-details-quantity">
                    <input type="text" maxlength="3" data-test-selector="txtQuantity" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" title="Quantity" class="quantity" @(addToCartDisabled ? "disabled" : "") id="Quantity" style="margin-top:0px;">
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12 nopadding">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-sm-12 col-md-12 AddToCartButton margin-minus-10">
                    @if (PDPDesignView == "Swatch View" || PDPDesignView == null)
                    {
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile", "Product.prototype.ValidateSwatch(this,event)", disable, "InStorePickUp.prototype.RedirectToCart()")
                    }
                    else
                    {
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "addtocartText margin-top-mobile", "Product.prototype.Validate(this,event)", disable, "InStorePickUp.prototype.RedirectToCart()")
                    }
                </div>
            </div>
        </div>

    </div>
    <button class="btn btn-primary btn-lg" style="display:none;" id="btnTrigger" data-toggle="modal" data-target="#searchstore"></button>
    <button class="btn btn-primary btn-lg" style="display:none;" id="btnGetStock" onclick="InStorePickUp.prototype.ResetSKUAndStock();"></button>
    <button class="btn btn-primary btn-lg" style="display:none;" id="btnConfirmStorePopUp" data-toggle="modal" data-target="#Confirmstore"></button>
    @Html.Hidden("WebstoreURL", @ZnodeWebstoreSettings.ZnodeWebStoreUri);
    @Html.Hidden("AssociatedProducts", Json.Encode(Model.AssociatedProducts))
}
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&v=3&libraries=geometry" type="text/javascript"></script>
<script src="../../../../../Views/Themes/RogansShoes/Scripts/lib/PickUpInStore.js"></script>