﻿@using Znode.Engine.WebStore.ViewModels
@model List<HighlightsViewModel>
@{
    Layout = null;
}
<div id="product-highlights">
    <ul>
        @if (!Equals(Model, null))
            {
                foreach (HighlightsViewModel highlight in Model)
                {
				<div>@highlight.HighlightName</div>
                <li>
                    @if (!highlight.DisplayPopup)
                    {
                        <a href="../Product/GetHighlightInfo?highLightId=@highlight.HighlightId&productId=@highlight.PublishProductId" id="highlightInfo">
                            <img title="@highlight.HighlightName" src="@highlight.MediaPath" onclick="javascript:void(0)" class="img-responsive" />
                        </a>
                    }
                    else
                    {
                        <a href="@highlight.Hyperlink" target="_blank">
                            <img title="@highlight.HighlightName" src="@highlight.MediaPath" class="img-responsive" />
                        </a>
                    }
                </li>
            }
        }
    </ul>
</div>
<script>
   jQuery('img').on('error', function (e) {
       this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
   });
</script>






