﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@using System.Configuration
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }
    // Nivi code image changes start
    string PDPVideoURL = "";
    string NewPDPVideoURL = "";
    PDPVideoURL = Model.Attributes?.Value("VideoURL");
    if (PDPVideoURL != null)
    {
        PDPVideoURL = Model.Attributes?.Value("VideoURL");

        string s2 = "https://";
        string s1 = "http://";

        bool str1 = PDPVideoURL.Contains(s2);
        bool str2 = PDPVideoURL.Contains(s1);

        if (str1 == false)
        {
            if (str2 == true)
            {
                NewPDPVideoURL = PDPVideoURL.Replace("http", "https");
            }
            else
            {
                NewPDPVideoURL = String.Concat(s2, PDPVideoURL);
            }
        }
        else
        {
            NewPDPVideoURL = PDPVideoURL;
        }
    }

    bool IsMobile = false;
    string GallaryfolderName = @"t_170/";
   
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "", BaseImageAtt = "",
    BaseGalleryImage1 = "", BaseGalleryImage2 = "", BaseGalleryImage3 = "", BaseGalleryImage4 = "",
    BaseGalleryZoomImage1 = "", BaseGalleryZoomImage2 = "", BaseGalleryZoomImage3 = "", BaseGalleryZoomImage4 = "";

    BaseImageAtt = Convert.ToString(Model.Attributes?.Value("BaseImage"));
    string BaseGalleryAttImage1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage1"));
    string BaseGalleryAttImage2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"));
    string BaseGalleryAttImage3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage3"));
    string BaseGalleryAttImage4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage4"));

    string BaseGalleryAltAttText1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText1"));
    string BaseGalleryAltAttText2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText2"));
    string BaseGalleryAltAttText3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText3"));
    string BaseGalleryAltAttText4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText4"));
    bool IsAvailableGallery1 = false, IsAvailableGallery2 = false,
     IsAvailableGallery3 = false, IsAvailableGallery4 = false;
    if (BaseImageAtt != null)
    {
        BaseImage = BaseImagePath + @"t_1000/" + BaseImageAtt;
    }
    if (BaseGalleryAttImage1 != "")
    {
        BaseGalleryImage1 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage1;
        BaseGalleryZoomImage1 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage1;
        IsAvailableGallery1 = true;
    }
    if (BaseGalleryAttImage2 != "")
    {
        BaseGalleryImage2 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage2;
        BaseGalleryZoomImage2 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage2;
        IsAvailableGallery2 = true;
    }
    if (BaseGalleryAttImage3 != "")
    {
        BaseGalleryImage3 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage3;
        BaseGalleryZoomImage3 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage3;
        IsAvailableGallery3 = true;
    }
    if (BaseGalleryAttImage4 != "")
    {
        BaseGalleryImage4 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage4;
        BaseGalleryZoomImage4 = BaseImagePath + @"t_1000/" + BaseGalleryAttImage4;
        IsAvailableGallery4 = true;
    }
    // Nivi code image changes end
}
<script type="text/javascript">
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
        @IsMobile =true;
}
else{
    @IsMobile = false;
    }
</script>
<style>
    .font-sizehome {
        opacity: 1;
    }

    .product-view-details .product-images .owl-theme .owl-buttons img {
        display: none !important;
    }
</style>

<div class="col-xs-12 nopadding simpleLens-gallery-container">

    <div class="col-sm-10 col-lg-10 col-md-12 col-xs-12 image-view nopadding-right order1 nopadding-potrait">
        <div class="col-xs-12 nopadding" id="slider">
            <!-- Right side slider -->
            <div>
                <div class="col-sm-12 mobile-no-padding nopadding" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <!-- Image Call-->
                        <div class="active item" id="ImageZoom" data-slide-number="0" data-toggle="modal" data-target="#myModal">
                            <div class="simpleLens-container">
                                <div class="simpleLens-big-image-container image-view">
                                    <div class="ex1" id="image-1">
                                        <a href="@BaseImage" class="easyzoom-img" title="'@(Model.Attributes?.Value("ImageAltText"))">
                                            <img id="product-image" src="@BaseImage" class="imgfixed" alt="'@(Model.Attributes?.Value("ImageAltText"))" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Video Call-->
                        <div class="VideoURL text-center">
                            <center>
                                <iframe width="100%" height="400" class="YouTubeFrame" src="@NewPDPVideoURL"></iframe>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-2 col-xs-12 item nopadding order2" id="slider-thumbs">
        <div class="col-xs-12 nopadding product-altimages ProductGallarymain">
            <div id="alt-images" class="owl-carousel owl-carousel-Mobile alternate-img simpleLens-thumbnails-container Product_Altimages owl-themepdp">
                <!--Gallary Image Call-->
                @if (IsAvailableGallery1 == true)
                {
                    <div class="item" id="image-1" onclick="setVisibility('VideoURL', 'none');">
                        <a onclick="ChangeImage('@BaseGalleryZoomImage1')" href="#" data-toggle="modal" data-target="#myModalMobile">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage1))
                            {
                                <img src=@BaseGalleryImage1 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1">
                            }
                        </a>
                    </div>
                }
                @if (IsAvailableGallery2 == true)
                {
                    <div class="item" id="image-2" onclick="setVisibility('VideoURL', 'none');" ;>
                        <a onclick="ChangeImage('@BaseGalleryZoomImage2')" href="#">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage2))
                            {
                                <img src=@BaseGalleryImage2 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText2" title="@BaseGalleryAltAttText2">
                            }
                        </a>
                    </div>
                }
                @if (IsAvailableGallery3 == true)
                {
                    <div class="item" id="image-3" onclick="setVisibility('VideoURL', 'none');" ;>
                        <a onclick="ChangeImage('@BaseGalleryZoomImage3')" href="#">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage3))
                            {
                                <img src=@BaseGalleryImage3 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText3" title="@BaseGalleryAltAttText3">
                            }
                        </a>
                    </div>
                }
                @if (IsAvailableGallery4 == true)
                {
                    <div class="item" id="image-4" onclick="setVisibility('VideoURL', 'none');" ;>
                        <a onclick="ChangeImage('@BaseGalleryZoomImage4')" href="#">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage4))
                            {
                                <img src=@BaseGalleryImage4 class="img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText4" title="@BaseGalleryAltAttText4">
                            }
                        </a>
                    </div>
                }
                <!-- Code by Nivi for VideoURL-->
                @if (PDPVideoURL != null)
                {
                    <div class="hidden-lg hidden-md visible-xs">
                        <div class="item1 mobile-item">
                            <div class="VideoURL text-center">
                                <center><iframe class="YouTubeFrame" src="@NewPDPVideoURL"></iframe></center>
                            </div>
                        </div>
                    </div>
                }
                @if (PDPVideoURL != null)
                {
                    <div class="hidden-xs">
                        <div class="item1">
                            <a href="#" class="thumbnail liVideoHide" onclick="setVisibility('VideoURL', 'inline');" ;>
                                <img src="~/Views/Themes/RogansShoes/Images/videoicon.jpg" alt="Video" title="Play Video" />
                            </a>
                        </div>
                    </div>
                }

            </div>
            <div class="customNavigation hidden-lg hidden-md visible-xs hidden-sm">
                <a class="prev"></a>
                <a class="next"></a>
            </div>
        </div>
    </div>
</div>



@Html.Hidden("IsMobileCase", @IsMobile)

<!--Nivi Code Video URL call-->
<script language="JavaScript">
    function setVisibility(id, visibility) { $(".simpleLens-container").show(); $(".VideoURL").hide() }
    $(".liVideoHide").click(function () { $(".VideoURL").show(); $(".simpleLens-container").hide() })
</script>


<script>
    $(document).ready(function () {
        var owl = $(".owl-carousel-Mobile");
        owl.owlCarousel({
            rewindNav: false,
            pagination: true,
            items: 4,
            itemsCustom: [
                [0, 1],
                [320, 4],
                [480, 4],
                [600, 4],
                [768, 6],
                [992, 5],
                [1200, 6]
            ],
            margin: 10,
            loop: false,
            navigation: true,
            navigationText: [
                "<img src='../Views/Themes/RogansShoes/Images/Leftarrow.png'/>",
                "<img src='../Views/Themes/RogansShoes/Images/Rightarrow.png'/>"
            ]
        });
        // Custom Navigation Events
        $(".next").click(function () {
            owl.trigger('owl.next');
        })
        $(".prev").click(function () {
            owl.trigger('owl.prev');
        })
    });
</script>
