﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{
    TempData[WebStoreConstants.ProductCount] = Model?.Products?.Count;
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string productCount = "";
    string searchResult = "";
    if (searchTerm != null)
    {
        string s = Model.TotalProductCount.ToString();
        productCount = s.Split(new string[] { "for" }, StringSplitOptions.None)[0];
    }
    else
    {
        productCount = Model.TotalProductCount.ToString();
    }
    string searchValue = string.IsNullOrEmpty(Model.SuggestTerm) ? Model.SearchKeyword : Model.SuggestTerm;

}
@if (!string.IsNullOrEmpty(Model.RedirectToPDP))
{
    Response.Redirect(Model.RedirectToPDP);
}


@if (Model?.Products?.Count > 0)
{
    var categoryName = Model.Products.First()?.CategoryName;

<div class="col-xs-12 product-grid nopadding" id="MiddleColumn">
    <div class="col-sm-12 nopadding">

        @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
            {
                <div class="col-sm-12 nopadding margin-bottom">
                    <p data-test-selector="lblShowingResults">Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                    <p data-test-selector="lblSearchInstedOf">Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
                </div>
            }
            else if (!Equals(Model.SearchResultCountText, null))
            {
                <p class="search-result hidden" data-test-selector="lblSearchResult">@Html.RenderBlock(Model.SearchResultCountText)</p>
            }
        }
    </div>
    <div class="col-sm-12 nopadding">
        <div class="col-xs-12 nopadding" id="pagingsearching">
            <lable class="hidden" itemprop="numberOfItems">@productCount</lable>
            <div class="PageSort">
                @Html.Partial("../Search/_PagingSearching", Model)
            </div>
        </div>
    </div>
    <link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
    <div class="col-xs-12 product-view nopadding">
        <ul data-test-selector="listProductsContainer" id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
            @{
                if (!Equals(Model, null))
                {
                    int counter = 1;

                    foreach (var p in Model.Products)
                    {
                    <li data-test-selector="listProductsList" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <meta itemprop="position" content="@counter" />
                        <article class="product-item">
                            @Html.Partial("../Product/_ProductTile", p)
                        </article>
                    </li>
                        counter = counter + 1;
                    }
                }
            }
        </ul>

        <div id="loading" class="loader" style="display:none;"></div>
    </div>
    <div class="col-lg-12 nopadding margin-top" id="pagingsearching">
        @Html.Partial("../Search/_FooterPagination", Model)
    </div>
</div>
}
else
{
    if (!string.IsNullOrEmpty(Model.SearchTextName) && Model.SearchTextName != "Search")
    {

        <div class="col-sm-12 nopadding">
            @string.Format(WebStore_Resources.ErrorProductSearchResult, Model.SearchTextName)
        </div>
    }
    else
    {
        <div class="col-sm-12 nopadding margin-bottom mobile-error-msg" data-test-selector="divResultFoundMessage">
            @Html.RenderBlock(WebStore_Resources.NoSearchResultsFound?.Replace("{0}", searchTerm))
        </div>
    }
}

<script>
    $(document).ready(function () {
    var async = '@Helper.IsAsyncPrice';
    if (async == 'True') {
        Product.prototype.GetPriceAsync();
    }
        $("#searchTextBox").val('@Html.RenderBlock(searchValue)');

})
</script>