﻿@using Znode.Engine.WebStore.ViewModels
@*@model List<ProductViewModel>*@
@model List<RecentViewModel>

@if (Model?.Count > 0)
{
    var _productCount = ViewBag.ProductCount;
    <div class="CustomTitle"><div>@Html.RenderMessage("RecentlyViewProduct")</div></div>
    <div class="owl-carousel Recent_View_Products_relProduct">
        @{
            foreach (var p in Model)
            {
                @Html.Partial("../Product/_ProductList", p)
            }
        }
    </div>
            }
<script>
    var navigationFlag = @Model.Count > 5 ? true :false;
    $(".Recent_View_Products_relProduct").owlCarousel({
        autoPlay: false,
        navigation: navigationFlag,
        items: 5,
        itemsCustom: [
          [0, 1],
          [320, 1],
          [480, 2],
          [600, 2],
          [768, 3],
          [992, 3],
          [1200, 5]
        ],
        navigationText: [
            "<i class='fa fa-arrow-circle-left font-sizehome hidden-xs'></i>",
            "<i class='fa fa-arrow-circle-right font-sizehome hidden-xs'></i>"
        ]
    });

    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });

    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
</script>
