﻿@model Znode.Engine.WebStore.ViewModels.ProductReviewViewModel
<div class="col-xs-12 nopadding product-review setborder-review">
    <div class="col-xs-12 nopadding review-title">
        <h5>@Html.Partial("_StarRating", Model.Rating)  @Html.RenderBlock(Model.Headline)</h5>
    </div>
    @{
       
        string[] UsernameArray = Convert.ToString(Model.UserName).ToString().Split('/');
        string Username = "";
        try
        {
            Username = UsernameArray[0];
        }
        catch { Username = ""; }
    }

    <div class="col-xs-12 nopadding review-meta">@string.Format(WebStore_Resources.ReviewCreateTime, Username, Model.UserLocation, Model.CreatedDate)</div>
    @*<div class="col-xs-12 nopadding review-meta">@string.Format(WebStore_Resources.ReviewCreateTime, @Model.UserName, Model.UserLocation, Model.CreatedDate)</div>*@

    <div class="col-xs-12 nopadding review-body">
        @Html.RenderBlock(Model.Comments)
    </div>
</div>

<script async>
    $(document).ready(function () {

       var data = {
               "@@type": "Review",
               "reviewBody": "@Model.Headline",
               @*"author": { "@@type": "Person", "name": "@Model.UserName" },*@
                "author": { "@@type": "Person", "name": "@Username" },
               "reviewRating": { "@@type": "Rating", "bestRating": "5", "ratingValue": "@Model.Rating" }
       }
       var divdata = $("#hiddenProductReviewMetaTag").html();

       divdata = divdata + JSON.stringify(data) + ",";       
       $("#hiddenProductReviewMetaTag").html(divdata );
   });
</script>