﻿@model Znode.Engine.WebStore.ViewModels.ProductAllReviewListViewModel
@using System.Configuration;
@using Znode.Engine.WebStore.Models
@{
    string sort = Request.QueryString["Sort"] ?? "0";
string pageno = Request.QueryString["pagenumber"]?.ToString();
string imagepath = Request.QueryString["path"]?.ToString();
string path = imagepath.Replace(ConfigurationManager.AppSettings["BaseImagePath"].ToString() + "t_1000/", "");
if (pageno == null)
{
    pageno = "1";
}

}
<div id="layout-allreviews" class="main-wrapper">
    <div class="container">
        <div class="all-reviews">
            <div class="col-xs-12 nopadding page-title">
                <h1 class="PageTitle">@WebStore_Resources.TextCustomerReviews</h1>
            </div>
            <div class="col-sm-offset-2 col-md-offset-5" id="pagingsearching">
                <div id="layout-paging">
                    <div class="search-paging col-xs-12 col-sm-8 margin-top nopadding">
                        <div class="col-xs-7 nopadding search-pagination sort-review rating-sort">
                            @*<span class="label">@WebStore_Resources.labelPageName</span>*@
                            <ul>
                                <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeft" id="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="prev-page-search" class="button" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                                <li><span>@pageno</span></li>
                                <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRight" id="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="next-page-search" class="button" title="Next"><i class='zf-arrow-right-big'></i></a></li>
                                <li><span>Of @Model.TotalPages</span></li>
                            </ul>
                            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
                        </div>
                        <div class="col-xs-4 nopadding">
                            @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
                        </div>
                    </div>
                </div>
                <div id="layout-search">
                    <div class="search-sorting col-xs-12 col-sm-4 margin-top nopadding">
                        <div>
                            @Html.DropDownList("Sort", new[] {
                           new SelectListItem() {Text = WebStore_Resources.TextNewestFirst, Value = WebStoreConstants.NewestFirst, Selected = sort == WebStoreConstants.NewestFirst},
                           new SelectListItem() {Text = WebStore_Resources.TextOldestFirst, Value = WebStoreConstants.OldestFirst,  Selected = sort == WebStoreConstants.OldestFirst },
                           new SelectListItem() {Text = WebStore_Resources.TextHighestRatingFirst, Value = WebStoreConstants.HighestRatingFirst ,Selected = sort == WebStoreConstants.HighestRatingFirst},
                           new SelectListItem() {Text = WebStore_Resources.TextLowestRatingFirst, Value = WebStoreConstants.LowestRatingFirst,  Selected = sort == WebStoreConstants.LowestRatingFirst} })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 nopadding margin-top-bottom">
                <div class="col-xs-12 nopadding margin-top">
                    <h1 class="review-productname pull-left margin-bottom">
                        @if (!string.IsNullOrEmpty(Model.ProductName))
                        {
                            @Html.RenderBlock(Model.ProductName)
                        }
                    </h1>
                    <div class="pull-right">
                        <a href="@Url.GetProductUrl(Model.AllReviewsList.FirstOrDefault().SEOUrl, Convert.ToString(Model.ProductId))" class="btn btn-primary" title="@WebStore_Resources.SubTitleProductReview">@WebStore_Resources.SubTitleProductReview</a>
                        @Html.ActionLink(WebStore_Resources.LinkTextWriteReview, "Writereview", "Product", new { id = @Model.ProductId, name = @Model.ProductName, path = @path }, new { @class = "btn btn-primary", @title = WebStore_Resources.LinkTextWriteReview })
                    </div>
                </div>
                <div id="reviewrowlist">
                    @foreach (var item in Model.AllReviewsList)
                    {
                        @Html.Partial("_ReviewRow", item)
                    }
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.ProductId)
        @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
    </div>
</div>
<script>
    $(window).on("load", function () {
        ZSearch.prototype.Init();
    });
</script>
