﻿@model Znode.Engine.WebStore.ViewModels.HighlightsViewModel
<div class="container bio-certified product-view-details main-wrapper">
    <div id="highlightInfo">
        <div class="location">
            <h3 class="location-title">@Model.HighlightName</h3>
        </div>
        @Html.RenderBlock(Model.Description)
    </div>
    <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">@WebStore_Resources.BackNavigation</a>
</div>