﻿@using Znode.Engine.WebStore.ViewModels
@using System.Configuration

@model ProductReviewViewModel
@{

    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string imagepath = Request.QueryString["Path"];
    if (Convert.ToString(imagepath) != "")
    {
        imagepath = BaseImagePath + @"t_170/" + Convert.ToString(imagepath);
    }
    string img = "";
    var newimgr = "";
    try
    {
        img = Request.UrlReferrer.AbsoluteUri.ToString();
        newimgr = img.Substring(img.IndexOf(@"path=") + 5);
        newimgr= BaseImagePath + @"t_170/" + Convert.ToString(newimgr);
    }
    catch
    { }
    //Geting domainName;
    var headers = HttpContext.Current.Request.Headers;
    const string domainHeader = "Znode-DomainName";
    string domain = string.IsNullOrEmpty(headers[domainHeader]) ? HttpContext.Current.Request.ServerVariables.Get("HTTP_HOST").Trim() : headers[domainHeader].ToString();
    ViewBag.URLdomain = domain;
    string success = Convert.ToString(TempData["Notifications"]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<style>
    .styled-input input[type=checkbox] + label {
        padding-left: 20px;
        margin: 0px 20px 0px 0px;
    }

    .checkbox-inline, .radio-inline {
        margin-left: 20px;
        margin-top: -5px;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div id="layout-writereview" class="main-wrapper">
    <div class="container">
        <div class="row write-review">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding margin-bottom">
                <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12">
                    <div class="col-lg-12 col-xs-12 nopadding">
                        @if (success.Contains("success"))
                        {
                            <a href="/" class="btn btn-primary margin-bottom margin-top">@WebStore_Resources.ButtonContinueShopping</a>
                        }
                        else
                        {
                            
                        }
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 margin-bottom nopadding">
                        <div class="col-xs-12 nopadding">
                            <div class="PageTitle">
                                <h2><a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())" class="cart-item-title" title="@Html.RenderBlock(Model.ProductName)">@Html.RenderBlock(Model.ProductName)</a></h2>
                            </div>
                            <div class="image">
                                @{
                                    string imageSrc = string.IsNullOrEmpty(imagepath) ? "/no-image.png" : imagepath;
                                }
                                @{
                                    if (success.Contains("success"))
                                    {
                                        string successimg = string.IsNullOrEmpty(newimgr) ? "/no-image.png" : newimgr;
                                        <img src="@successimg" class="img-responsive" data-src="@successimg" alt="Product" />
                                    }
                                    else
                                    {
                                        <img src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" />
                                    }
                                   }
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 margin-bottom nopadding-mobile">
                        <div class="PageTitle">
                           <h1 style="padding: 0px;">Write A @WebStore_Resources.TitleProductReview </h1>
                        </div>
                        <div>
                            <p>@Html.RenderMessage("ProductReviewText")</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 nopadding LableForm">
                <div class="col-lg-8 col-md-12 col-sm-8 col-xs-12 nopadding-mobile" id="productreview">
                    <form method="POST" action="/Product/WriteReview/@Model.PublishProductId" class="form">
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12 nopadding write-review-label">
                            <div class="form-group">
                                <div class="col-xs-12 nopadding margin-bottom">
                                    <div class="col-xs-12">
                                        @Html.TextBoxFor(m => m.Headline, new { @id = "review_subject", @required = "required", @title = @WebStore_Resources.ColumnReviewHeadline })
                                        <label for="review_subject" placeholder="@WebStore_Resources.ColumnReviewHeadline"><span>@WebStore_Resources.ColumnReviewHeadline</span></label>
                                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Headline)</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding star-rating setrating reviewborder">
                                    <div class="col-xs-12">
                                        <label class="margin-top"><strong>@WebStore_Resources.LableOverallRating</strong></label>
                                    </div>
                                    <div class="col-xs-12">
                                        <label for="set-rating1" class="margin-bottom zf-star-full-fill star1 @(Model.Rating >= 1 ? " full" : "empty" )" data-stars="1" title="Not good"><span>Not good</span></label>
                                        <label for="set-rating2" class="zf-star-full-fill star2 @(Model.Rating >= 2 ? " full" : "empty" )" data-stars="2" title="Needs that Special Something"><span>Needs that Special Something</span></label>
                                        <label for="set-rating3" class="zf-star-full-fill star3 @(Model.Rating >= 3 ? " full" : "empty" )" data-stars="3" title="Average , Ordinary"><span>Average , Ordinary</span></label>
                                        <label for="set-rating4" class="zf-star-full-fill star4 @(Model.Rating >= 4 ? " full" : "empty" )" data-stars="4" title="That's Good Stuff"><span>That's Good Stuff</span></label>
                                        <label for="set-rating5" class="zf-star-full-fill star5 @(Model.Rating >= 5 ? " full" : "empty" )" data-stars="5" title="Excellent , Perfect"><span>Excellent , Perfect</span></label>
                                        @Html.HiddenFor(model => model.Rating)
                                        <p class="error-msg rating-margin-top">@Html.ValidationMessageFor(m => m.Rating)</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding styled-input">
                                    <div class="col-xs-12 margin-top">
                                        <label><strong>@WebStore_Resources.TextPros</strong></label>
                                    </div>
                                    <div class="col-xs-12 margin-top margin-bottom">
                                        <span><input type="checkbox" value="Comfortable" class="chkPros" id="Comftable"><label for="Comftable">Comfortable</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextProsDurable" class="chkPros" id="Durable"> <label for="Durable">@WebStore_Resources.TextProsDurable</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextProsGoodFit" class="chkPros" id="Goodfit"><label for="Goodfit">@WebStore_Resources.TextProsGoodFit</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextProsStylish" class="chkPros" id="Stylish"><label for="Stylish">@WebStore_Resources.TextProsStylish</label></span>
                                        @Html.HiddenFor(model => model.SEODescription)  @*used for Pros*@
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding styled-input reviewborder">
                                    <div class="col-xs-12 margin-top">
                                        <label><strong>@WebStore_Resources.TextCons</strong></label>
                                    </div>
                                    <div class="col-xs-12 margin-top margin-bottom">
                                        <span><input type="checkbox" value="@WebStore_Resources.TextConsBulky" id="Bulky" class="chkCons"><label for="Bulky">@WebStore_Resources.TextConsBulky</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextConsPoorQuality" id="PoorQ" class="chkCons"><label for="PoorQ">@WebStore_Resources.TextConsPoorQuality</label></span>
                                        <span class="margin-bottom"><input type="checkbox" value="@WebStore_Resources.TextConsWearsQuickly" id="Wears" class="chkCons"><label for="Wears">@WebStore_Resources.TextConsWearsQuickly</label></span>
                                        @Html.HiddenFor(model => model.SEOKeywords)  @*used for Cons*@

                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding styled-input">
                                    <div class="col-xs-12 margin-top">
                                        <label><strong>@WebStore_Resources.TextBestUser</strong></label>
                                    </div>
                                    <div class="col-xs-12 margin-top margin-bottom">
                                        <span><input type="checkbox" value="@WebStore_Resources.TextRunningUser" class="chkBestUser" id="Running"><label for="Running">@WebStore_Resources.TextRunningUser</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextUserCasualWear" class="chkBestUser" id="Casual"><label for="Casual">@WebStore_Resources.TextUserCasualWear</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextUserWalking" class="chkBestUser" id="Walking"><label for="Walking">@WebStore_Resources.TextUserWalking</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextUserHiking" class="chkBestUser" id="Hiking"><label for="Hiking">@WebStore_Resources.TextUserHiking</label></span>
                                        <span><input type="checkbox" value="@WebStore_Resources.TextUserFormalDress" class="chkBestUser" id="DressF"><label for="DressF">@WebStore_Resources.TextUserFormalDress</label></span>
                                        @Html.HiddenFor(model => model.SEOTitle) @*used for BestUser*@
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding reviewborder">
                                    <div class="col-xs-12 margin-top margin-bottom">
                                        @Html.TextAreaFor(m => m.Comments, new { @id = "review_text", rows = "10", cols = "50", @required = "required",@class = "TextBoxrogan"})
                                        <label for="review_text"placeholder="@WebStore_Resources.ColumnReview" class="reviewlabelset"><span>@WebStore_Resources.ColumnReview</span></label>
                                        <p class="error-msg commenterror">@Html.ValidationMessageFor(m => m.Comments)</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding userinformation">
                                    <div class="col-xs-12 styled-input margin-top margin-bottom">
                                        <label><strong>@WebStore_Resources.LableWhatIsYourGender</strong></label>
                                        <span class="checkbox-inline writereview-chcekbox">
                                            <input type="checkbox" value="@WebStore_Resources.TextMale" id="Male" class="chkGender" name="fooby[1][]"><label for="Male">@WebStore_Resources.TextMale</label>
                                        </span>
                                        <span class="checkbox-inline writereview-chcekbox">
                                            <input type="checkbox" value="@WebStore_Resources.TextFemale" id="Female" class="chkGender" name="fooby[1][]"><label for="Female">@WebStore_Resources.TextFemale</label>
                                        </span>
                                        @Html.HiddenFor(model => model.Status)  @*used for gender*@
                                    </div>
                                    <div class="col-xs-12 styled-input margin-bottom">
                                        <label><strong>@WebStore_Resources.LableRecommendProduct</strong></label>
                                        <span class="checkbox-inline writereview-chcekbox">
                                            <input type="checkbox" value="@WebStore_Resources.TextYes" id="Yes" class="chkRecommend" name="fooby[2][]"><label for="Yes">@WebStore_Resources.TextYes</label>
                                        </span>
                                        <span class="checkbox-inline writereview-chcekbox">
                                            <input type="checkbox" value="@WebStore_Resources.TextNo" id="No" class="chkRecommend" name="fooby[2][]"><label for="No">@WebStore_Resources.TextNo</label>
                                        </span>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-md-6 nopadding">
                                    <div class="col-xs-12 margin-bottom">
                                        @Html.TextBoxFor(m => m.Duration, new { @id = "review_name", @required = "required", @title = @WebStore_Resources.ColumnReviewName })
                                        <label for="review_name" placeholder="@WebStore_Resources.ColumnReviewName"><span>@WebStore_Resources.ColumnReviewName</span></label>
                                        <p class="form-error">@Html.ValidationMessageFor(m => m.UserName)</p>
                                    </div>
                                    <div class="col-xs-12 margin-bottom">
                                        @Html.TextBoxFor(m => m.UserName, new { @alt = @WebStore_Resources.ColumnReviewEmail, @id = "review_email", @required = "required", @title = @WebStore_Resources.ColumnReviewEmail })
                                        <label for="review_email" placeholder="@WebStore_Resources.ColumnReviewEmail"><span>@WebStore_Resources.ColumnReviewEmail</span></label>
                                        <p class="error-msg">@Html.ValidationMessage("Errreview_email", "", new { @id = "Errreview_email" })</p>
                                    </div>
                                    <div class="col-xs-12 margin-bottom">
                                        @Html.TextBoxFor(m => m.UserLocation, new { @id = "review_location", @required = "required", @title = @WebStore_Resources.ColumnReviewLocation })
                                        <label for="review_location" placeholder="@WebStore_Resources.ColumnReviewLocation"><span>@WebStore_Resources.ColumnReviewLocation</span></label>
                                        <p class="error-msg">@Html.ValidationMessageFor(m => m.UserLocation)</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="col-xs-12 nopadding margin-top text-justify">
                                        <p class="Instruction">@WebStore_Resources.TextReviews</p>
                                    </div>
                                    <div class="col-xs-12 margin-top nopadding">
                                        @* onclick="SubmitReviews()" *@
                                        <button type="submit" class="btn btn-bg-secondary text-uppercase">@WebStore_Resources.ButtonSubmitReview</button>
                                        <a href="@Url.GetProductUrl(Model.SEOUrl, Convert.ToString(Model.PublishProductId))" class="btn btn-bg-secondary text-uppercase geturl">@WebStore_Resources.ButtonCancel</a>
                                        <input type="hidden" value="@ViewBag.URLdomain" id="URLdomain" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.PublishProductId)
                        @Html.HiddenFor(m => m.ProductName)
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Views/Themes/RogansShoes/Scripts/lib/CustomizeJS/PDP.js" async></script>

<script>
    $("input:checkbox").on("click", function () { var c = $(this); if (c.is(":checked")) { var e = "input:checkbox[name='" + c.attr("name") + "']"; $(e).prop("checked", !1), c.prop("checked", !0) } else c.prop("checked", !1) });
    //$(".form").on("submit", function () { var e = []; $(".chkPros:checked").each(function () { e.push($(this).val()) }); var a = e.join(","), t = []; $(".chkCons:checked").each(function () { t.push($(this).val()) }); var i = t.join(","), r = []; $(".chkBestUser:checked").each(function () { r.push($(this).val()) }); var h = r.join(","), c = []; $(".chkGender:checked").each(function () { c.push($(this).val()) }); var n = c.join(","), l = []; $(".chkRecommend:checked").each(function () { l.push($(this).val()) }); var o = l.join(","), s = []; $("a.geturl").each(function () { s.push($(this).attr("href")) }); var v = s.join(","), u = $("#URLdomain").val(); if ($("#SEODescription").val(a), $("#SEOKeywords").val(i), $("#SEOTitle").val(h), n += "#" + o + "#" + u + v, $("#Status").val(n), (a = $("#review_email").val()).length < 1 && ($("#Errreview_email").html(ZnodeBase.prototype.getResourceByKeyName("ValidEmailRequired")), flag = !1), $.trim($("#review_text").val()).length < 100) return $('[data-valmsg-for="Comments"]').replaceWith("Please enter atleast 100 characters review."), !1; $.trim($("#review_text").val()).length >= 100 && $(".reviewborder p:eq(1)").html(''); });
	$(".form").on("submit", function () { var e = []; $(".chkPros:checked").each(function () { e.push($(this).val()) }); var a = e.join(","), t = []; $(".chkCons:checked").each(function () { t.push($(this).val()) }); var i = t.join(","), r = []; $(".chkBestUser:checked").each(function () { r.push($(this).val()) }); var h = r.join(","), c = []; $(".chkGender:checked").each(function () { c.push($(this).val()) }); var n = c.join(","), l = []; $(".chkRecommend:checked").each(function () { l.push($(this).val()) }); var o = l.join(","), s = []; $("a.geturl").each(function () { s.push($(this).attr("href")) }); var v = s.join(","), u = $("#URLdomain").val(); if ($("#SEODescription").val(a), $("#SEOKeywords").val(i), $("#SEOTitle").val(h), n += "#" + o + "#" + u + v, $("#Status").val(n), (a = $("#review_email").val()).length < 1 && ($("#Errreview_email").html(ZnodeBase.prototype.getResourceByKeyName("ValidEmailRequired")), flag = !1)); $.trim($("#review_text").val()).length >= 100 && $(".reviewborder p:eq(1)").html(''); });
    //Validate email address Start
    $("#review_email").keyup(function () { var e = $("#review_email").val(); e.length < 1 ? ($("#Errreview_email").html(ZnodeBase.prototype.getResourceByKeyName("ValidEmailRequired")), flag = !1) : ($("#Errreview_email").html(""), /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(e) || ($("#Errreview_email").html(ZnodeBase.prototype.getResourceByKeyName("ErrorEmailAddress")), flag = !1)) });
    $("#review_text").keyup(function () { return $("#review_text").val().length <= 100 ? 0 == $("#review_text").val().length ? $(".commenterror").text("Comment is required.") : ($('[data-valmsg-for="Comments"]').text("Please enter atleast 100 characters review."), $(".commenterror").text("Please enter atleast 100 characters review.")) : $("#review_text").val().length >= 500 ? $(".commenterror").text("Product Review can not exceed 500 characters.") : $(".commenterror").text("") });
     $(document).ready(function () {
        // alert("write review document.ready");
         AssignMetaDataToWriteReview();
         
        });
</script>
