﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@model AnalyticsViewModel

@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = "SaveAnalytics", Controller = "Store", CancelUrl = "/Store/List", FormId = "formTagManagerConfiguration", IsSaveCloseEnable = true };
    Model.PortalId = Convert.ToInt32(Request.QueryString["PortalId"]);
    string portalName = Model?.TagManager?.PortalName;
}

<div class="col-sm-12 title-container">
    <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelStore)<i class="z-minus"></i><span>@portalName</span></h1>
    <div class="pull-right">
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
        </div>
    </div>
</div>
<!--Main Container-->
<div id="TextWidgetConfigurationDiv" class="main-wrapper">
    <!--Left Panel-->
    @Html.Partial("~/views/store/_asidestoremanagepanel.cshtml")
    <!--Main Container-->
    <section class="main-container">
        @using (Html.BeginForm("SaveAnalytics", "Store", FormMethod.Post, new { id = "formTagManagerConfiguration" }))
        {
            <h3 class="section-heading" data-test-selector="hdgTagManager">@Admin_Resources.TitleTagManager</h3>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.TagManager.ContainerId, new { @data_test_selector = "lblContainerId" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @Html.TextBoxFor(model => model.TagManager.ContainerId, new { @data_test_selector = "txtContainerId" })
                            @Html.ValidationMessageFor(model => model.TagManager.ContainerId, "", new { @data_test_selector = "valContainerId" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-md control-non">
                    <label>
                        @if (Model.TagManager.GoogleTagManagerId < 1)
                        {
                            <input @("checked ='checked'") id="IsActive" name="TagManager.IsActive" type="checkbox" value="true" data-test-selector="chkIsActive">
                        }
                        else
                        {
                            <input @(Model.TagManager.IsActive ? "checked='checked'" : "") id="IsActive" name="TagManager.IsActive" type="checkbox" value="true" data-test-selector="chkIsActive">
                        }
                        <span class="lbl padding-8" for="IsActive">@Admin_Resources.LabelEnabled</span>
                    </label>

                </div>
            </div>

            //Google Analytics
            <h3 class="section-heading" data-test-selector="hdgGoogleAnalytics">@Admin_Resources.TitleGoogleAnalytics</h3>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.TagManager.AnalyticsUId, new { @data_test_selector = "lblAnalyticsUId" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @Html.TextBoxFor(model => model.TagManager.AnalyticsUId, new { @data_test_selector = "txtAnalyticsUId" })
                            @Html.ValidationMessageFor(model => model.TagManager.AnalyticsUId, "", new { @data_test_selector = "valAnalyticsUId" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-md control-non">
                    <label>
                        @if (Model.TagManager.GoogleTagManagerId < 1)
                        {
                            <input @("checked ='checked'") id="AnalyticsIsActive" name="TagManager.AnalyticsIsActive" type="checkbox" value="true" data-test-selector="chkAnalyticsIsActive">
                        }
                        else
                        {
                            <input @(Model.TagManager.AnalyticsIsActive ? "checked='checked'" : "") id="AnalyticsIsActive" name="TagManager.AnalyticsIsActive" type="checkbox" value="true" data-test-selector="chkAnalyticsIsActive">
                        }
                        <span class="lbl padding-8" for="AnalyticsIsActive">@Admin_Resources.LabelEnabled</span>
                    </label>
                </div>
            </div>

            <h3 class="section-heading" data-test-selector="hdgTrackingPixel">@Admin_Resources.TitleTrackingPixel</h3>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        <label>@Model.TrackingPixel.DisplayName1</label>
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(m => m.TrackingPixel.PixelId1, new { @data_test_selector = "txtPixelId1" })
                        @Html.ValidationMessageFor(m => m.TrackingPixel.PixelId1, "", new { @data_test_selector = "valPixelId1" })
                    </div>
                    @Html.Partial("_HelpText", Model.TrackingPixel.HelpTextPixel1 ?? string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        <label>@Model.TrackingPixel.DisplayName2</label>
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(m => m.TrackingPixel.PixelId2, new { @data_test_selector = "txtPixelId2" })
                        @Html.ValidationMessageFor(m => m.TrackingPixel.PixelId2, "", new { @data_test_selector = "valPixelId2" })
                    </div>
                    @Html.Partial("_HelpText", Model.TrackingPixel.HelpTextPixel2 ?? string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        <label>@Model.TrackingPixel.DisplayName3</label>
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(m => m.TrackingPixel.PixelId3, new { @data_test_selector = "txtPixelId3" })
                        @Html.ValidationMessageFor(m => m.TrackingPixel.PixelId3, "", new { @data_test_selector = "valPixelId3" })
                    </div>
                    @Html.Partial("_HelpText", Model.TrackingPixel.HelpTextPixel3 ?? string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        <label>@Model.TrackingPixel.DisplayName4</label>
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(m => m.TrackingPixel.PixelId4, new { @data_test_selector = "txtPixelId4" })
                        @Html.ValidationMessageFor(model => model.TrackingPixel.PixelId4, "", new { @data_test_selector = "valPixelId4" })
                    </div>
                    @Html.Partial("_HelpText", Model.TrackingPixel.HelpTextPixel4 ?? string.Empty)
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding tracking-input">
                        <div class="control-label">
                            <label>@Model.TrackingPixel.DisplayName5</label>
                        </div>
                        <div class="control-md">
                            <div class="margin-top-15">@Html.TextBoxFor(m => m.TrackingPixel.PixelId5, new { @data_test_selector = "txtPixelId5" })</div>                          
                            @Html.ValidationMessageFor(model => model.TrackingPixel.PixelId5, "", new { @data_test_selector = "valPixelId5" })
                        </div>
                        @Html.Partial("_HelpText", Model.TrackingPixel.HelpTextPixel5 ?? string.Empty)
                    </div>
                </div>
            </div>
                @Html.HiddenFor(model => model.PortalId)
                @Html.HiddenFor(model => model.TagManager.GoogleTagManagerId)
                @Html.HiddenFor(model => model.TagManager.PortalId)
                @Html.HiddenFor(model => model.TrackingPixel.PortalId)
                @Html.HiddenFor(m => m.TrackingPixel.PortalPixelTrackingId)
                @Html.HiddenFor(m => m.TrackingPixel.CodePixel1)
                @Html.HiddenFor(m => m.TrackingPixel.CodePixel2)
                @Html.HiddenFor(m => m.TrackingPixel.CodePixel3)
                @Html.HiddenFor(m => m.TrackingPixel.CodePixel4)
                @Html.HiddenFor(m => m.TrackingPixel.CodePixel5)
                @Html.HiddenFor(m => m.TrackingPixel.DisplayName1)
                @Html.HiddenFor(m => m.TrackingPixel.DisplayName2)
                @Html.HiddenFor(m => m.TrackingPixel.DisplayName3)
                @Html.HiddenFor(m => m.TrackingPixel.DisplayName4)
                @Html.HiddenFor(m => m.TrackingPixel.DisplayName5)
        }

    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
