﻿@import "../_base.scss";

// Link Panel Widget
.link-panel-widget{display:inline-block; padding-left: 0; margin-bottom: 0; 
            li {list-style: none; display: inline-block;padding:2px;
                   img{height:30px;width:30px;}
              }       
}