﻿@using System.Linq;
@using Znode.Engine.WebStore.ViewModels;
@using Znode.Libraries.ECommerce.Utilities;
@using System.Configuration
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    List<AttributesViewModel> lst = Model.ConfigurableData.ConfigurableAttributes.Where(x => x.AttributeCode == "Color")?.ToList();
    string colorlist = string.Join(",", lst.FirstOrDefault().ConfigurableAttribute.Select(y => y.AttributeValue));
    //List<string> color = lst?.Count > 0 ? lst[0].ConfigurableAttribute.Select(y => y.AttributeValue)?.Distinct()?.ToList() : new List<string>();
    //string colorlist = "";
    //color.ForEach(col => { colorlist = colorlist == "" ? colorlist + col : colorlist + "," + col; });
    string path = HttpContext.Current.Request.Url.ToString();
    var DESC = Model.Attributes?.Value("LongDescription").Replace("\"", "'");
    var brand = Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand);
    string SKU = Model.SKU;
    SKU = SKU.Substring(3, SKU.Length - 3);
    //Image Changes
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImageAtt = Convert.ToString(Model.Attributes?.Value("BaseImage"));
    string BaseImage = "";
    if (BaseImageAtt != null)
    {
        BaseImage = BaseImagePath + @"t_1000/" + BaseImageAtt;
    }
}



<div id="layout-product" class="main-wrapper product-meta big-view-template ProductDetailsSection clearfix" data-id="@productId">
    <div class="container">
        <!-- Breadcrumb -->
        <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container breadcrumb-height"></div>
    </div>
    <div class="container">
        <div id="ProductDetail" class="nopadding">
            <div class="product-view-details MainProductBlock clearfix">
                <div class="row">

                    <div class="col-md-12 col-xs-12">
                        <!--Get Product Images hidden in Mobile View-->
                        <div class="col-xs-12 col-md-7 margin-top nopadding-left product-images LeftColumn hidden-xs" id="ProductImagedesktop">
                            <div class="col-lg-12 col-xs-12 nopadding" id="ProductImagemain">
                                <span>@Html.Partial("_ProductImage", Model)</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 nopadding-potrait nopadding-mobile margin-bottom" id="ShareButtonsmain">
                                <div class="Socail-Icon">
                                    <!-- AddThis font awesome icons,Email,Wishlist,Print BEGIN -->
                                    <div class="col-xs-12 nopadding margin-bottom">
                                        @Html.RenderMessage("SocialMediaIcons")
                                        @Html.Partial("_AddToWishList", Model)
                                        @*//Nivi Comment//*@
                                        <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
                                    </div>
                                    <!-- AddThis Button,Email,Wishlist,Print END -->
                                </div>
                            </div>
                        </div>
                        <!--Get Product details like short decription and higlights-->
                        <div class="col-xs-12 col-md-5 nopadding product-overview RightColumn">
                            @Html.Partial("_ProductOverview", Model)
                            <span id="ProductImagemobile"></span>
                            @Html.Partial("_ProductInfo", Model)
                            <span id="ShareButtonsmobile"></span>
                        </div>

                        <!--Get Product content like features and cutomer reviews-->
                        @Html.Partial("_ProductContent", Model)
                        <div class="col-xs-12 nopadding">
                            <div class="product-extras">
                                @Html.Partial("_ProductExtras", Model)
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>


    <div class="hidestickybar hidden" style="display:none" data-id="stickyBar">
        <div class="wcn-static-bar sticky-bar">
            <div class="container">
                <div class="col-lg-12 nopadding">
                    <div class="col-xs-11 col-sm-7 col-lg-7 col-ms-7 nopadding wcn-padding wcn-product-info">
                        <div class="pull-left padding-right">
                            <i class="zf-active"></i>
                        </div>
                        <div class="image">
                            <img src="" data-src="" class="img-responsive" alt="@Html.RenderBlock(Model.Name)" title="@Html.RenderBlock(Model.Name)">
                        </div>
                        <div class="wcn-product-detail">
                            <div class="padding-left-10 nopadding-right-10"><span class="addtocart-label"></span></div>

                            <div class="padding-left-10 nopadding-right-10"><span class="sku-label stickProductSKU"></span></div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-5 col-lg-5 col-md-5 nopadding wcn-product-info wcn-padding wcn-product-info-btn">
                        <button type="submit" onclick="window.location.href='/Cart/Index'" class="btn btn-primary margin-bottom-10 margin-top-10 pull-right" title="Cart">Cart</button>
                        @*<a data-test-selector="linkCheckout" href="/Checkout/Index" class="btn btn-primary margin-bottom-10 btn-color-yellow pull-right checkout-btn" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();">@WebStore_Resources.ButtonCheckout</a>*@
                        <a data-test-selector="linkCheckout" href="javascript:void(0)" class="btn btn-primary margin-bottom-10 btn-color-yellow pull-right checkout-btn" id="checkOut-link" onclick="return $('.hidestickybar').hide();">Continue Shopping</a>
                        <div class="close-btn sticky-btn" title="Close"><i class="zf-close-circle pull-right" onclick="return $('.hidestickybar').hide();"></i></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="hiddenProductReviewMetaTag" style="display:none"></div>

<script>
    $(document).ready(function () {
        document.title = "@Html.RenderBlock(Model.SEOTitle)";
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
@{Boolean IsProductRated = false;
    if (Convert.ToDecimal(@Model.Rating) > 0)
    {
        IsProductRated = true;

    }

}
<script src="~/Views/Themes/RogansShoes/Scripts/lib/CustomizeJS/PDP.js" async></script>
<script src="~/Views/Themes/RogansShoes/Scripts/lib/newjquery.zoom.js" async></script>


<!--Template Level Script-->
<!--Script for _ProductImage.cshtml and Socail Media Icons partial view-->
<script async>
    $(document).ready(function () { screen.width > 600 ? $("#ProductImagedesktop").append($("#ProductImagemain")) : $("#ProductImagemobile").append($("#ProductImagemain")) });
    $(document).ready(function () { screen.width > 600 ? $("#ProductImagedesktop").append($("#ShareButtonsmain")) : $("#ShareButtonsmobile").append($("#ShareButtonsmain")) });
</script>

<script async>
    $(document).ready(function () {
        if (window.outerWidth > 600) {
            $("#alt-images .owl-wrapper .owl-item .item").removeAttr("data-toggle").removeAttr("data-target");
        }
        if (window.innerWidth < 600) {
            $("#alt-images .owl-wrapper .owl-item .item").attr('data-toggle', 'modal');
            $("#alt-images .owl-wrapper .owl-item .item").attr('data-target', '#myModal');
        }
    });
    if (navigator.userAgent.match(/(iPad)/i)) {
        $("#carousel-bounding-box .slide .item").removeAttr("data-toggle").removeAttr("data-target");
    }
</script>
<!--Using For Move to error msg -->
<script async>
    $(".addtocartText").click(function () {
        if ($("#SizeError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#SizeError").offset().top
            }, 1000);
        }
        if ($("#WidthError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#WidthError").offset().top
            }, 1000);
        }
    });
</script>
<!--Using For Back Arrow -->
<script async>
    if (!!window.performance && window.performance.navigation.type === 2) { console.log('Reloading') }
    window.onpageshow = function (event) {
        if (event.persisted) { window.location.reload() }
    }
</script>

<!--Add Code by Nivi team for Structured Data-->
@if (IsProductRated)
{
    <div id="PDPSchema" style="display: none;">
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@Html.RenderBlock(Model.Name)",
        "image": "@Html.RenderBlock(BaseImage)",
        "url": "@path",
        "description": "@DESC",
        "color": "@colorlist",
        "sku": "@Html.RenderBlock(Model.SKU)",
        "brand": "@brand",
        "mpn" : "@SKU",
        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingValue": "@Model.Rating",
        "reviewCount": "@Model.ProductReviews.Count"
        },
        "offers": {
        "@@type": "AggregateOffer",
        "lowPrice": "@Model.SalesPrice",
        "highPrice": "@Model.SalesPrice",
        "priceCurrency": "USD",
        "seller": {
        "@@type": "Organization",
        "name": "Rogans Shoes"
        }
        }
    </div>
}
else
{
    <div id="PDPSchema" style="display: none;">
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@Html.RenderBlock(Model.Name)",
        "image": "@Html.RenderBlock(BaseImage)",
        "url": "@path",
        "description": "@DESC",
        "color": "@colorlist",
        "sku": "@Html.RenderBlock(Model.SKU)",
        "brand": "@brand",
        "mpn" : "@SKU",
        "offers": {
        "@@type": "AggregateOffer",
        "lowPrice": "@Model.SalesPrice",
        "highPrice": "@Model.SalesPrice",
        "priceCurrency": "USD",
        "seller": {
        "@@type": "Organization",
        "name": "Rogans Shoes"
        }
        }
    </div>
}

<script>
    $(document).ready(function () {
        var divdata = $("#dynamicPDPSchema").html();
        var reviewdata = $("#hiddenProductReviewMetaTag").html();
        reviewdata = reviewdata.slice(0, -1);
        reviewdata = '"Review": [' + reviewdata + "]}";
        var data = $("#PDPSchema").html() + "," + reviewdata + "}";
        divdata = '{' + divdata + data;
        $("#dynamicPDPSchema").html(divdata);
        $("#PDPSchema").html('');
        $("#hiddenProductReviewMetaTag").html('');
    });
</script>

<script id="dynamicPDPSchema" type="application/ld+json">
</script>
